﻿$head$
<!-- header end -->
<script type="text/javascript" src="$webvirtual$/js/extend.js"></script>
<script language="JavaScript" type="text/JavaScript">
$(document).ready(function() {
		var selects1 = new linkSelect({
		el: 'area',
	url: '/xml/city.xml',
			root: 'list78',
			field: 'list',
			text: 'Text',
			value: 'ID'
			});
		});
</script>
<!--content begin-->

<div id="content">
  <!--patch-->
  <div class="patch">
    <ol class="patch-5 step-2">
      <li class=li-1><span>1.</span>购物车 </li>
      <li class=li-2><span>2.</span>结帐（确认订单） </li>
      <li class=li-3><span>3.</span>付款 </li>
      <li class=li-4><span>4.</span>收货 </li>
      <li class=li-5><span>5.</span>成功 </li>
    </ol>
  </div>
  <div class="clear"></div>
  <form action="$webvirtual$/products/buysave.asp" method="post" target="_self" name="form1" id="form1">
    <div class="OrderTitle">请选择您的收货地址：</div>
  <div class="OrderContent">请选择您的收货地址：     
      <br /><input type="radio" name="addressID" id="addressID" value="0" $addressIDchecked$/>$arealist$ $address$ (邮编：$postcode$ 收货人：$trueName$ 联系方式：$tel$ $mobile$)
      $addressmore$	
      <input type="radio" name="addressID" id="addressID" value="-1" onclick="document.getElementById('spandisplay').style.display='block';"/>使用其它地址
      <div id="spandisplay" style="margin:0 auto; width:95%; display:none ">
	  <div style="margin-top:5px; padding:8px 0; border:1px solid #ffdc93; background:#fffbe3">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">          
          <tr>
            <td width="15%" height="28" align="right" valign="top">收货地址<span class="yellow">*</span>：</td>
            <td width="78%"><div id="area"></div>
                        </td>
            <td width="7%" rowspan="5" valign="top" align="center" ><h2><a href="javascript:;" onclick="document.getElementById('spandisplay').style.display='none'; return false" class="red" title="关闭" >×</a></h2></td>
          </tr>
          <tr>
            <td height="28" align="right">街道地址<span class="yellow">*</span>：</td>
            <td><input id="address" maxlength="130" size="70" name="address" DataType="Require" msg="请填写街道地址" /></td>
            </tr>
          <tr>
            <td height="28" align="right">邮政编码<span class="yellow">*</span>：</td>
            <td><input maxlength="6" size="10" name="postcode" DataType="Zip" msg="请填写邮政编码"/></td>
            </tr>
          <tr>
            <td height="28" align="right">收货人姓名<span class="yellow">*</span>：</td>
            <td><input maxlength="10" size="12" name="truename" id="truename" DataType="True" msg="请填写收货人真实姓名"/></td>
            </tr>
          <tr>
            <td height="28" align="right">电话：</td>
            <td><input maxlength="20" size="18" name="tel"/>
              <label> 手机：</label>
              <input id="mobile" maxlength="20" name="mobile" />
              电话和手机请至少填写一个</td>
            </tr>          
          </table>
     </div>
   </div>
   </div>
  
  <div class="OrderTitle">请选择您的购买方式和货运方式：</div>
  <div class="OrderContent">
	  <input type="hidden" value="0" name="buyMethod" id="buyMethod" />
     <!-- <label>购买方式：
      <input type="radio" checked="checked" value="0" name="buyMethod" />
      普通购买 
      <input type="radio" value="1" name="buyMethod"/>
      积分购买(友情提示：只有指定产品才能进行积分购买，请确认您选购的产品都是能够进行积分购买的)</label>
      <br />-->
     运送方式：
	 $yunsong$	 
     <span class="gray">(如果没有运费发生，您可以在购买此产品后，要求卖家修改运费)</span>
  </div>
    $showShopCart$  
	$notice$         
    <div style="margin:10px 0;">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="8%">订单备注：</td>
                <td width="92%"><input name="message" type="text" size="60" value="$memo$" />
                  </td>
              </tr>
              <tr>
                <td> </td>
                <td class="gray"></td>
              </tr>
            </table></td>         
        </tr>        
        <tr>
          <td height="38" colspan="2" align="right"><input class="inpcss" onmouseover="this.className='oninpcss'" onMouseOut="this.className='inpcss'" type="submit" name="Submit22" value=" 产品不正确？点这里返回修改 " onclick="location.href='my_cart.asp';return false;"/>
             
            <input class="inpcss" onmouseover="this.className='oninpcss'" onMouseOut="this.className='inpcss'" type="submit" name="Submit22" value=" 确认订单 " $txt$/></td>
        </tr>
      </table>
    </div>
  </form>
  <div>
    <hr />
    <!--<iframe src="../gift/index.html" frameborder="0" scrolling="no" height="280" width="100%" marginwidth="0" marginheight="0" ></iframe>-->
  </div>
</div>
<!--content end-->
<!--footer begin-->
$foot$
<!-- footer end -->
<script language="JavaScript">
function change(el) {
whichEl = document.getElementById(el)   //获得指定ID值的对象
if (whichEl.style.display == 'none') {   //block是默认值为显示,none为隐藏
   whichEl.style.display   = 'block'; 
} else {	
     whichEl.style.display   = 'none';	
   }
}
</script>
</body></html>