﻿<!--底部开始-->
<div id="footer_new">
	<div class="foot_copy">
	  <table width="1000" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="277" height="160" valign="bottom" class="height22"><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=408371488&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:408371488:41" alt="加盟/代销" title="$webname$"></a>&nbsp;&nbsp;&nbsp;<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=1147205799&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:1147205799:41" alt="加盟/代销" title="$webname$"></a><br>
          E-mail:408371488@qq.com</td>
          <td width="195" valign="top" class="foot_text">☆ <a href="/server/?id=22">注册新用户</a><br />
            ☆ <a href="/server/?id=34">网站声明</a><br />
            ☆ <a href="/server/?id=7">网站订购流程</a><br />
          ☆ <a href="/server/?id=16">服务条款</a></td>
          <td width="193" valign="top" class="foot_text">☆ <a href="/server/?id=58">配送收费标准</a><br />
          ☆ <a href="/server/?id=44">配送常见问题</a><br />
          ☆ <a href="/server/?id=37">物流托运</a></td>
          <td width="190" valign="top" class="foot_text">☆ <a href="/about">关于我们</a><br />
            ☆ <a href="/server/?id=62">加盟合作</a><br />
            ☆ <a href="/about/?id=33">联系我们</a></td>
          <td width="145" valign="top" class="foot_text">☆ <a href="/server/?id=57">支付方式</a><br />
            ☆ <a href="/server/?id=17">退、换货政策</a><br />
            ☆ <a href="/server/?id=38">退换货注意事项</a><br />
          ☆<a href="/server/?id=57"> 支付常见问题</a></td>
        </tr>
      </table>
	</div>
	<div class="foot_icomg"></div>
	<div style="text-align:center;">
		<ul class="foot_nav">
			<li><a href="$weburl$">首页</a> | <a href="/about">关于<%=webname%></a> | <a href="/about/?id=34">服务条款</a> | <a href="/about/?id=38">供应商加盟</a> | <a href="/server/?id=62">加盟代理</a> | <a href="/server/?id=57">付款方式</a> | <a href="/about/feedback.asp">意见反馈</a> | <a href="/server/?id=7">购物帮助</a> | <a href="/about/?id=33">联系我们</a></li>
		</ul>
		<ul style="padding-top:8px;">
			<li>版权所有 &copy; 2007 - 2011 [ <%=webname%> ] $webtitle$ All Rights Reserved. 禁止非法复制 $webicp$ <script src="http://s85.cnzz.com/stat.php?id=1394561&web_id=1394561" language="JavaScript"></script></li>
		</ul>
	</div><br><br>
	<div class="foot_icomg"></div>
</div>