﻿$head$
<!--banner-->
<div id="banner">
	<div class="ad_left">
		<!--大广告-->
		<div>
      
			<script>
				var focus_width=780;
				var focus_height=350;
				var text_height=0;
				var swf_height = focus_height+text_height;
				var pics='$skinpath$/images/big_01.jpg|$skinpath$/images/big_02.jpg'
				var links='/products/detail.asp?id=27219|/products/detail.asp?id=21557'
				var texts='';
				document.write('<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" width="'+ focus_width +'" height="'+ swf_height +'">');
				document.write('<param name="allowScriptAccess" value="sameDomain"><param name="movie" value="$skinpath$/images/107925.swf"><param name="quality" value="high"><param name="bgcolor" value="#e1e1e1">');
				document.write('<param name="menu" value="false"><param name=wmode value="opaque">');
				document.write('<param name="FlashVars" value="pics='+pics+'&links='+links+'&texts='+texts+'&borderwidth='+focus_width+'&borderheight='+focus_height+'&textheight='+text_height+'">');
				document.write('<embed src="$skinpath$/images/107925.swf" wmode="opaque" FlashVars="pics='+pics+'&links='+links+'&texts='+texts+'&borderwidth='+focus_width+'&borderheight='+focus_height+'&textheight='+text_height+'" menu="false" bgcolor="#e1e1e1" quality="high" width="'+ focus_width +'" height="'+ focus_height +'" allowScriptAccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" /></object>');
			 </script>
		 </div>
		 <!--四个小广告-->
		 <div class="four_ad margin8">
		 	<ul>
				<li class="fout_w"><a href="http://www.xsp2.cn/products/detail.asp?id=27216" target="_blank"><img src="$skinpath$/images/banner_02.gif"></a></li>
				<li class="fout_w"><a href="http://www.xsp2.cn/products/detail.asp?id=27266" target="_blank"><img src="$skinpath$/images/banner_03.gif"></a></li>
				<li class="fout_w"><a href="http://www.xsp2.cn/products/detail.asp?id=27249" target="_blank"><img src="$skinpath$/images/banner_05.gif"></a></li>
				<li><a href="http://www.xsp2.cn/products/detail.asp?id=1223" target="_blank"><img src="$skinpath$/images/banner_07.gif"></a></li>
			</ul>
		 </div>
	</div>
	<div class="ad_right">
		<div  class="dazhe_box">
        <a href="http://www.xsp2.cn/products/detail.asp?id=27282" target="_blank"><img src="$skinpath$/images/xianshi.gif" /></a>
			<!--<ul>
				<li class="dazhe_text">&nbsp;&nbsp;<img src="$skinpath$/images/dazhe_z.gif" align="absmiddle" >&nbsp;<b>限时打折</b></li>
			</ul>
		<table width="208" border="0" cellspacing="5" cellpadding="0">
  <tr>
    <td>剩余时间：<span>17</span> 天 <span>2</span> 小时 <span>55</span> 分钟</td>
    </tr>
  <tr>
    <td align="center"><img src="$skinpath$/images/img.gif" width="190" height="120" /></td>
  </tr>
  <tr>
    <td height="22" align="center" style="color:#B70218; font-size:14px; font-weight:bold;">爱就行动吧 情侣袜</td>
  </tr>
  <tr>
    <td align="center"><img src="$skinpath$/images/buy_ms.gif" width="114" height="28" /></td>
  </tr>
  <tr>
    <td height="47" class="height22">市场价：<del>￥235元</del><br>
      抢购价：<font>￥198元</font></td>
  </tr>
</table>-->
		</div>


		<div class="gonggai_main margin8"><div class="gonggai_active" id="gonggao_t0"><a href="javascript:gonggao_set(0,2)" onclick="">$webname$资讯</a></div><div class="gonggai_normal" id="gonggao_t1"><a href="javascript:gonggao_set(1,2)">$webname$公告</a></div></div>
		<div class="gonggai" id="gonggao_l0" style="display:">
			<ul>
				$HotNews$
			</ul>
		</div>
        <div class="gonggai" id="gonggao_l1" style="display:none">
			<ul>
				$Gonggao$
			</ul>
		</div>
	</div>
</div>
<!--banner end-->

<div class="content">
<!--分类开始-->
	<div id="fenlei" class="margin12">
		<ul>
			<li id="feilei_text">全部商品分类</li>
		</ul>
	</div>
	<div id="fenlei_line">
		$小额混批类别$
    </div>
	<!--分类结束-->
</div>
<div class="content">
<!--男士开始-->
	<div id="fenlei">
		<ul>
			<li id="feilei_text">男士内裤</li>
		</ul>
	</div>
	<div class="goodsad">
	<!--男款广告-->
		<!--<ul style="width:390px; float:left; margin-right:15px;">
			<li style="padding-top:10px;margin:0"><a href="/products/detail.asp?id=27217
" target="_blank"><img src="$skinpath$/images/a6.jpg"></a></li>
		</ul>-->
		<ul class="goodslist" >
			$男士内裤$
        </ul>
     </div>
		
	<!--男士结束-->
	<br>
    <!--男士开始-->
	<div id="fenlei">
		<ul>
			<li id="feilei_text">女士内裤</li>
		</ul>
	</div>
	<div class="goodsad">
	<!--男款广告-->
		<!--<ul style="width:390px; float:left; margin-right:15px;">
			<li style="padding-top:10px;margin:0"><a href="/products/detail.asp?id=27217
" target="_blank"><img src="$skinpath$/images/a6.jpg"></a></li>
		</ul>-->
		<ul class="goodslist" >
			$女士内裤$
        </ul>
     </div>
		
	<!--男士结束-->
	<br>
	<!--男士开始-->
	<div id="fenlei">
		<ul>
			<li id="feilei_text">男袜</li>
		</ul>
	</div>
	<div class="goodsad">
	<!--男款广告-->
		<!--<ul style="width:390px; float:left; margin-right:15px;">
			<li style="padding-top:10px;margin:0"><a href="/products/detail.asp?id=27217
" target="_blank"><img src="$skinpath$/images/a6.jpg"></a></li>
		</ul>-->
		<ul class="goodslist" >
			$男裤$
        </ul>
     </div>
		
	<!--男士结束-->
	<br>
	<!--女士开始-->
	<div id="fenlei">
		<ul>
			<li id="feilei_text">女袜</li>
		</ul>
	</div>
	<div class="goodsad">
	<!--女款广告-->
		<!--<ul style="width:390px; float:left; margin-right:15px;">
			<li style="padding-top:10px;margin:0"><a href="/products/detail.asp?id=27223
" target="_blank"><img src="$skinpath$/images/a7.jpg"></a></li>
		</ul>-->
		<ul class="goodslist" >
			$女袜$
        </ul>
     </div>
	<!--女士结束-->
	<br>
	<!--儿童开始
	<div id="fenlei">
		<ul>
			<li id="feilei_text">儿童</li>
		</ul>
	</div>
	<div class="goodsad">
	男款广告
		<ul style="width:390px; float:left; margin-right:15px;">
			<li style="padding-top:10px;margin:0"><a href="/products/detail.asp?id=27240
" target="_blank"><img src="$skinpath$/images/a5.jpg"></a></li>
		</ul>
		<ul class="goodslist" >
			$儿童$
        </ul>
     </div>
	儿童结束-->
	<br>
	<!--品牌开始-->
	<div id="fenlei">
		<ul>
			<li id="feilei_text">品牌</li>
		</ul>
	</div>
	<div class="goodsad">
	<!--女款广告-->
		<!--<ul style="width:390px; float:left; margin-right:15px;">
			<li style="padding-top:10px;margin:0"><a href="/products/detail.asp?id=27215
" target="_blank"><img src="$skinpath$/images/a6.jpg"></a></li>
		</ul>-->
		<ul class="goodslist" >
			$品牌$
        </ul>
     </div>
	<!--品牌结束-->
	<br>
	<!--其它开始-->
	<div id="fenlei">
		<ul>
			<li id="feilei_text">针纺织品</li>
		</ul>
	</div>
	<div class="goodsad">
	<!--男款广告-->
		<!--<ul style="width:390px; float:left; margin-right:15px;">
			<li style="padding-top:10px; margin:0"><a href="/products/detail.asp?id=26713" target="_blank"><img src="$skinpath$/images/a8.jpg"></a></li>
		</ul>-->
		<ul class="goodslist" >
			$其它$
        </ul>
    </div>
	<!--其它结束-->
    <!--内衣宝贝开始-->
	<div id="fenlei">
		<ul>
			<li id="feilei_text">内衣宝贝</li>
		</ul>
	</div>
	<div class="goodsad">
		<ul class="goodslist" >
			$内衣宝贝$
        </ul>
    </div>
	<!--内衣宝贝结束-->
</div>
<div class="content">
	<div id="news">
		<ul>
			<h1>品牌市场&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/news/?id=4" style="font-size:12px; font-weight:400" target="_blank">More</a></h1>
			<p><img src="$skinpath$/images/mo.gif"></p>
			$新闻1$
		</ul>
	</div>
	<div id="news">
		<ul>
			<h1>资讯中心&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/news/?id=5" style="font-size:12px; font-weight:400" target="_blank">More</a></h1>
			<p><img src="$skinpath$/images/mo.gif"></p>
			$新闻2$
		</ul>
	</div>
	<div id="news">
		<ul>
			<h1>潮流文化&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/news/?id=6" style="font-size:12px; font-weight:400" target="_blank">More</a></h1>
			<p><img src="$skinpath$/images/mo.gif"></p>
			$新闻3$
		</ul>
	</div>
	<div id="news_right">
		<ul>
			<h1>时尚前沿&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/news/?id=7" style="font-size:12px; font-weight:400" target="_blank">More</a></h1>
			<p><img src="$skinpath$/images/mo.gif"></p>
			$新闻4$
		</ul>
	</div>
</div>
<br>
<!--content end-->

<!--footer begin-->
$foot$
<!--footer end-->
</body>
</html>