/* www.xsp2.cn, leo, last modify:08-07-29 */
 
/*ordinary*/
 body{margin:0; padding:0; border:0px none; background:#fff; color:#000; font-size:12px; font-family:'宋体',arial,'Lucida Grande','Lucida Sans Unicode','新宋体',verdana,sans-serif; line-height:180%}
 ul {margin:0; padding:0; list-style-type:none}
 li {margin:0; padding:0}
 img {border:0}
 select,input{font-size:12px; color:#000}
 h1{margin:0; padding:0; font-size:16px}
 h2{margin:0; padding:0; font-size:14px}
 h3{margin:0; padding:0; font-size:12px;}
 form {margin:0}
 a {color:#333333; text-decoration:none}
 a:hover {color:#f50; text-decoration:underline}
 hr {height:1px; border:#d7d7d7 1px dashed;}
	
 .gray {color:#868687}
 .green {color:#4a9900}
 .red {color:#cb3433}
 .yellow {color:#ff6600}
 .blue {color:#0099cc} 
 .img {border:#eaeaea 1px solid;}
 .imges {float:left; margin:0 5px; padding:10px; border:#dddddd 1px solid; background:#fff}
 
 .inpcss {border:#7b9ebd 1px solid; padding:3px 2px 2px 2px; background:url(../images/buttonbg.gif)}
 .oninpcss {border:#ff7725 1px solid; padding:3px 2px 2px 2px; color:#fff; background:url(../images/buttononbg.gif)}
 
/*header*/	
	 #header {margin:0 auto; width:1003px; background:url(../images/TopBg.gif) ; height:92px}
	 #top {margin:0 auto; width:920px;}
	 .TopLeft {float:left;}
	 .TopRight {float:right;}
	 /*logo*/
	 .logo {margin:0; width:182px; text-indent:-9999px}
	 .logo a {display:block; background:url(../images/logo.gif) no-repeat; margin:0; height:86px; text-decoration: none}
	 /*TopLink*/
	 .TopLink {padding-top:8px; text-align:right}
	 /*search*/
	 .search {text-align:right}
	 /*menu*/
	 .menu {clear:both; margin:6px 0 0 20px; width:718px;}
	 .menu ul{list-style:none;}
	 .menu li{float:left; width:80px; background:#fff; margin-left:3px; line-height:37px;}
	 .menu a{display:block; text-align:center; height:37px;}
	 .menu a:hover{color:#444444; text-decoration:none; background:url(../images/MouseBg.gif)} 
	 .menu .current {color:#ffffff; background:url(../images/MenuonBg.gif)}
	 /*TopLine*/
	 .TopLine {clear:both; border-bottom:2px solid #ff6ba0; }	

/*content*/
     #content {margin:0 auto; margin-top:20px; width:802px;}
	 .announce {color:#808080}
	 .ContentLeft {float:left; width:548px;}
	 .ContentRight {float:right; width:240px;}
	 /*news*/
	 .news {margin-bottom:10px; padding:10px; width:528px; height:190px; background:url(../images/NewsBg.gif) no-repeat}
	 .NewsLeft {float:left; width:284px;}
	 .NewsRight {float:left; width:244px;}
	 /*label*/
	 .label {margin-bottom:10px; padding:7px 10px; border:1px solid #e5e6eb;}
	 .LabelTitle {float:left; padding-bottom:3px; width:120px; text-indent:20px; background:url(../images/heart.gif) no-repeat 0px 3px; color:#6f6f6f;}
	 .LabelContent {clear:both}
	 .LabelRed {font-weight:bold; font-size:14px; color:red}
	 .LabelGreen {font-weight:bold; color:#a3ce67}
	 .LabelGray {font-weight:bold; color:#666666}
	 .LabelFlesh {font-weight:bold; color:#fa67b8}
	 .LabelBlack {color:#000}
	 .LabelPurple {color:#95071b}
	 .LabelYellow {font-weight:bold; font-size:14px; color:#e6b000}
     .LabelBlue {color:#0d62bc} 
	 .more {float:right;}
	 .more a{color:#868687;}
     /*discussion*/
     .discussion {float:left; width:380px; text-indent:20px; color:#45d0ce; background:url(../images/LabelBlue.gif) no-repeat 0px 2px} 
	 .discussion2 {margin-top:10px; padding-bottom:5px; width:100%; text-indent:20px; color:#45d0ce; background:url(../images/LabelBlue.gif) no-repeat 0px 2px; border-bottom:1px solid #cccccc} 
	 .Discussion2Title {padding:2px 0; background:#f7f7f7; text-indent:5px}
	 .DiscussionContent {clear:both; padding:10px 5px; width:538px;}
	 .DiscussionImg {float:left; text-align:center; width:26%}
	 .img{margin-right:6px; padding:3px; background:#ffffff; border:1px solid #dce4ed; display:block}
	 .DiscussionWord {float:left; width:50%; font-size:14px; line-height:180%}
	 .DiscussionWord2 {float:left; width:76%; font-size:14px; line-height:180%}
	 .DiscussionWord3 {float:left; width:74%; line-height:180%}
	 .DiscussionName {float:left; width:22%; font-size:14px; line-height:180%}	 
     /*tabs*/
	 .tabs {width:auto; height:auto; background:url(../images/DiscussionBg.gif)}
	 .selectTab,.unselectTab {overflow:hidden; width:50px; line-height:23px; text-align:center; background:url(../images/TabonBg.gif) no-repeat; margin-right:3px; font-weight:bold; font-size:14px; color:#d20001; cursor:pointer; display: inline; padding:6px 10px; }
	 .unselectTab {color:#333333; background:url(../images/TabBg.gif) no-repeat }
	 .selectContent {float:left;}
	 .unselectContent {display:none; }
     .clear {clear:both; }
	 /*buy*/
	 .buy {clear:both; width:548px; } 
	 .BuyBg {background:url(../images/DiscussionBg.gif); height:22px;}
	 .BuyBg2 {margin-top:10px; padding-bottom:5px; border-bottom:1px solid #dce4ed; height:22px;}
	 .BuyTitle {float:left; width:380px; text-indent:20px; height:23px; color:#c3d21b; background:url(../images/LabelGreen.gif) no-repeat 0px 2px}
	 .BuyContent {clear:both; margin-bottom:10px; padding:0 0 10px 8px; background:#fafce0;}
	 .BuyList {height:346px;}
	 .BuyList li {float:left; padding-top:6px; text-align:center; display:block;}
	 /*Share*/
	 .ShareTitle {float:left; width:380px; text-indent:20px; height:23px; color:#ff8e4d; background:url(../images/LabelPink.gif) no-repeat 0px 2px}
	 .ShareContent {clear:both; margin-bottom:15px; padding:0 0 10px 8px; background:#fbe8ef;}	
	 /*photo*/
	 .photo {clear:both; width:802px; } 
	 .PhotoBg {background:url(../images/DiscussionBg.gif); height:22px;}
	 .PhotoTitle {float:left; width:380px; text-indent:20px; height:23px; color:#ff8e4d; background:url(../images/LabelYellow.gif) no-repeat 0px 2px}
	 .PhotoContent {clear:both; margin-bottom:10px; padding:0 0 10px 8px; background:#fce4d6;}
	 .PhotoList {height:120px;}
	 .PhotoList li {float:left; padding-top:6px; width:113px; text-align:center; display:block;}
	 /*Rank*/
	 .rank {margin-bottom:10px; width:238px; border:1px solid #e5e6eb; border-top:none; }
	 .RankTitle {overflow:hidden;} 
	 .RankTitle ul {margin:0; padding:0;} 
	 .RankTitle li {float:left; display:block; line-height:200%; list-style-type:none; text-align:center;} 
	 .RankTitle ul li.TitleLeft {width:19%; border-bottom:1px dashed #e5e6eb;} 
	 .RankTitle ul li.TitleCenter {width:50%; border-bottom:1px dashed #e5e6eb;}
	 .RankTitle ul li.TitleRight {width:30%; border-bottom:1px dashed #e5e6eb;}
	 .RankTitle ul li.TitleLeft2 {width:19%; background:url(../images/NumberYellow.gif) no-repeat 15px 5px; color:#fff} 
	 .RankTitle ul li.TitleCenter2 {width:50%; text-align:left;}
	 .RankTitle ul li.TitleRight2 {width:30%;}
	 .RankTitle ul li.TitleLeft3 {width:19%; background:url(../images/NumberGray.gif) no-repeat 15px 5px; color:#fff} 
	 .RankTitle ul li.TitleCenter3 {width:50%; text-align:left;}
	 .RankTitle ul li.TitleRight3 {width:30%;}
	 /*next*/
	 .next {clear:both; width:98%; padding:5px; border-top:1px dashed #e5e6eb; text-align:right; font-size:14px}
	 /*RegAdver*/
	 .RegAdver {margin-bottom:15px; }	
	 /*comment*/ 
	 .comment {padding-top:5px; width:60px; height:42px; background:url(../images/comment.gif) no-repeat; text-align:center}
	 /*FriendLink*/
	 .FriendLink {clear:both; margin:10px auto; width:802px; } 
	 .FriendLink li{clear:both; margin:5px 0; text-align:center;}
	 .FriendLink li img{margin-right:7px;}
	 /*about*/
	 #about {margin:0 auto; width:802px;}
	 .LogoBottom {float:left; padding:16px 0; width:160px;}
	 .AboutRight {float:left; padding:10px 0;}
	 .AboutRight li {float:left; padding-left:5px; width:206px; border-left:1px solid #dce4ed; color:#999999}
	 /*bottom*/
	 #bottom {margin:0 auto; width:802px; padding:5px 0; border-top:1px solid #dce4ed; text-align:center; color:#999999}
	 
	 