$head
<!-- header end -->
<script language="javascript" src="/js/products.js"></script>
<script language="javascript" src="$webvirtual$/jquery/jquery.LoadImage2.js"></script>
<!-- content begin -->
<!--guidance-->
<div class="clear"></div>
<div id="guidance">
<a href="/">首页</a>$sortpathL
</div>

<div id="content">
<!--left-->
<div class="PagesLeft">
<div class="column">
<div class="ColumnTitle">
<div class="title">
<h2>所有商品</h2>
</div>
</div>
<div class="RolinList" id="rolin">
<ul>
<script language="javascript" src="/js/detailfl.js"></script>
</ul>
</div>
</div>


<div class="column">
<div class="ColumnTitle">
<div class="title">
<h2>您浏览过的商品</h2>
</div>
</div>
<ul class="ColumnCate" id="prolist3">
<!--<div class="delpro"><img src="/images/search_btn_compare.gif" align="absmiddle" /> <a href="javascript:;">对比</a> &nbsp;&nbsp;<a href="javascript:;">清除</a></div>-->
</ul>
</div>
<script language="javascript">
getHistory($bid);
</script>
<div class="column">
<div class="ColumnTitle">
<div class="title">
<h2>最新评论</h2>
</div>
</div>
<ul class="ColumnCate" id="culturelist">
</ul>
</div>
</div>
<script language="javascript">
getPL();
</script>
<!--right-->
<div class="PagesRight">
<!--detail-->
<div id="ProductDes">
<div class="ProductDesLeft">
<p style="width:400px;height:400px;line-height:400px; background:url($webvirtual$/jquery/images/loading.gif) no-repeat center"><img src="$bigpic1" width="400" height="400" id="p7ssm_im" /></p>
<div class="SmallImg">
<ul>
$修改内容开始
</ul>
</div>

</div>
<script language="javascript">
initImage('$bigpic1');
</script>
<div class="ProductDesRight">
<h2><A href="javascript:;">$产品名称</A></h2>





</div>

<!--Description-->
<div id="tab1">
<ul>
<li onclick="setTab(1,0)" class="now">产品描述</li>

</ul>
</div>
<div id="tablist1">
<div class="tablist block">
<span>
<div class="description">
  $产品描叙
</div>
</span>
</div>
<div class="tablist">
<span id="tuihuan">
<img src="$webvirtual$/jquery/images/loading.gif" />
</span>
</div>
<div class="tablist">
<span id="fuwu"><img src="$webvirtual$/jquery/images/loading.gif" /></span>
</div>

</div>
<div class="clear"></div>
<div class="detailtitle"><h3>相关产品</h3></div>
<div class="FeaturedPro3">
<ul id="relaxProducts">
</ul>
</div>
<script language="javascript">
relaxProducts($id,$sbid);
</script>
<!--commentary-->
<div class="clear"></div>
<div class="detailtitle"><h3>产品评论</h3></div>
<div id="camp">
<ul>
$产品评论
  </ul>
</div>
<div id="commentary">[<a href="javascript:;" class="green" onClick="change('msgdisplay'); return false">我要评论并打分</a>]</div>
	<div id="msgdisplay">
	<form action="$webvirtual$/products/saveMessage.asp" method="post"  onsubmit="return Validator.Validate(this,2);">
    <h3 style="padding:5px 0">主题：<input type="text" name="title" style="width:190px" dataType="LimitB" min="2" max="50" msg="留言标题为2-50字" /><span class="red">*</span>&nbsp;您的邮箱：<input type="text" name="email" style="width:150px" dataType="Email" msg="请留下您的邮箱以便我们采纳了您的意见后与您取得联系(注：您的邮箱我们将为您保密)" /><span class="red">*</span>(我们不会公开您的邮箱)</h3>	
	<div>
	<h3>内容：<textarea name="content" style="width:580px;" cols="69" rows="6" dataType="LimitB" min="10" max="300" msg="请填写您的留言内容(10-300字以内)"></textarea>
	<span class="red">*</span></h3>
	<div style="margin:5px 0;">
	<span style="padding:5px 0"><strong>产品评价：</strong></span>
	<!--<input type="radio" name="pingfen" value="1" /> <img src="/images/xin1.gif" /> <input type="radio" name="pingfen" value="2" /> <img src="/images/xin2.gif" /> <input type="radio" name="pingfen" value="3" /> <img src="/images/xin3.gif" /> <input type="radio" name="pingfen" value="4" /> <img src="/images/xin4.gif" /> <input type="radio" name="pingfen" value="5" checked="checked" /> <img src="/images/xin5.gif"/> -->
	<input type="radio" name="pingfen" value="1" /> 非常差 <input type="radio" name="pingfen" value="2" /> 比较差 <input type="radio" name="pingfen" value="3" checked="checked"/> 一般 <input type="radio" name="pingfen" value="4" /> 好 <input type="radio" name="pingfen" value="5" /> 非常喜欢&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input name="niming" type="checkbox" value="1" id="niming" onClick="messageLogin()"/>匿名发表
    <input type="image" src="$skinpath$/images/plus.gif" width="53" height="19" border="0" align="absmiddle" />  	
	</div>	
	<span id="spLogin" style="display:none">	
    <strong>用 户 名：</strong>
    <input name="username" id="username" style="width:240px"/>
	<input name="id" type="hidden" value="$id" />
    <strong>密 码：</strong>
    <input name="password" id="password" type="password" style="width:240px" />
	</span>	
    </div>
	</form>
	</div>

	
</div>
</div>
<!--content end-->

<!--footer begin-->
<div class="clear"></div>
<!--servers-->
  
<!--footer begin-->
<script language="javascript" src="/js/footdetail.js"></script>
<!-- footer end -->
<!--$updatetime-->
<script language="javascript">
setHistory($id)
</script>
</body>
</html>