$head$
<!-- header end -->
<script language="javascript" src="/js/products.js"></script>
<!-- content begin -->
<div class="clear"></div>
<!--guidance-->
<div id="guidance">
<a href="/">首页</a> $sortpath$ 类目下共有 <span class="yellow"><strong>$recordcount$</strong></span> 个商品，您可以选择下面的详细分类：
</div>
<div id="content">

<!--price-->
<!--<div class="objecttitle">
<h2>按价格分</h2>
<a href="$priceUrl$price=0,1">0-1元</a>&nbsp;&nbsp;<a href="$priceUrl$price=1,2" >1-2元</a>&nbsp;&nbsp;<a href="$priceUrl$price=2,3" >2-3元</a>&nbsp;&nbsp;<a href="$priceUrl$price=3,5" >3-5元</a>&nbsp;&nbsp;<a href="$priceUrl$price=5,8" >5-8元</a>&nbsp;&nbsp;<a href="$priceUrl$price=8,10" >8-10元</a>&nbsp;&nbsp;<a href="$priceUrl$price=10,15" >10-15元</a>&nbsp;&nbsp;<a href="$priceUrl$price=15,20" >15-20元</a>&nbsp;&nbsp;<a href="$priceUrl$price=20,30" >20-30元</a>&nbsp;&nbsp;<a href="$priceUrl$price=30,50" >30-50元</a>&nbsp;&nbsp;<a href="$priceUrl$price=50,80" >50-80元</a>&nbsp;&nbsp;<a href="$priceUrl$price=80,100" >80-100元</a>&nbsp;&nbsp;<a href="$priceUrl$price=100,500" >100-500元</a>&nbsp;&nbsp;<a href="$priceUrl$price=500,0" >500元以上</a>
</div>-->
<!--<div style="margin:15px 0"><img src="/images/process2.gif" /></div>-->
<!--left-->
<div class="PagesLeft">
<div class="column">
<div class="ColumnTitle">
<div class="title">
<h2>$bidname$</h2>
</div>
</div>
<div class="RolinList" id="rolin">
<ul>
$getclass$
</ul>
</div>
</div>
<!--<div class="column">
<div class="ColumnTitle">
<div class="title">
<h2>最新热卖</h2>
</div>
</div>
<ul class="ColumnCate" id="prolist2">
</ul>
</div>
<script language="javascript">
getHot($bid$);
</script>
<div class="column">
<div class="ColumnTitle">
<div class="title">
<h2>您浏览过的商品</h2>
</div>
</div>
<ul class="ColumnCate" id="prolist3">
</ul>
</div>
<script language="javascript">
getHistory($bid$);
</script>-->
<!--<div class="column">
<div class="ColumnTitle">
<div class="title">
<h2>最新评论</h2>
</div>
</div>
<ul class="ColumnCate" id="culturelist">
</ul>
</div>
<script language="javascript">
getPL();
</script>
-->
</div>
<!--right-->
<div class="PagesRight">

<div class="ColumnTitle3">
<div class="ProTitle">
<div class="ProTitleLeft"><h2>$newlink$</h2></div>
<div class="ProTitleCenter"></div>
<div class="ProTitleRight"></div>
</div>
</div>
<ul class="ColumnNews">
<div id="productsList">
<div style="float:left;">
<!--<span><img src="$skinpath$/images/imgred.gif" align="absmiddle" /> <a href="$smUrl$sm=0">图片方式</a></span> <span><img src="$skinpath$/images/listgray.gif" align="absmiddle" /> <a href="$smUrl$sm=1">列表方式</a> <img src="$skinpath$/images/sorting.gif" align="absmiddle" /></span>
价格排序：
  <select name="sort" onchange="location.href='$sortUrl$sort='+this.value;">
    <option value="0">选择排序方式</option>
    <option value="1">价格低的商品</option>
    <option value="2">价格高的商品</option>
  </select> -->
</div>

<div class="clear"></div>	
<form action="compare.asp" method="get" name="plist" >

   $getProductList$ 
	<!--end-->	
	<!--next-->	
	<div class="clear"></div>	
	<!--<div style="float:left;">-->
	<!--<input type="image" src="$skinpath$/images/main_list_btn.gif" border="0" /><label><input type="checkbox"  onclick="cjx.CheckAll('id')" />反选</label></div>-->
</form>

$getshowpage$

</div>
</ul>
</div>


</div>
<!--content end-->
<div class="clear"></div> 
<!--footer begin-->
$foot$
<!--footer end-->
</body>
</html>