﻿$head$
<!--announce begin-->
<div style="margin:0 auto; margin-top:10px; padding:0 10px 0 65px; width:883px; height:23px; line-height:23px; border:1px solid #eeeeee; background:url($skinpath$/images/anounce.gif) no-repeat; color:#555555">
<marquee scrollamount="3" onMouseOut="this.start()"  onmouseover="this.stop();">
$gonggao$
</marquee>
</div>
<script type="text/javascript" src="$webvirtual$/js/index.js"></script>
<script type="text/javascript" src="$webvirtual$/js/jQuery.textSlider.js"></script>
<!--content begin-->
<div id="content">
<div class="ContentLeft">

<div class="column">
<!-- TabTitle begin -->
    <div class="TabTitle">
      <ul id="myTab0" class="ColumnTitle">
        <li class="active" onMouseOver="nTabs(this,0);"><h2><a href="javascript:;">客服中心</a></h2></li>
        <li class="normal" onMouseOver="nTabs(this,1);"><h2><a href="javascript:;">会员登陆</a></h2></li>
      </ul>
    </div>
<!-- TabTitle end -->

<!-- TabContent begin -->
    <div class="TabContent">
      <div id="myTab0_Content0">
	  <div class="clear"></div>
<ul class="ColumnNews">
$servers$
</ul>
	  </div>
      <div id="myTab0_Content1" class="none">
	  <div class="clear"></div>
<ul class="ColumnNews">

<form action="/reg/chkuser.asp" method="post" onsubmit="return Validator.Validate(this,3)">
<p>用户名：    <input type="text" name="username" />  </p>
<p>密  码：    <input type="password" name="password" />  </p>
<p>验证码：    <input type="text" style="width:28px" name="f_code" /> <script language="javascript" src="/reg/code.js"></script>  </p>
<p style="margin-top:5px;text-align:center"><input type="image" src="$skinpath$/images/hydl.gif" border="0" /></a> <a href="/reg/reguser.asp"><img src="$skinpath$/images/yhzc.gif" border="0" /></a> </p>
<p style="margin-bottom:18px;text-align:center">·<a href="/server/?id=57">付款方式？</a> ·<a href="/reg">忘记密码？</a> </p>
</form>
 
</ul>  
	  </div>
    </div>
<!-- TabContent end -->
</div>
<!--<div class="ColumnTitle">
<h2>客服中心</h2>
</div>
<div class="LoginP">
$serv2ers$
</div> 
-->

<div class="ColumnTitle">
<h2>最新动态</h2>
</div>
<ul class="ColumnNews">
$最新加盟$
</ul>
<script language=javascript src=/common/ad/adlist.asp?priceid=1&place=3></script>
<!--<a href="javascript:;"><img src="$skinpath$/images/down.gif" /></a>-->

<div class="ColumnTitle">
<div class="title">
<div class="TitleLeft"><h2>产品类别</h2></div>
<div class="TitleRight">新奇特、创意商品为主</div>
</div>
</div>
<ul class="ColumnCate">
$小额混批类别$
</ul>
</ul>

<!--<div class="ColumnTitle">
<div class="title">
<div class="TitleLeft"><h2>整箱类别</h2></div>
<div class="TitleRight">厂家直销产品为主</div>
</div>
</div>
<ul class="ColumnCate">
$整件类别$
</ul>
</ul>-->

<div class="ColumnTitle">
<h2>热销商品</h2>
</div>
<ul class="ColumnHot" style="text-align:center">
$热销排行$
</ul>
</div>
<div class="ContentRight">
<div>
<a href="http://www.58bashi.com/products/?id=3864,3879,4181"> target="_blank" <img src="$skinpath$/images/big.jpg" width="728" height="407" border="0" /></a>
<!--<table id="__01" width="728" height="407" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td>
			<a href="http://www.xsp2.cn/products/?id=3864,3879,4181" target="_blank"><img src="$skinpath$/images/zh/xsp2_01.gif" width="728" height="109" alt=""></a></td>
	</tr>
	<tr>
		<td>
			<a href="http://www.xsp2.cn/products/?id=3864,3879,4181" target="_blank"><img src="$skinpath$/images/zh/xsp2_02.gif" width="728" height="121" alt=""></a></td>
	</tr>
	<tr>
		<td>
			<a href="http://www.xsp2.cn/products/?id=3864,3879,4181" target="_blank"><img src="$skinpath$/images/zh/xsp2_03.gif" width="728" height="177" alt=""></a></td>
	</tr>
</table>
<!--<table id="__01" width="727" height="409" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td>
			<a href="http://www.xsp2.cn/products/?id=3864,3871,4379" target="_blank"><img src="$skinpath$/images/zh/d_01.gif" width="727" height="94" alt=""></a></td>
	</tr>
	<tr>
		<td>
			<a href="http://www.xsp2.cn/products/?id=3864,3871,4379" target="_blank"><img src="$skinpath$/images/zh/d_02.gif" width="727" height="116" alt=""></a></td>
	</tr>
	<tr>
		<td>
			<a href="http://www.xsp2.cn/products/?id=3864,3871,4379" target="_blank"><img src="$skinpath$/images/zh/d_03.gif" width="727" height="100" alt=""></a></td>
	</tr>
	<tr>
		<td>
			<a href="http://www.xsp2.cn/products/?id=3864,3871,4379" target="_blank"><img src="$skinpath$/images/zh/d_04.gif" width="727" height="99" alt=""></a></td>
	</tr>
</table>--><!--
<table id="__01" width="728" height="409" border="0" cellpadding="0" cellspacing="0" style="border:1px #ccc solid">
	<tr>
		<td colspan="2">
			<a href="http://www.xsp2.cn/products/detail.asp?id=21005" target="_blank"><img src="$skinpath$/images/zh/hzhanshi_01.gif" width="321" height="84" alt=""></a></td>
		<td colspan="6" rowspan="3">
			<a href="http://www.xsp2.cn/products/detail.asp?id=20507" target="_blank"><img src="$skinpath$/images/zh/hzhanshi_02.gif" width="406" height="280" alt=""></a></td>
		<td>
			<img src="$skinpath$/images/zh/&#x5206;&#x9694;&#x7b26;.gif" width="1" height="84" alt=""></td>
	</tr>
	<tr>
		<td>
			<a href="http://www.xsp2.cn/products/detail.asp?id=21005" target="_blank"><img src="$skinpath$/images/zh/hzhanshi_03.gif" width="318" height="182" alt=""></a></td>
		<td rowspan="5">
			<img src="$skinpath$/images/zh/hzhanshi_04.gif" width="3" height="325" alt=""></td>
		<td>
			<img src="$skinpath$/images/zh/&#x5206;&#x9694;&#x7b26;.gif" width="1" height="182" alt=""></td>
	</tr>
	<tr>
		<td rowspan="4">
			<a href="http://www.xsp2.cn/products/detail.asp?id=21005" target="_blank"><img src="$skinpath$/images/zh/hzhanshi_05.gif" width="318" height="143" alt=""></a></td>
		<td>
			<img src="$skinpath$/images/zh/&#x5206;&#x9694;&#x7b26;.gif" width="1" height="14" alt=""></td>
	</tr>
	<tr>
		<td colspan="6">
			<img src="$skinpath$/images/zh/hzhanshi_06.gif" width="406" height="4" alt=""></td>
		<td>
			<img src="$skinpath$/images/zh/&#x5206;&#x9694;&#x7b26;.gif" width="1" height="4" alt=""></td>
	</tr>
	<tr>
		<td>
			<a href="http://www.xsp2.cn/products/detail.asp?id=20798" target="_blank"><img src="$skinpath$/images/zh/hzhanshi_03-08.gif" width="125" height="117" alt=""></a></td>
		<td rowspan="2">
			<img src="$skinpath$/images/zh/hzhanshi_08.gif" width="3" height="125" alt=""></td>
		<td>
			<a href="http://www.xsp2.cn/products/detail.asp?id=20760" target="_blank"><img src="$skinpath$/images/zh/hzhanshi_05-10.gif" width="138" height="117" alt=""></a></td>
		<td rowspan="2">
			<img src="$skinpath$/images/zh/hzhanshi_10.gif" width="4" height="125" alt=""></td>
		<td>
			<a href="http://www.xsp2.cn/products/detail.asp?id=20760" target="_blank"><img src="$skinpath$/images/zh/hzhanshi_07.gif" width="135" height="117" alt=""></a></td>
		<td rowspan="2">
			<img src="$skinpath$/images/zh/hzhanshi_12.gif" width="1" height="125" alt=""></td>
		<td>
			<img src="$skinpath$/images/zh/&#x5206;&#x9694;&#x7b26;.gif" width="1" height="117" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="$skinpath$/images/zh/hzhanshi_13.gif" width="125" height="8" alt=""></td>
		<td>
			<img src="$skinpath$/images/zh/hzhanshi_14.gif" width="138" height="8" alt=""></td>
		<td>
			<img src="$skinpath$/images/zh/hzhanshi_15.gif" width="135" height="8" alt=""></td>
		<td>
			<img src="$skinpath$/images/zh/&#x5206;&#x9694;&#x7b26;.gif" width="1" height="8" alt=""></td>
	</tr>
</table>-->
</div>
<div class="HotPro">
<div class="HotProLeft">
<div class="column3">
<div class="ColumnTitle3">
<div class="ProTitle">
<div class="ProTitleLeft"><h2>最新商品</h2></div>
<div class="ProTitleCenter2"></div>
<div class="ProTitleRight"><a href="/products">更多</a></div>
</div>
</div>
<ul class="ColumnNews">
<div class="FeaturedPro2" id="gundonzuixin">
<ul>
$最新商品$
</ul>
</div>
</ul>
</div>
</div>
<div class="HotProJsk">
<script language=javascript src=/common/ad/adlist.asp?priceid=1&place=0></script>
<!--<a href="http://www.58bashi.com" target="_blank"><img src="$skinpath$/images/jsk.gif" border="0" /></a>-->
</div>
</div>
<script language="javascript">
$("#gundonzuixin").textSlider({line:4,speed:2000,timer:3000});   
</script>

<div class="ColumnTitle3">
<div class="ProTitle">
<div class="ProTitleLeft"><h2>袜子</h2></div>
<div class="ProTitleCenter"></div>
<div class="ProTitleRight"><a href="/products/?id=3864,3879,4181">更多</a></div>
</div>
</div>
<ul class="ColumnNews">
<div class="FeaturedPro">
<ul>
$袜子$
</ul>
</div>
</ul>


<div class="ColumnTitle3">
<div class="ProTitle">
<div class="ProTitleLeft"><h2>保暖手套</h2></div>
<div class="ProTitleCenter"></div>
<div class="ProTitleRight"><a href="/products/?id=3864,3876,4412">更多</a></div>
</div>
</div>
<ul class="ColumnNews">
<div class="FeaturedPro">
<ul>
$保暖手套$
</ul>
</div>
</ul>
<!--
<div class="ColumnTitle3">
<div class="ProTitle">
<div class="ProTitleLeft"><h2>精品女包</h2></div>
<div class="ProTitleCenter"></div>
<div class="ProTitleRight"><a href="/products/?id=3864,3879,4224">更多</a></div>
</div>
</div>
<ul class="ColumnNews">
<div class="FeaturedPro">
<ul>
$精品女包$
</ul>
</div>
</ul>-->




<div class="ColumnTitle3">
<div class="ProTitle">
<div class="ProTitleLeft"><h2>保暖内衣</h2></div>
<div class="ProTitleCenter"></div>
<div class="ProTitleRight"><a href="/products/?id=3864,3879,3986">更多</a></div>
</div>
</div>
<ul class="ColumnNews">
<div class="FeaturedPro">
<ul>
$保暖内衣$
</ul>
</div>
</ul>

<!--
<div class="ColumnTitle3">
<div class="ProTitle">
<div class="ProTitleLeft"><h2>日韩饰品</h2></div>
<div class="ProTitleCenter"></div>
<div class="ProTitleRight"><a href="/products/?id=3864,4355">更多</a></div>
</div>
</div>
<ul class="ColumnNews">
<div class="FeaturedPro">
<ul>
$日韩饰品$
</ul>
</div>
</ul>-->

</div>

<div class="clear"></div>
<!--brand-->
<div id="news">
<!--news 01-->
<div class="news">
<div class="column">
<div class="ColumnTitle2">
<div class="title">
<div class="TitleLeft"><h2>创业故事</h2></div>
<div class="TitleRight"><a href="/news/?id=4">更多></a></div>
</div>
</div>
<ul class="ColumnContent">
$新闻1$
</ul>
</div>
</div>
<!--news 02-->
<div class="news">
<div class="column">
<div class="ColumnTitle2">
<div class="title">
<div class="TitleLeft"><h2>网店心得</h2></div>
<div class="TitleRight"><a href="/news/?id=5">更多></a></div>
</div>
</div>
<ul class="ColumnContent">
$新闻2$
</ul>
</div>
</div>
<!--news 03-->
<div class="news">
<div class="column">

<div class="ColumnTitle2">
<div class="title">
<div class="TitleLeft"><h2>营销之道</h2></div>
<div class="TitleRight"><a href="/news/?id=3860">更多></a></div>
</div>
</div>
<ul class="ColumnContent">
$新闻3$
</ul>
</div>
</div>
<!--news 04-->
<div class="news2">
<div class="column">
<div class="ColumnTitle2">
<div class="title">
<div class="TitleLeft"><h2>我晒宝贝</h2></div>
<div class="TitleRight"><a href="/news/?id=7">更多></a></div>
</div>
</div>
<ul class="ColumnContent">
$新闻4$
</ul>
</div>
</div>

</div>
<!--links-->
<div id="links">
合作链接：$txtLink$<br />$picLink$
</div>

</div>
<!--content end-->

<!--footer begin-->
$foot$
<!--footer end-->
</body>
</html>