/* www.xsp2.cn 主样式表, leo, last modify:09-05-22 */
 
/*head*/
#head {margin:0 auto; width:960px } 
 #top {overflow:hidden; margin:15px auto; height:75px }
 .TopLeft {float:left; width:200px }
 .TopRight {float:left; width:760px } 

 .logo h1 {margin:0; width:170px; text-indent:-9999px }
 .logo h1 a {display:block;margin:0; height:75px; text-decoration:none }
 
 .tel {float:left;width:288px }
 .welcome {float:right; text-align:right }
 .TopLink {float:right; margin-top:12px; width:247px; line-height:28px; background:url(../images/TopLink.gif) no-repeat; text-align:center }
 
 #menu {margin:0 auto; height:30px }
 .menu {margin-left:25px }
 .menu li {float:left; margin-right:3px }
 .menu li a {display:block; padding-top:4px; width:80px; line-height:26px; background:url(../images/MenuBg.gif) no-repeat; color:#289528; font-weight:bold; text-align:center }
 .menu li a:hover {background:url(../images/MenuMouseBg.gif) no-repeat; font-weight:bold; color:#289528 }
 .menu li.menuon a {width:80px; background:url(../images/MenuOnBg.gif) no-repeat; font-size:14px; font-weight:bold; color:#e17101 }
 .menu li.menuon a:hover {background:url(../images/MenuOnBg.gif) no-repeat; color:#e17101 }
 
 #search {clear:both; margin:0 auto; height:68px; color:#fff }
 .SearchLeft {float:left; background:url(../images/SearchLeft.gif) no-repeat; margin-right:-12px; width:12px; height:68px }
 .SearchCenter {margin:0 12px 0 12px; padding:12px 0 0 20px; width:auto; height:56px; background:url(../images/SearchCenter.gif) }
 .SearchRight {float:right; background:url(../images/SearchRight.gif); margin-left:-12px; width:12px; height:68px }
 
 .basket {line-height:26px; background:url(../images/basket.gif) no-repeat top right }
 .key {padding-left:42px }
 .key a {color:#fff }
 .stat {margin-left:50px !important;margin-left:40px;color:#000 }
 
 #nav {padding:0px; position:absolute; z-index:1 }
 #nav li {display:inline; list-style:none; list-style-position:outside; text-align:center; font-weight:bold; float:left }
 .list {line-height:20px; text-align:left; padding:0px 4px 4px 4px; font-weight:normal }
 .menu1 {width:82px; height:auto; border:1px solid #afea86; background:#f9fded; cursor:point }
 .menu2 {width:82px; height:24px; color:#0044dd; overflow-y:hidden; cursor:point }
 
/*content*/
#content {margin:10px auto; width:960px }
 .ContentLeft {float:left; width:220px }
 .ContentRight {float:right; width:730px }
 
 .brand {padding-left:46px; height:100px; background:url(../images/brand.gif) no-repeat left top }
 
 #news {overflow:hidden; margin-top:10px; width:100%; height:220px } 
 .news {float:left; margin:0 13px 0 0; width:230px }
 .news2 {float:left; width:230px }
 
 #links {margin-bottom:10px; padding:10px 15px; border:1px solid #afea86 }
 #links img {margin:6px 6px 0 0 }
 #links a {color:#666 }

 .TabTitle {padding-left:10px; height:27px; background:url(../images/ColumnTitle.gif); color:#fff }
 .TabTitle ul {border:0; margin:0; padding:0 }
 .TabTitle li {float:left; width:100%; height:26px; cursor:pointer; text-align:center; background:url(../images/ColumnTitle.gif) }
 .TabTitle .active {overflow:hidden; margin-top:3px; margin-right:10px; width:74px; height:23px; background:#fff; border:1px solid #afea86; border-bottom:none }
 .TabTitle .active a {color:#333 }
 .TabTitle .normal{width:70px; text-align:left }
 .TabTitle .normal a {color:#fff }
 .TabContent{width:auto; margin:0 auto }
 .none {display:none }

/*left*/ 
 .column {margin-bottom:10px; border:1px solid #afea86 }
 .column2 {margin-bottom:10px; border:1px solid #afea86 }
 .ColumnTitle {padding-left:10px; line-height:26px; background:url(../images/ColumnTitle.gif); border-bottom:1px solid #afea86; color:#fff } 
 .ColumnTitle2 {padding-left:8px; line-height:22px; background:url(../images/ColumnTitle.gif); border-bottom:1px solid #afea86; color:#fff }
 .ColumnContent {margin:6px 8px }
  
 .title {overflow:hidden; width:100% }
 .TitleLeft {float:left }
 .TitleRight {float:right; padding-right:8px }
 .TitleRight a {color:#fff }
 
 .ColumnNews {margin:6px 8px }
 .ColumnNews li a {color:#3366cc }
 
 .ColumnCate {margin:5px 10px }
 .ColumnCate li {color:#999 }
 .ColumnCate li a {color:#0066ff }
 .ColumnCate li h2 {margin:4px 0; padding-left:18px; background:#f9fdeb url(../images/allow.gif) no-repeat 6px 8px; border-bottom:1px solid #e0f6d0 }
 .ColumnCate li h2 a {color:#0044dd }
 
 .RolinList {width:100%; height:auto; margin:0 auto; text-align:left }
 .RolinList li { }
 .RolinList li h2 {width:100%; font-size:12px; background:#fff; color:#333; cursor:pointer }
 
 
/*right*/
 #slide {float:left; width:458px; height:200px }
 #slide_show_out {float:left; width:458px }
 #slide_show {position:relative; height:185px; text-align:center }
 #slide_img {border:1px solid #afea86; filter:progid:DXImageTransform.Microsoft.Fade(Overlap=1.00); overflow:hidden; width:456px;   height:100% }
 #slide_btn {right:5px; position:absolute; top:160px }
 #slide_btn div {float:left; margin:5px }
 #slide_show_ctl {margin-top:2px; padding:3px 0px; color:#434343; height:16px }
 #slide_show_ctl a {color:#434343 }
 #slide_show_ctl_msg {filter:progid:DXImageTransform.Microsoft.Fade(Overlap=1.00); float:left; overflow:hidden; width:424px }
 #slide_show_ctl_tuber {z-index:100; left:305px; position:relative; top:-17px }
 #slide_show_ctl_arrow {margin-right:5px }
 .li_dot {font-size:12px; color:#ed1264; font-family:Webdings }

 #login {float:right; width:260px }

 .ProTitle {overflow:hidden; width:100%; height:26px }
 .ProTitleLeft {float:left; background:url(../images/ColumnTitleLeft.gif) no-repeat; width:113px; height:26px }
 .ProTitleCenter {float:left; width:555px; height:26px; background:url(../images/ColumnTitleCenter.gif); color:#e25b00 }
 .ProTitleCenter2 {float:left; width:387px; height:26px; background:url(../images/ColumnTitleCenter.gif); color:#e25b00 }
 .ProTitleRight {float:right; background:url(../images/ColumnTitleCenter.gif); width:50px; height:26px; text-align:center }
 
 .FeaturedPro {overflow:hidden; margin:10px auto 0 auto; width:98% }
 .FeaturedPro li {float:left; margin-bottom:10px; width:19.9%; height:250px; color:#666666 }
 .FeaturedPro li a {color:#3366cc }
 
 .FeaturedPro2 {overflow:hidden; margin:10px auto; width:98% }
 .FeaturedPro2 li {float:left; width:24.9%; color:#666666 }
 .FeaturedPro2 li a {color:#3366cc }
 
 .FeaturedPro3 {overflow:hidden; margin:10px auto; width:100% }
 .FeaturedPro3 li {float:left; margin-bottom:10px; width:19.9%; color:#666666; text-align:center }
 .FeaturedPro3 li a {color:#3366cc }
 
 .HotPro {overflow:hidden; width:100% }
 .HotProLeft {float:left; width:562px }
 .HotProJsk {float:right; width:158px; height:299px }
 
 .servers {margin:6px 8px; height:172px !important; height:168px }
 .servers p {line-height:190% !important; line-height:200% }
 
 .LoginP {margin:6px 18px; height:172px !important; height:168px }
 .LoginP p {padding:2px 0 }
 
/*pages*/
 .PagesLeft {float:left; width:196px }
 .PagesRight {float:right; width:754px }
 
 /*news*/
 .NewsLeft {float:right; width:196px }
 .NewsRight {float:left; width:754px }
 
 .NewsList {overflow:hidden; margin:0 auto; width:100% }
 .NewsList ul {margin:0; padding:0 } 
 .NewsList li {float:left; padding:3px 0; width:100%; border-bottom:1px dashed #dddddd; font-size:14px }
 .NewsList ul li.list1 {width:75% }
 .NewsList ul li.list2 {width:13% }
 .NewsList ul li.list3 {width:12%; text-align:center }
 
 .related {overflow:hidden; width:100% }
 .related li {float:left; width:100%; list-style-type:none; font-size:14px; line-height:180% }
 .related li span{float:right } 
 
 /*guidance*/
 #guidance {margin:8px auto; width:960px; border-bottom:1px dashed #cccccc }
 .guidance {margin:8px auto; width:960px }
 
 .objecttitle {margin-bottom:10px; padding-left:20px; background:url(../images/listIco.gif) no-repeat 5px 5px }
 
 .PagesProTitle {float:left; margin-top:3px; margin-right:10px; border:1px solid #dddddd; border-bottom:none; background:#fff; width:80px; height:22px; text-align:center }
 .PagesProTitle a {color:#000 }
 .PagesSubTitle {float:left; margin-right:10px; padding-top:2px; text-align:center }
 .PagesSubTitle a {color:#fff }
 
 /*categorymenu*/
 .CateTitle {margin:2px auto; padding:0 10px 0 20px; height:22px; font-weight:bold; background:#f9f9f9 url(../images/allow.gif) no-repeat 10px 7px}
 .CateList { }
 .CateList p {float:left; padding-left:20px; width:60px; background:url(../images/circle.gif) no-repeat 9px 7px; text-align:left }
 
 .AllPrice {padding-left:12px; background:#fffbe3 url(../images/allow.gif) no-repeat 8px 8px }
 
 /*tuwen*/
 .del {text-decoration:line-through; color:#404040 }
 .redc30 {color:#c30 }
 .tuwen {background:#fff; padding:8px 0; height:70px }
 .tuwen_left {float:left; width:50px; text-align:center; margin-bottom:3px }
 .tuwen_right {margin-left:56px; line-height:18px }
 
 .delpro {padding:5px 3px; border-top:1px dashed #cccccc}
 
  /*imglist*/ 
 #detail_view {margin:10px 0; text-align:left }
 #detail_view a img { }
 .input {width:28px; border:1px solid #dddddd }
 .input:hover{width:28px; border:1px solid #f60 }
 .decount {background:url(../images/icon_product.gif) no-repeat 0 -86px; padding-left:15px; display:block; height:18px }
	
 .icon_zoom,.icon_file {padding-top:5px; padding-left:16px; cursor:pointer }
 .icon_zoom:hover,.icon_file:hover {text-decoration:none }
 .icon_zoom {background:url(../images/icon_zoom.gif) no-repeat 0px 0px }
 .icon_file {background:url(../images/icon_file.gif) no-repeat 0px 0px }
	
 .brand_summary {width:100% }
 .brand_summary li {width:17.2%; height:228px; float:left; margin-right:6px; margin-bottom:10px; padding:5px 6px; border:1px solid #afea86; background:#fcfcf2 }
 
 /*next*/ 
 .next {text-align:right }
 .next a {border:#eee 2px solid; padding:2px 5px; margin:2px; color:#036cb4; text-decoration:none }
 .next a:hover {border:#ff5a00 2px solid; color:#ff5a00; text-decoration:none }
 .next a:active {border:#999 2px solid; color:#666 }
 .next .current {border:#ff5a00 1px solid; padding:2px 5px; font-weight:bold; margin:2px; color:#fff; background:#ff6c16 }
 .next .disabled {border:#eee 1px solid; padding:2px 5px; margin:2px; color:#ddd } 
 
 /*wordlist*/
 #productsList {overflow:hidden; margin:10px auto 0 auto; width:98% }

 .products {clear:both; margin:10px 0; width:100% }
 .products li {float:left; width:100%; border-top:1px dashed #cccccc }
 .products li.hover {background:#fbfae3 }
 .products li ul {padding:0 }
 .products li ul li {border:0; padding:0; float:left; margin:0 }
 .products li ul li.aa {padding:10px 0; font-size:1px; width:200px }
 .products li ul li.bb {padding:10px 0; padding-right:10px; width:502px; color:#666; word-break:break-all; line-height:19px }
 .checkbox {float:left; margin-top:70px; width:20px; text-align:right }
 
 /*detail*/
 #ProductDes {overflow:hidden;width:100% }
 .ProductDesLeft {float:left; width:400px; border:1px solid #dddddd }
 .ProductDesRight {float:right; width:330px }
 
 .SmallImg {margin:2px 0 5px 8px; width:400px }
 .SmallImg ul {padding-right:0px; padding-left:0px; padding-bottom:0px; margin:0px; padding-top:0px }
 .SmallImg li {float:left; margin:2px 6px 2px 0px; list-style-type:none }
 .SmallImg a {display:block; border:#eaeaea 1px solid; padding:1px; float:left }
 .SmallImg a:hover {border:#ff0000 3px solid }
 .SmallImg a:hover img {border:0px; padding:0px; display:block; width:40px; height:40px }
 .SmallImg .down {border:#b6e000 3px solid; cursor:default }
 .SmallImg .down img {border:0px; padding:0px; display:block; width:40px; height:40px }
 .SmallImg img {border:0px; padding:0px; display:block; width:44px; height:44px }

 .items-info {margin:1px 0px 0px; padding:5px 15px 10px 15px; background:#fffee6 }
 .info-hx {padding-left:0px; font-weight:700; color:#666 }
 .info-hx strong {font-weight:700; color:#d80808 }
 dl {padding-bottom:4px; zoom:1 }
 dl dt {float:left; margin:0px; width:40px; padding-top:7px }
 dl dd {float:left; margin:0px; width:230px }
 dl dd a {color:#111; text-decoration:none }	
 dd ul {float:left; margin:0px 0px 2px }
 dd ul li {float:left; height:32px; padding:1px; margin:4px 4px 0px 0px; vertical-align:middle; line-height:20px; position:relative; background-color:#fff }
 dd ul li a {padding:0 6px; background-position:1px 1px; border:#36c 1px solid; display:block; width:10px; cursor:pointer; white-space:nowrap; background-color:#fff; text-align:center; min-width:10px }
 dd ul li a:hover {margin:0px; width:32px; border:#36c 2px solid }	
 dd ul li.selected a {margin:-1px; padding:0 5px; border:#d80808 2px solid; background:url(../images/select_icon.gif) no-repeat bottom right }
 dd ul li.selected a:hover {margin:-1px; padding:0 5px; border:#d80808 2px solid; position:static;width:32px }
 dd ul.ul-color-pic li a {padding:0 5px;  width:32px! important; line-height:32px; height:32px }
 dd ul.ul-color-pic li.null a {padding:0 5px; width:28px; background:#fff }
 dd ul.ul-color-pic li.null a span {width:auto; text-indent:0px }
 dd ul li.selected I {display:block; right:0px; background:url(../images/select_icon.gif) no-repeat 0px 0px; overflow:hidden; width:12px; bottom:0px; text-indent:-9999em; position:absolute; height:12px }
 .number {clear:both; padding-top:5px }
 
 .description {width:754px; word-break:break-all }
 
 /*description*/
 .detailtitle {margin-top:10px; text-indent:10px; width:754px; height:29px; background:url(../images/detailtitlebg.gif) }
 .parameter {margin:8px auto }
 
 /*commentary*/
 #camp ul {float:left; width:756px }
 #camp li {width:756px; text-indent:10px; list-style-type:none }
 #camp a:link {padding:5px; border-bottom:#cccccc 1px dashed; margin-top:5px; display:block; background:url(../images/ico.gif) no-repeat 5px 11px }
 #camp a:visited {padding:5px; border-bottom:#cccccc 1px dashed; margin-top:5px; display:block; background:url(../images/ico.gif) no-repeat 5px 11px }
 #camp a:hover {padding:5px; margin-top:5px; display:block; background:#f3f5d1 url(../images/ico.gif) no-repeat 5px 13px; text-decoration:none }
 #camp h3 {float:left }
 #camp span {display:block; padding:0 20px 0 0 } 
 #commentary {clear:both; margin:10px auto } 
 
 /*reg*/
 .regtitle {margin:10px auto; padding-top:6px; width:954px; height:26px; text-indent:10px; background:#f4fbbd url(../images/regtitle.gif); color:#f50 }
 .reghelp {margin:0 auto; width:865px; padding:5px 0 0 85px; height:62px; background:url(../images/reghelp.gif) no-repeat }
 .regprompt {margin:0 auto; width:954px; border-bottom:#cccccc 2px solid; text-align:right; color:#fc5804 }
 .reg {margin:20px auto; width:950px }
 .btn_regmain {width:217px; height:30px; border:none; background:url(../images/btn_regmain.gif) }

 /*login*/
 .login {margin:30px auto; width:954px; text-align:left }
 .loginleft {float:left; margin-right:10px; width:690px; background:url(../images/line.gif) no-repeat right top }
 .loginright {float:right; width:250px }  
 .logininput {overflow:hidden; margin:0; padding:20px; width:88%; border-top:1px solid #ebb44a; border-bottom:1px solid #ebb44a; background:#fcfbee; font-size:14px } 
 .inputleft {float:left; margin-right:10px; width:260px }
 .inputright {float:left; padding:25px 0 0 80px; width:220px; height:125px; background:url(../images/sign_lock.gif) no-repeat 0px 25px }  
 .password {padding:10px 40px 10px 20px; font-size:14px } 
 .help li {padding-left:20px; background:url(../images/circle.gif) no-repeat 5px 6px } 
 .reginput {margin:20px 0; padding:20px; width:88%; border-top:1px solid #7bd7f7; border-bottom:1px solid #7bd7f7; background:#e7f7ff; font-size:14px }  
 .promotword {margin:10px auto; padding-left:75px; font-size:12px } 
 
 /*patch*/
 .patch li {float:left; padding-top:1px; background:#e4e4e4 url(../images/patch-bg.gif) no-repeat; color:#999; text-indent:20px; line-height:19px; font-weight:bold; font-size:14px; list-style-type:none }
 .patch-5 li {width:20% }
 .step-1 .li-1 {background-position:-12px -20px; color:#fff }
 .step-2 .li-1 {background-position:-12px -40px; color:#a99263 }
 .step-3 .li-1 {background-position:-12px -40px; color:#a99263 }
 .step-4 .li-1 {background-position:-12px -40px; color:#a99263 }
 .step-5 .li-1 {background-position:-12px -40px; color:#a99263 }
 .step-1 .li-2 {background-color:#ffb102 } 
 .step-2 .li-2 {background-position:0px -20px; color:#fff; background-color:#e7e1d2 }
 .step-2 .li-3 {background-color:#ffb102 }
 .step-3 .li-3 {background-position:0px -20px; color:#fff; background-color:#e7e1d2 }
 .step-3 .li-4 {background-color:#ffb102}
 .step-4 .li-4 {background-position:0px -20px; color:#fff; background-color:#e7e1d2 }
 .step-4 .li-5 {background-color:#ffb102}
 .step-5 .li-5 {background-position:0px -20px; color:#fff; background-color:#e7e1d2 }
 
 /*cart*/
 .cart {float:left; margin:20px 0; width:130px; height:150px; background:url(../images/shoppingcart.gif) no-repeat }
 
 /*about*/
 .AboutTitle{padding-left:10px; line-height:26px; background:#ecfce0; border-bottom:1px solid #afea86; color:#333333 }
 .SubAboutTitle {padding-left:20px; background:#ecfce0 url(../images/allow.gif) no-repeat 10px 8px; font-weight:bold; color:#333333 }
 .about {margin:3px auto; padding:0 }
 .about li {padding:0 10px 0 20px; height:22px; background:url(../images/ico.gif) no-repeat 10px 8px } 
 .about li:hover {background:#ecfce0 url(../images/ico.gif) no-repeat 10px 8px }

 /*member*/ 
 .ColumnDiv { }
 .ColumnDiv h2 {margin-bottom:5px; padding:2px 5px; background:#ecfce0 url(../images/arrow-square.gif) no-repeat right -51px; border-bottom:1px solid #afea86; margin:0; cursor:pointer }
 .ColumnDiv h2:hover {background-color:#ecfce0 }
 .ColumnDiv h2.active {background-position:right 5px }
 .ColumnDiv div {background:#fff; margin:0; padding:10px 0; display:block }
 
 .errorshow {margin:0 auto; width:60%; padding:10px 0; background:#f7f7f7 url(../images/unchecked.gif) no-repeat 10px 12px; color:#f50; border:1px solid #cccccc; display:block; text-align:left}
 .errorshow li {clear:both; padding-left:15px; color:#f50; text-align:left; list-style-type:circle }
 .errorshow strong {padding-left:30px; font-weight:bold }
 .checkedshow {padding-top:2px; padding-left:20px; background:url(../images/checked.gif) no-repeat 0px 0px; color:#f50 }
 .warningshow {padding-top:2px; padding-left:20px; background:url(../images/warning.gif) no-repeat 0px 0px; color:#f50 }
 .helpshow {padding-top:2px; padding-left:20px; background:url(../images/help.gif) no-repeat 0px 0px; color:#f50 }
 
 .button {width:92px; padding:1px; line-height:24px; height:27px; border:1px solid #f99e67; background:#ffe8d8 url(../images/button.gif) no-repeat center; font-weight:bold; font-size:14px; color:#fff; cursor:hand; }
 
 .OrderTitle {padding-left:20px; line-height:25px; background:#fffbe3 url(../images/prompt.gif) no-repeat 5px 6px; border:1px solid #fee4ad; font-weight:bold; font-size:14px; color:#f60 }
 .OrderContent {overflow:hidden; margin-bottom:10px; padding:5px 0 5px 22px; background:#ffffff; border:1px solid #fee4ad; border-top:none }
 
 /*friendlink*/
 .wordlink {overflow:hidden; margin:10px 0 0 0 }
 .wordlink li {float:left; margin:0 20px 10px 0; padding:3px 10px; border:1px solid #afea86; background:#fcfcfc; text-align:center; width:100px }	 
 .imglink {overflow:hidden; margin:10px 0 0 0 }
 .imglink li {float:left; margin:0 0 10px 0; width:15.8% }	 
 .imglink li img{padding:1px; border:1px solid #f0f0f0 }

/*footer*/
#about {margin:10px auto; width:960px; text-align:center; color:#666}
#footer {margin:10px auto; padding:10px 0; width:960px; border-top:1px solid #afea86; text-align:center; font-family:Arial, Helvetica, sans-serif }
     /*slide*/
.adverslide {margin:0 auto; width:964px; position:relative; display:none }
	.adverslide a{color:#fff }
	.adverslideword {position:absolute; right:10px; top:5px }


/*MagicZoom*/ 
.MagicThumb {cursor:url(../cursor/zoomin.cur), pointer; outline:none }
.MagicThumb-zoomed {cursor:default }
.MagicThumb span {display:none }
.MagicThumb img {border:1px solid #eeeeee; outline:none }
.MagicThumb-image {border:1px solid #cccccc; outline:none }
.MagicThumb-image-zoomed {cursor:url(../cursor/zoomout.cur), pointer }
.MagicThumb-caption {color:#333333; background-color:#f0f0f0; font-family:Verdana, Helvetica; font-size:11px; padding:8px 16px }
.MagicThumb-controlbar {display:block; height:18px }
.MagicThumb-controlbar a {display:block; width:18px; height:18px; margin:0px 1px; outline:none; float:left; overflow: hidden }
.MagicThumb-controlbar a span {display:block; width:1000px; height:1000px; background:transparent url(../graphics/controlbar.png) no-repeat 0 0; outline:none; position:absolute; left:0px; top:0px }
.MagicThumb-loading {background:#ffffff url(../graphics/loader.gif) no-repeat 2px 50%; padding:2px 2px 2px 22px; margin:0; text-decoration:none; text-align:left; font-size:8pt; font-family:sans-serif }

.MagicZoomBigImageCont {border:1px solid #cccccc }
.MagicZoomHeader {font:10px Tahoma, Verdana, Arial, sans-serif;	color:#fff;	background:#91b817;	text-align:center !important }
.MagicZoomPup {background:#ffffff; cursor:hand }
.MagicZoomLoading {text-align:center; background:#ffffff; color:#444; border:1px solid #ccc; opacity:0.8; padding:3px 3px 3px 3px !important;	display:none }
.MagicZoomLoading img {padding-top:3px !important }
#tab1 {margin:0 auto; margin-top:50px; padding:2px 0 0 0px; width:754px; height:32px; background:url(../images/DetailTitleBgG.gif) no-repeat; border:1px solid #eff1be; border-top:none; border-bottom:none }
#tab1 ul {margin:0; padding:0 }
#tab1 li {float:left; padding:0 30px; height:32px; font-size:14px; line-height:32px; text-align:center; cursor:pointer; font-weight:bold; border-right:1px solid #eff1be; color:#444 }
#tab1 li.now {background:#fff; border-right:1px solid #eff1be; color:#f60 }
.tablist{margin:0px auto; width:754px; padding:10px 0; display:none }
.block{display:block }
#scroll {overflow:hidden; height:520px }

