$head$
<!-- header end -->

<!-- content begin -->
<!--guidance-->
<div class="guidance">
您现在的位置：<a href="/">首页</a> >> <a href="/about">关于我们</a> >> <strong>$name$</strong>
</div>

<div id="content">
<!--left-->
<div class="PagesLeft">

<div class="ColumnTitle4">
<div class="title">
<h2>关于我们</h2>
</div>
</div>
<div class="about"> 
<ul>
$getAboutList$
<li><a href="links.asp">友情链接</a></li>
<li><a href="feedback.asp">用户反馈</a></li>
<li><a href="/server/">帮助中心</a></li>
</ul>

</div>
</div>
<!--right-->
<div class="PagesRight">

<div class="ColumnTitle3">
<div class="ProTitle">
<div class="ProTitleLeft"><h2>$name$</h2></div>
<div class="ProTitleRight"></div>
</div>
</div>
<ul class="ColumnNews">
 	$content$	
 </ul>


</div>

</div>

<!--content end-->
  
<!--footer begin-->
$foot$
<!-- footer end -->

</body>
</html>