/* www.xsp2.cn 普通样式, leo, last modify:09-05-22 */

 body{margin:0; padding:0; border:0px none; background:#fff; color:#000; font-size:12px; font-family:'宋体',arial,'Lucida Grande','Lucida Sans Unicode','新宋体',verdana,sans-serif; line-height:180% }
 p{margin:0 }
 select,input {font-size:12px }
 h1 {margin:0; font-size:16px }
 h2 {margin:0; font-size:14px }
 h3 {margin:0; font-size:12px }
 dl {font-weight:400; margin:0; padding:0 }
 dt {font-weight:400; margin:0; padding:0 }
 dd {font-weight:400; margin:0; padding:0 }
 ul {margin:0; padding:0; list-style-type:none }
 ol {margin:0; padding:0; list-style-type:none }
 li {margin:0; padding:0 }
 hr {border:#bea97c 2px solid }
 form {margin:0 }
/* input {border:1px solid #7b9ebd; background:#fff }*/
 img {border:none }
 .imges {float:left; margin:0 5px; padding:5px; border:#dddddd 1px solid; background:#fff }
 a {color:#0044dd; text-decoration:none }
 a:hover {color:#f50; text-decoration:none }
 .img {border:#eaeaea 1px solid }
 .blue {color:#000099 }
 .red {color:#ff3300 }
 .yellow {color:#ff6600 }
 .green {color:#009900 }
 .gray {color:#666666 }
 .white {color:#ffffff }
 .clear {clear:both }
