/* www.xsp2.cn 管理后台主样式, leo, last modify:09-07-04 */

 body{margin:0; padding:0; border:0px none; background:#fff; color:#000; font-size:0.8em; font-family:'宋体','新宋体',arial,'Lucida Grande','Lucida Sans Unicode',verdana,sans-serif; line-height:180%;font-size:12px }
 p{margin:0 }
 select,input {font-size:12px }
 h1 {margin:0; font-size:16px }
 h2 {margin:0; font-size:14px }
 h3 {margin:0; font-size:12px }
 ul {margin:0; padding:0; list-style-type:none }
 li {margin:0; padding:0 }
 hr {border:#cccccc 1px solid }
 td {border-bottom:1px dashed #dddddd }
 form {margin:0 }
 img {border:none }
 a {color:#17529e; text-decoration:none }
 a:hover {color:#f50; text-decoration:none }
 .img {border:#eaeaea 1px solid }
 .red {color:#ff3300 }
 .gray {color:#666666 }
 .clear {clear:both }

/*head*/
 #head {height:50px; background:url(../images/HeadBg.gif) }
 .company {height:50px; background:url(../images/company.gif) no-repeat left }
 .HeadMenu {float:right; margin-top:23px }
 .HeadMenu li {float:left; margin-right:3px; width:83px; line-height:27px; background:url(../images/HeadMenuBg.gif) no-repeat; text-align:center }
 .HeadMenu li a {color:#fff }
 .HeadMenu li a:hover {display:block; background:url(../images/HeadMenuBg2.gif) no-repeat; color:#fff }
 
/*content*/
 #content {margin:10px auto; width:99% }
 #ContentLeft {float:left; padding:1px; width:22%; border:1px solid #c5c5c5 }
 #ContentRight {float:right; padding:1px; width:76%; border:1px solid #c5c5c5 }
 
 .SiderBar {height:24px; background:#f7f7f7 url(../images/LeftTitleBg.gif) } 
 .SiderBarTitle {padding-left:25px; background:url(../images/TitleIcon.gif) no-repeat; color:#fff }
 
 .item ul {margin:0; background:#fff; display:block; text-align:left }
 .item ul li {padding-left:6px; display:block; background:#f7f7f7 }
 .item ul li a:hover {background:#f7f7f7 }
 .item ul li a:active {background:#f7f7f7 }
 .title {margin-top:1px; padding-left:20px; display:block; background:#dddddd url(../images/ListIcon.gif) no-repeat 10px 9px; color:#385065; height:24px; font-weight:bold; cursor:pointer; text-decoration:none; text-align:left }
 .item a:hover {background:#dddddd url(../images/MenuIconBottom.gif) no-repeat right }
 .item a:active {background:#dddddd url(../images/MenuIconTop.gif) no-repeat right }
 
 .RightTitleBg {height:24px; background:url(../images/RightTitleBg.gif) }
 .RightTitle {padding-left:38px; height:24px; line-height:24px; background:url(../images/manage.gif) no-repeat 8px 1px; color:#fff }
 .RightTitle a {color:#f50}
 
 #RightContent {overflow:hidden; margin:10px auto; width:97% }
 .ColumnTitle {line-height:24px; background:#dddddd; color:#385065 }
 .ColumnContent {margin:10px auto }
 
 /*next*/ 
 .next {padding-top:10px; text-align:right }
 .next a {border:#eee 2px solid; padding:2px 5px; margin:2px; color:#036cb4; text-decoration:none }
 .next a:hover {border:#ff5a00 2px solid; color:#ff5a00; text-decoration:none }
 .next a:active {border:#999 2px solid; color:#666 }
 .next .current {border:#ff5a00 1px solid; padding:2px 5px; font-weight:bold; margin:2px; color:#fff; background:#ff6c16 }
 .next .disabled {border:#eee 1px solid; padding:2px 5px; margin:2px; color:#ddd } 
 
 /*table*/
 #table tr.color1{background:#f8f8f8 }
 #table tr.color2{background:#ffffff }

 /*button*/ 
 .edit {margin-top:2px; width:16px; height:16px; background:url(../images/edit.gif) no-repeat }
 .editon {width:16px; height:16px; background:url(../images/editon.gif) no-repeat }
 .editon a {color:#ff5500 } 
 
 .del {margin-top:2px; width:16px; height:16px; background:url(../images/del.gif) no-repeat }
 .delon {width:16px; height:16px; background:url(../images/delon.gif) no-repeat }
 .delon a {color:#ff5500 } 
 
/*login*/ 
 #login {height:456px; padding-top:120px; background:url(../images/LoginBg.gif) }
 .login {margin:0px auto; padding:100px 0 0 260px; width:319px; line-height:26px; height:173px; background:url(../images/Login.gif) no-repeat; color:#36668e }
 .login p{line-height:26px }
 .projection {margin:0px auto; width:579px; height:74px; background:url(../images/projection.gif) no-repeat }
 .LoginButton {width:72px; height:26px; background:url(../images/LoginButton.gif) no-repeat; text-align:center; border:none }
 
 .help {overflow:hidden; margin:5px 0; padding:0 10px }
 .help li {border-bottom:1px dashed #ccc }
 .help li a {display:block; padding-left:15px; background:url(../images/dian.gif) no-repeat 0px 5px }
 .help li a:hover {display:block; background:#eeeeee url(../images/dian.gif) no-repeat 0px 5px }
 .help li.listBottom {border:none }
  /*guidance*/
 #guidance {margin:10px; width:960px; border-bottom:1px dashed #cccccc }
/*footer*/
#about {margin:10px auto; width:960px; text-align:center; color:#666}
#footer {margin:10px auto; padding:10px 0; width:960px; border-top:1px solid #48c8ed; text-align:center; font-family:Arial, Helvetica, sans-serif }