/* www.xsp2.com 主样式表, leo, last modify:07-12-03 */
 
/*普通样式*/
	body{margin:0;padding:0;border:0px none;background:#fff;color:#000000;font-size:12px;font-family:'宋体',arial,'Lucida Grande','Lucida Sans Unicode','新宋体',verdana,sans-serif;text-align: center;line-height:180%;}
	p{margin:0;}
	select,input{font-size:12px;color:#000;}
	h1{margin:0;font-size:14px;color:#1b49ac;}
	h2{margin:0;font-size:14px;color:#ffffff;font-weight:bold;}
	h3{margin:0;font-size:12px;color:#000;float:left;}
	ul{margin:0;padding-left:20px;text-align:left;font-size:12px;list-style-type: disc;}
	a {color:#333333;text-decoration:none;}
	a:hover {color:#f50;text-decoration:underline;}
 
 a.bluelink {color:#1b49ac; text-decoration: none;}
 a.bluelink:hover {color:#f50; text-decoration: none;}
 
 .white {color:#ffffff;}
 
/*内容*/
#header {margin:0 auto; width:100%;}
#header ul {margin:0px; padding:0px;} 
#header li {float:left; display:block; list-style-type:none; height:70px;}
#header ul li.logo {width:298px;} 
#header ul li.name {width:339px; background:url(../images/name.gif) no-repeat;}
#header ul li.topbg {width:339px !important; width:auto; background:url(../images/topbg.gif);}

.topbg {margin:0; width:100%;}

 .logo h1 {border:0; margin:0; text-indent:-9999px;}
 .logo h1 A {border:0; display:block; background:url(../images/logo.gif) no-repeat; margin:0; height:70px; 
 text-decoration: none;}

 .home h1 {border:0; margin:0; text-indent:-9999px;}
 .home h1 A {border:0; display:block; background:url(../images/manage.gif) no-repeat; margin:0; height:37px; 
 text-decoration: none;}

#content {clear:both; margin:0 auto; width:100%;}
#content ul {margin:0px; padding:0px;} 
#content li {float:left; display:block; list-style-type:none; } 
#content ul li.left {width:171px; background:#7ba1dd;} 
#content ul li.right {width:805px !important; width:auto; }

.manage {overflow:hidden; margin-bottom:5px; width:100%; height:37px;}
.menutop {overflow:hidden; margin:0; width:100%; height:10px; background:url(../images/menutop.gif) no-repeat;}
.menucenter {margin:0; width:100%; background:url(../images/menucenter.gif); text-align:center;}
.menubottom {margin:0; width:100%; height:10px; background:url(../images/menubottom.gif) no-repeat;}
.exit {margin:5px auto; width:100%; }

.menuicon {margin:0 auto; padding-left:23px; width:125px; height:20px; background:url(../images/icon.gif) no-repeat; text-align:left;}
.menucon {overflow:hidden; margin:0 auto; padding:5px 0px 0px 5px; width:143px; text-align:left;}

.line {overflow:hidden; margin:0 auto; width:100%; height:5px; background:#eeeeee;}

.contentright {margin:10px auto; width:95%;}
.contentright2 {margin:0 auto; margin-top:150px; width:95%; font-size:18px; font-weight:bold;}
.bt{margin:0; padding-left:20px; font-size:14px; color:#ffffff; font-weight:bold; background:url(../images/allow.gif) no-repeat 8px 8px; text-align:left;}

 .login {clear:both; margin:0 auto; margin-top:15px; width:983px;}
 .login ul {margin:0px; padding:0px;} 
 .login li {float:left; display:block; list-style-type:none;} 
 .login ul li.loginlogo {width:282px; background:url(../images/loginlogo.gif) no-repeat; height:232px;} 
 .login ul li.loginname {width:701px; background:url(../images/loginname.gif) no-repeat; height:232px;}
 .login ul li.loginleft {width:449px; background:url(../images/loginleftbg.gif) no-repeat; height:163px;} 
 .login ul li.loginright {width:534px; background:url(../images/loginrightbg.gif) no-repeat; height:163px;}
 
 .enter {overflow:hidden; margin:0 auto; width:100%; padding-top:50px;}
 .enter ul {margin:0px; padding:0px;} 
 .enter li {float:left; display:block; list-style-type:none; height:80px;} 
 .enter ul li.enter1 {margin-right:20px; width:34%; padding-left:60px; text-align:left;} 
 .enter ul li.enter2 {width:50%; text-align:left;}
 
 .copy {clear:both; margin:0 auto; padding-top:30px; width:983px; height:56px; background:#2984df; font-size:14px;}

/* footer */
#footer {clear:both; margin:0 auto; padding:10px 0; width:100%; height:38px; text-align:center; background:url(../images/bottombg.gif);}

input,textarea{
	border-top: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	border-left: 1px solid #e5e5e5;
	margin: 1px 0px 4px 0px;
	font-family: Arial, Helvetica, sans-serif;
	color: #333;	
	font-size: 12px;
	voice-family: "\"}\""; 
  	voice-family: inherit;
  	font-size: 12px;
	padding:2px 0px 0px 3px;
}
textarea:focus, input:focus, .sffocus {
	background: #FBFDFF;
	border: 1px solid #003366;
}
.btn{border:1px solid #CCCCCC; background-color:#999900;}
.btn1{border:0px solid #CCCCCC; background-color:#999900;}
A:link,A:visited,A:active{ text-decoration: none;color: #111;}
/*---------- 表格部分 ---------- */
.Tbl { width:90%; padding:0px; margin:0px; border-top:solid 1px #666; border-left:solid 1px #666;  background-color:#fff;}
.Tbl td { border-bottom:solid 1px #666; border-right:solid 1px #666; color:#2A2A2A; height:22px;}

.MsgTbl { border:1px #365A8A solid; margin:5px; width:90%;}
.MsgTbl td { border-bottom:solid 1px #a5a5a5; border-right:solid 1px #a5a5a5; height:22px; }

.NoBorderTbl { border:0px; }
.NoBorderTbl td{ border:0px;}


.tbTitle { height:22px; text-align:left; background-color:#6386B5; padding-left:10px; color:#ffffff; font-weight:bold; }
.tbHeader { height: 22px; background-color:#CEDFEF; text-align:center; }
.tbFooter { text-align:right; padding:3px 20px 3px 0px; background-color:#CEDFEF; color:#888; }

.tbLabel { width:100px; text-align:right; padding:2px 10px 0px 0px; background-color:#f5f5f5; }
.tbMsg {text-align:left; padding:2px 10px 2px 10px; color:#666666; word-break: break-all; word-wrap:break-word; }
/*---------- 表格部分 ---------- */
/*---------- 分页列表 ---------- */
#PageLink{ width:95%; text-align:right; font-size:10px; font-family:Verdana, Arial, Helvetica, sans-serif; font-weight:bold; clear:both; padding:10px 0 10px 0px;}
#PageLink a:link,PageLink a:active,PageLink a:visited{color: #111111;text-decoration: none;}
#PageLink a:hover{color: #111111;text-decoration: underline;}
/*---------- 分页列表 ---------- */
/*massage_box*/
 #massage_box{position:absolute; left:expression((body.clientWidth-420)/2); top:expression((body.clientHeight-200)/2); width:420px; filter:dropshadow(color=#666666,offx=3,offy=3,positive=2); z-index:1000; visibility:hidden}
 #mask{position:absolute; top:0; left:0; width:expression(body.clientWidth); height:expression(body.clientHeight); background:#666; filter:ALPHA(opacity=60); z-index:999; visibility:hidden}
 .massage{border:#ebb44a solid 3px; width:95%; height:95%; background:#fff; line-height:150%}
 .masktitle{background:#fbfaea; height:10%; font-size:12px; padding:2px 5px 2px 10px; color:#4a9900; text-align:left}

 #massage_box2{position:absolute; left:expression((body.clientWidth-320)/2); top:expression((body.clientHeight-200)/2); width:320px; filter:dropshadow(color=#666666,offx=3,offy=3,positive=2); z-index:1000; visibility:hidden}
 #mask2{position:absolute; top:0; left:0; width:expression(body.clientWidth); height:expression(body.clientHeight); background:#666; filter:ALPHA(opacity=60); z-index:999; visibility:hidden}
 .massage{border:#ebb44a solid 3px; width:95%; height:95%; background:#fff; line-height:150%}
 .masktitle{background:#fbfaea; height:10%; font-size:12px; padding:4px 5px 3px 10px; color:#4a9900}
 
 .blue {color:#000099 }
 .red {color:#ff3300 }
 .yellow {color:#ff6600 }
 .green {color:#009900 }
 .gray {color:#666666 }
 .white {color:#ffffff }