﻿$head$
<!--announce begin-->
<div style="margin:0 auto; margin-top:10px; padding:0 10px 0 65px; width:883px; height:23px; line-height:23px; border:1px solid #eeeeee; background:url($skinpath$/images/anounce.gif) no-repeat; color:#555555">
<marquee scrollamount="3" onMouseOut="this.start()"  onmouseover="this.stop();">
$gonggao$
</marquee>
</div>
<script type="text/javascript" src="$webvirtual$/js/index.js"></script>
<script type="text/javascript" src="$webvirtual$/js/jQuery.textSlider.js"></script>
<!--content begin-->
<div id="content">
<div class="ContentLeft">


<!--<a href="javascript:;"><img src="$skinpath$/images/down.gif" /></a>-->

<div class="ColumnTitle">
<div class="title">
<div class="TitleLeft"><h2>产品类别</h2></div>
<div class="TitleRight"><!--新奇特、创意商品为主--></div>
</div>
</div>

<ul class="ColumnCate">
$小额混批类别$
</ul>
</ul>
<div class="ColumnTitle">
<h2>客服中心</h2>
</div>
<div class="LoginP">
$servers$
</div> 

<div class="ColumnTitle">
<h2>网站动态</h2>
</div>
<ul class="ColumnNews">
$网站动态$
</ul>
<div class="ColumnTitle">
<h2><!--新品区-->特色区</h2>
</div>
<ul class="ColumnHot" style="text-align:center">
$新品区$
</ul>
</div>
<div class="ContentRight">
<div style="width:728px; text-align:center">
<img src="$skinpath$/images/4.jpg" alt="">
</div>


<!--<div class="HotPro">
<div class="HotProLeft">
<div class="column3">
<div class="ColumnTitle3">
<div class="ProTitle">
<div class="ProTitleLeft"><h2>限时抢购</h2></div>
<div class="ProTitleCenter2"></div>
<div class="ProTitleRight"><a href="/products/?bid=4138">更多</a></div>
</div>
</div>
<ul class="ColumnNews">
<div class="FeaturedPro2" id="gundonzuixin">
<ul>
$限时抢1购$
</ul>
</div>
</ul>
</div>
</div>
<div class="HotProJsk"><a href="http://www.58bashi.com" target="_blank"><img src="$skinpath$/images/jsk.gif" border="0" /></a></div>
</div>
<script language="javascript">
//$("#gundonzuixin").textSlider({line:4,speed:2000,timer:3000});   
</script>-->
<div class="ColumnTitle3">
<div class="ProTitle">
<div class="ProTitleLeft"><h2><!--抢购团批-->特色美食</h2></div>
<div class="ProTitleCenter"><!--团批力量大--></div>
<div class="ProTitleRight"><a href="/products/?id=3864,4475">更多</a></div>
</div>
</div>
<ul class="ColumnNews">
<div class="FeaturedPro">
<ul>
<!--$限时抢购$-->
$特色美食$
</ul>
</div>
</ul>

<div class="ColumnTitle3">
<div class="ProTitle">
<div class="ProTitleLeft"><h2><!--夏季热销-->汽车专卖</h2></div>
<div class="ProTitleCenter"></div>
<div class="ProTitleRight"><a href="/products/?id=3864,4479">更多</a></div>
</div>
</div>
<ul class="ColumnNews">
<div class="FeaturedPro">
<ul>
<!--$夏季热销$-->
$汽车专卖$
</ul>
</div>
</ul>


<div class="ColumnTitle3">
<div class="ProTitle">
<div class="ProTitleLeft"><h2><!--精品区-->购物专区</h2></div>
<div class="ProTitleCenter"></div>
<div class="ProTitleRight"><a href="/products/?id=3864,4495">更多</a></div>
</div>
</div>
<ul class="ColumnNews">
<div class="FeaturedPro">
<ul>
<!--$精品区$-->
$购物专区$
</ul>
</div>
</ul>

<div class="ColumnTitle3">
<div class="ProTitle">
<div class="ProTitleLeft"><h2>宾馆酒店</h2></div>
<div class="ProTitleCenter"></div>
<div class="ProTitleRight"><a href="/products/?id=3864,4476">更多</a></div>
</div>
</div>
<ul class="ColumnNews">
<div class="FeaturedPro">
<ul>
$宾馆酒店$
</ul>
</div>
</ul>

<div class="ColumnTitle3">
<div class="ProTitle">
<div class="ProTitleLeft"><h2>健身休闲</h2></div>
<div class="ProTitleCenter"></div>
<div class="ProTitleRight"><a href="/products/?id=3864,4477">更多</a></div>
</div>
</div>
<ul class="ColumnNews">
<div class="FeaturedPro">
<ul>
$健身休闲$
</ul>
</div>
</ul>

<div class="ColumnTitle3">
<div class="ProTitle">
<div class="ProTitleLeft"><h2>家庭装饰</h2></div>
<div class="ProTitleCenter"></div>
<div class="ProTitleRight"><a href="/products/?id=3864,4489">更多</a></div>
</div>
</div>
<ul class="ColumnNews">
<div class="FeaturedPro">
<ul>
$家庭装饰$
</ul>
</div>
</ul>

<div class="ColumnTitle3">
<div class="ProTitle">
<div class="ProTitleLeft"><h2>培训教育</h2></div>
<div class="ProTitleCenter"></div>
<div class="ProTitleRight"><a href="/products/?id=3864,4480">更多</a></div>
</div>
</div>
<ul class="ColumnNews">
<div class="FeaturedPro">
<ul>
$培训教育$
</ul>
</div>
</ul>

<div class="ColumnTitle3">
<div class="ProTitle">
<div class="ProTitleLeft"><h2>美容美发</h2></div>
<div class="ProTitleCenter"></div>
<div class="ProTitleRight"><a href="/products/?id=3864,4481">更多</a></div>
</div>
</div>
<ul class="ColumnNews">
<div class="FeaturedPro">
<ul>
$美容美发$
</ul>
</div>
</ul>

</div>

<div class="clear"></div>
<!--brand-->
<div id="news">
<!--news 01-->
<div class="news">
<div class="column">
<div class="ColumnTitle2">
<div class="title">
<div class="TitleLeft"><h2><!--团购心得-->特色美食</h2></div>
<div class="TitleRight"><a href="/news/?id=4">更多></a></div>
</div>
</div>
<ul class="ColumnContent">
$新闻1$
</ul>
</div>
</div>
<!--news 02-->
<div class="news">
<div class="column">
<div class="ColumnTitle2">
<div class="title">
<div class="TitleLeft"><h2><!--团购学院-->宾馆酒店</h2></div>
<div class="TitleRight"><a href="/news/?id=5">更多></a></div>
</div>
</div>
<ul class="ColumnContent">
$新闻2$
</ul>
</div>
</div>
<!--news 03-->
<div class="news">
<div class="column">

<div class="ColumnTitle2">
<div class="title">
<div class="TitleLeft"><h2><!--营销之道-->休闲娱乐</h2></div>
<div class="TitleRight"><a href="/news/?id=6">更多></a></div>
</div>
</div>
<ul class="ColumnContent">
$新闻3$
</ul>
</div>
</div>
<!--news 04-->
<div class="news2">
<div class="column">
<div class="ColumnTitle2">
<div class="title">
<div class="TitleLeft"><h2><!--我晒宝贝-->医疗美容</h2></div>
<div class="TitleRight"><a href="/news/?id=7">更多></a></div>
</div>
</div>
<ul class="ColumnContent">
$新闻4$
</ul>
</div>
</div>

<!--news 04-->
<div class="news">
<div class="column">
<div class="ColumnTitle2">
<div class="title">
<div class="TitleLeft"><h2><!--我晒宝贝-->培训教育</h2></div>
<div class="TitleRight"><a href="/news/?id=26">更多></a></div>
</div>
</div>
<ul class="ColumnContent">
$新闻5$
</ul>
</div>
</div>

<!--news 04-->
<div class="news">
<div class="column">
<div class="ColumnTitle2">
<div class="title">
<div class="TitleLeft"><h2><!--我晒宝贝-->市场导购</h2></div>
<div class="TitleRight"><a href="/news/?id=30">更多></a></div>
</div>
</div>
<ul class="ColumnContent">
$新闻6$
</ul>
</div>
</div>

<!--news 07-->
<div class="news">
<div class="column">
<div class="ColumnTitle2">
<div class="title">
<div class="TitleLeft"><h2><!--我晒宝贝-->供求信息</h2></div>
<div class="TitleRight"><a href="/news/?id=31">更多></a></div>
</div>
</div>
<ul class="ColumnContent">
$新闻7$
</ul>
</div>
</div>

<!--news 08-->
<div class="news2">
<div class="column">
<div class="ColumnTitle2">
<div class="title">
<div class="TitleLeft"><h2><!--我晒宝贝-->综合服务</h2></div>
<div class="TitleRight"><a href="/news/?id=32">更多></a></div>
</div>
</div>
<ul class="ColumnContent">
$新闻8$
</ul>
</div>
</div>

</div>
<!--links-->
<div id="links">
合作链接：$txtLink$<br />$picLink$
</div>

</div>
<!--content end-->

<!--footer begin-->
$foot$
<!--footer end-->
</body>
</html>