/* www.xsp2.cn 主样式表, leo, last modify:09-05-22 */
 
/*head*/
 .slide {margin:0 auto; width:964px; position:relative }
 .slide a{color:#fff }
 .slideword {position:absolute; right:10px; top:5px }
 
 #top {overflow:hidden; width:960px; margin:15px auto 0 auto }
 .TopLeft {float:left; width:200px }
 .TopRight {float:left; width:760px } 

 .logo h1 {margin:0; width:200px; text-indent:-9999px }
 .logo h1 a {display:block; background:url(../images/logo.gif) no-repeat; margin:0; height:75px; text-decoration:none }
 
 .tel {float:left; margin:19px 0 0 110px; width:288px; height:56px; background:url(../images/tel.gif) no-repeat }
 .welcome {float:right; text-align:right }
 .TopLink {float:right; margin-top:12px; padding:15px 0 0 45px; width:310px; height:47px; background:url(../images/TopLink.gif) no-repeat; text-align:left }
 
 #menu {margin:0 auto; width:100%; background:url(../images/menu2.gif) }
 .menu {margin:0 auto; width:960px; height:46px; font-weight:bold; font-size:14px; background:url(../images/menu.gif) no-repeat }
 .menu li {float:left; margin-right:3px }
 .menu li a {display:block; padding:8px 14px 0 6px; background:url(../images/menuLine.gif) no-repeat right; color:#fff; text-align:center }
 .menu li a:hover {color:#f60 }
 .menu li.menuon a {color:#fff }
 .menu li.menuon a:hover {color:#fff }
 
 #search {clear:both; margin:0 auto; width:960px; padding:5px 0 }
 .searchButton {width:74px; height:23px; border:none; background:url(../images/searchButton.gif) no-repeat; color:#fff; font-weight:bold }
 
 .basket {line-height:26px }
 .stat {margin-left:10px }
 
 #nav {padding:0px; position:absolute; z-index:1 }
 #nav li {display:inline; list-style:none; list-style-position:outside; text-align:center; font-weight:bold; float:left }
 .list {line-height:20px; text-align:left; padding:0px 4px 4px 4px; font-weight:normal }
 .menu1 {width:82px; height:auto; border:1px solid #ff8c01; background:#fff8cf; cursor:hand }
 .menu2 {width:82px; height:24px; color:#0044dd; overflow-y:hidden; cursor:hand }
 
/*content*/
#content {margin:10px auto; width:960px }
 .ContentLeft {float:left; width:220px }
 .ContentRight {float:right; width:730px }
 
 .brand {padding-left:46px; height:100px; background:url(../images/brand.gif) no-repeat left top }
 
 #news {overflow:hidden; margin-top:10px; width:100%; height:220px } 
 .news {float:left; margin:0 13px 0 0; width:230px }
 .news2 {float:left; width:230px }
 
 #links {margin-bottom:10px; padding:10px 15px; border:1px solid #e098dc }
 #links img {margin:6px 6px 0 0 }
 #links a {color:#666 }

 .TabTitle {padding-left:10px; height:27px; background:url(../images/ColumnTitleq.gif); color:#fff }
 .TabTitle ul {border:0; margin:0; padding:0 }
 .TabTitle li {float:left; width:100%; height:26px; cursor:pointer; text-align:center; background:url(../images/ColumnTitleq.gif) }
 .TabTitle .active {overflow:hidden; margin-top:3px; margin-right:10px; width:74px; height:23px; background:#fff; border:1px solid #c6c6c6; border-bottom:none }
 .TabTitle .active a {color:#333 }
 .TabTitle .normal{width:70px; text-align:left }
 .TabTitle .normal a {color:#fff }
 .TabContent{width:auto; margin:0 auto }
 .none {display:none }

/*left*/ 
 .column {margin-bottom:10px; border:1px solid #e098dc }
 .column3 {margin-bottom:10px }
 .ColumnTitle {padding-left:15px; line-height:30px; background:url(../images/ColumnTitle2.gif); color:#fff } 
 .ColumnTitle2 {padding-left:13px; line-height:30px; background:url(../images/ColumnTitle3.gif); color:#fff }
 .ColumnTitle3 {line-height:45px; background:url(../images/ColumnTitle.gif); color:#fff }
 .ColumnTitle4 {padding-left:15px; line-height:30px; background:url(../images/ColumnTitle4.gif); color:#fff }
 .ColumnContent {margin:6px 8px }
  
 .title {overflow:hidden; width:100% }
 .TitleLeft {float:left }
 .TitleRight {float:right; padding-right:18px }
 .TitleRight a {color:#fff }
 
 .ColumnNews {margin:0px 4px 10px 4px; padding:5px 10px; background:#fdf6fd }
 .ColumnHot {margin:0px 4px 10px 4px; padding:8px 10px; background:#fdf6fd }
 .ColumnHot li {padding-bottom:8px; color:#666666 }
 
 .ColumnCate {margin:0px 4px 10px 4px; padding:5px 10px; background:#fdf6fd }
 .ColumnCate li {color:#999 }
 .ColumnCate li a {color:#0066ff }
 .ColumnCate li h2 {margin:4px 0; padding-left:28px; background:#f9e2f9 url(../images/allow2.gif) no-repeat; border-bottom:1px solid #f6cff5 }
 .ColumnCate li h2 a {color:#333 }
 
 .RolinList {width:100%; height:auto; margin:0 auto; margin-bottom:10px; text-align:left; background:#fdf6fd }
 .RolinList li { }
 .RolinList li h2 {width:100%; font-size:12px; color:#333; cursor:pointer }
 
 
/*right*/
 #slide {float:left; width:458px; height:200px }
 #slide_show_out {float:left; width:458px }
 #slide_show {position:relative; height:185px; text-align:center }
 #slide_img {border:1px solid #ff8719; filter:progid:DXImageTransform.Microsoft.Fade(Overlap=1.00); overflow:hidden; width:456px;   height:100% }
 #slide_btn {right:5px; position:absolute; top:160px }
 #slide_btn div {float:left; margin:5px }
 #slide_show_ctl {margin-top:2px; padding:3px 0px; color:#434343; height:16px }
 #slide_show_ctl a {color:#434343 }
 #slide_show_ctl_msg {filter:progid:DXImageTransform.Microsoft.Fade(Overlap=1.00); float:left; overflow:hidden; width:424px }
 #slide_show_ctl_tuber {z-index:100; left:305px; position:relative; top:-17px }
 #slide_show_ctl_arrow {margin-right:5px }
 .li_dot {font-size:12px; color:#ed1264; font-family:Webdings }

 #login {float:right; width:240px }

 .ProTitle {overflow:hidden; width:100%; height:45px }
 .ProTitleLeft {float:left; background:url(../images/ColumnTitleLeft.gif) no-repeat; padding:7px 0 0 15px; width:98px; height:38px }
 .ProTitleCenter {float:left; width:535px; height:45px; background:url(../images/ColumnTitle.gif); color:#e25b00 }
 .ProTitleCenter2 {float:left; width:367px; height:45px; background:url(../images/ColumnTitle.gif); color:#e25b00 }
 .ProTitleRight {float:right; padding-top:7px; background:url(../images/ColumnTitleRight.gif); width:50px; height:38px }
 .ProTitleRight a {color:#fff; font-weight:bold }
 
 .FeaturedPro {overflow:hidden; margin:10px auto 0 auto; width:98% }
 .FeaturedPro li {float:left; margin-bottom:10px; width:19.9%; height:250px; color:#666666 }
 .FeaturedPro li a {color:#3366cc }
 
 .FeaturedPro2 {overflow:hidden; margin:10px auto; width:98%; height:255px }
 .FeaturedPro2 li {float:left; width:24.9%; color:#666666; height:255px }
 .FeaturedPro2 li a {color:#3366cc }
 
 .FeaturedPro3 {overflow:hidden; margin:10px auto; width:100% }
 .FeaturedPro3 li {float:left; margin-bottom:10px; width:19.9%; color:#666666; text-align:center }
 .FeaturedPro3 li a {color:#3366cc }
 
 .HotPro {overflow:hidden; margin-top:10px; width:100% }
 .HotProLeft {float:left; width:542px }
 .HotProJsk {float:right; width:158px }
 
 .servers {margin:6px 8px; height:172px !important; height:168px }
 .servers p {line-height:160% !important; line-height:170% }
 
 .LoginP {margin:0px 4px 10px 4px; padding:5px 10px; background:#fdf6fd }
 .LoginP p {padding:3px 0 }
 
/*pages*/
 .PagesLeft {float:left; width:186px }
 .PagesRight {float:right; width:764px }
 
 /*news*/
 .NewsLeft {float:right; width:196px }
 .NewsRight {float:left; width:754px }
 
 .NewsList {overflow:hidden; margin:0 auto; width:100% }
 .NewsList ul {margin:0; padding:0 } 
 .NewsList li {float:left; padding:3px 0; width:100%; border-bottom:1px dashed #dddddd; font-size:14px }
 .NewsList ul li.list1 {width:65% }
 .NewsList ul li.list2 {width:13% }
 .NewsList ul li.list3 {width:22%; text-align:center }
 
 .related {overflow:hidden; width:100% }
 .related li {float:left; width:100%; list-style-type:none; font-size:14px; line-height:180% }
 .related li span{float:right } 
 
 /*guidance*/
 #guidance {margin:8px auto; width:960px; border-bottom:1px dashed #cccccc }
 .guidance {margin:8px auto; width:960px }
 
 .objecttitle {margin-bottom:10px; padding-left:20px; background:url(../images/listIco.gif) no-repeat 5px 5px }
 
 .PagesProTitle {float:left; margin-top:3px; margin-right:10px; border:1px solid #dddddd; border-bottom:none; background:#fff; width:80px; height:22px; text-align:center }
 .PagesProTitle a {color:#000 }
 .PagesSubTitle {float:left; margin-right:10px; padding-top:8px; text-align:center; background:url(../images/ColumnTitle.gif) }
 .PagesSubTitle a {color:#fff }
 
 /*categorymenu*/
 .CateTitle {margin:2px auto; padding:0 10px 0 20px; height:22px; font-weight:bold; background:url(../images/allow.gif) no-repeat 10px 7px}
 .CateList { }
 /*.CateList p {padding-left:20px; text-align:left }*/
  .CateList p {float:left; padding-left:20px; width:60px; background:url(../images/circle.gif) no-repeat 9px 7px; text-align:left } /* edit 2010/08/30 cjx */
 
 .AllPrice {padding-left:12px; background:#fffbe3 url(../images/allow.gif) no-repeat 8px 8px }
 
 /*tuwen*/
 .del {text-decoration:line-through; color:#404040 }
 .redc30 {color:#c30 }
 .tuwen {background:#fff; padding:8px 0; height:70px }
 .tuwen_left {float:left; width:70px; text-align:center; margin-bottom:3px }
 .tuwen_right {margin-left:76px; line-height:18px }
 
 .delpro {padding:5px 3px; border-top:1px dashed #cccccc}
 
 /*imglist*/ 
 #detail_view {margin:10px 0; text-align:left }
 #detail_view a img { }
 .input {width:28px; border:1px solid #dddddd }
 .input:hover{width:28px; border:1px solid #f60 }
 .decount {background:url(../images/icon_product.gif) no-repeat 0 -86px; padding-left:15px; display:block; height:18px }
	
 .icon_zoom,.icon_file {padding-top:5px; padding-left:16px; cursor:pointer }
 .icon_zoom:hover,.icon_file:hover {text-decoration:none }
 .icon_zoom {background:url(../images/icon_zoom.gif) no-repeat 0px 0px }
 .icon_file {background:url(../images/icon_file.gif) no-repeat 0px 0px }
	
 .brand_summary {width:100% }
 .brand_summary li {width:17.2%; height:228px; float:left; margin-right:6px; margin-bottom:10px; padding:5px 6px; border:1px solid #fb89e0; background:#fcfcf2 }
  /*
 .brand_summary .samll_sum {top:-135px; left:93px; width:120px; position:absolute; height:73px; background:url(../images/small_sum_bg.gif) no-repeat left -1px; padding-left:32px; visibility:hidden }
 #detail_view .brand_summary .samll_sum img {width:49px; height:63px; margin:0; float:left; border:5px solid #99ca10; border-left:none }
 .brand_summary_right .samll_sum {left:-123px; background:url(../images/small_sum_right_bg.gif) no-repeat right -1px; padding-left:0; padding-right:32px }
 #detail_view .brand_summary_right .samll_sum img {float:right; border:5px solid #99ca10; border-right:none }*/
 
 /*next*/ 
 .next {text-align:right }
 .next a {border:#e5c2e5 2px solid; padding:2px 5px; margin:2px; color:#333; text-decoration:none; background:#fff }
 .next a:hover {border:#bc6abb 2px solid; color:#ff5a00; text-decoration:none }
 .next a:active {border:#999 2px solid; color:#666 }
 .next .current {border:#bc6abb 1px solid; padding:2px 5px; font-weight:bold; margin:2px; color:#bc6abb; background:#fff }
 .next .disabled {border:#e5c2e5 2px solid; padding:2px 5px; margin:2px; color:#333; background:#fff } 
 
 /*wordlist*/
 #productsList {overflow:hidden; margin:10px auto 0 auto; width:98% }

 .products {clear:both; margin:10px 0; width:100% }
 .products li {float:left; width:100%; border-top:1px dashed #cccccc }
 .products li.hover {background:#fbfae3 }
 .products li ul {padding:0 }
 .products li ul li {border:0; padding:0; float:left; margin:0 }
 .products li ul li.aa {padding:10px 0; font-size:1px; width:190px }
 .products li ul li.bb {padding:10px 0; padding-right:10px; width:502px; color:#666; word-break:break-all; line-height:19px; width-space:normal }
 .checkbox {float:left; margin-top:70px; width:20px; text-align:right }
 
 /*detail*/
 .column2 {margin-bottom:10px; border:1px solid #fb89e0 }
 .AboutTitle{padding-left:10px; line-height:26px; background:#ffebfa; border-bottom:1px solid #fed5f4; color:#333333 }
 .column2-4d5 {width:170px }
 .column2-8d5 {width:320px }
 .column2-9d5 {width:368px }
 .column2-10d5 {width:500px }
	
 .order-number {padding:10px 0 0 0 }
 .product-title {margin:6px 0px 0px }
 .price-info {margin:10px 0px 0px; padding:0 }
 .price-info li {line-height:20px }
 .price-info li del {color:#999 }
 .sale-info {margin:10px 0px 5px 0px }
 .sale-info .point {font-weight:700; margin:0px 2px; color:#390 }
	
 .items-info {margin:1px 0px 0px; padding:5px 15px 10px 15px; background:#fffee6; font-family:arial,'Lucida Grande'}
 .items-info B {display:none }
	
 .items-info .info-hx {padding-left:0px; font-weight:700; color:#666 }
 .items-info .info-hx strong {font-weight:700; color:#d80808 }
 .items-info dl {padding-bottom:4px; zoom:1 }
 .items-info dl dt {float:left; margin:0px; width:40px; padding-top:7px }
 .items-info dl dd {float:left; margin:0px; width:320px }
 .items-info dl dd a {color:#111; text-decoration:none }
	
 .items-info dd ul {float:left; margin:0px 0px 2px }
 .items-info dd ul li {float:left; padding:1px; margin:4px 4px 0px 0px; vertical-align:middle; line-height:20px; position:relative; background-color:#fff }
 .items-info dd ul li a {padding:0 6px; background-position:1px 1px; border:#36c 1px solid; display:block; width:10px; CURSOR:pointer; white-space:nowrap; background-color:#fff; TEXT-align:center; min-width:10px }
 .items-info dd ul li a:hover {left:0px; margin:0px; border:#36c 2px solid; position:absolute; top:0px }
	
 .items-info dd ul li.selected a {margin:-1px; border:#d80808 2px solid }
 .items-info dd ul li.selected a:hover {margin:-1px; border:#d80808 2px solid; position:static }
 .items-info dd ul li.selected I {dispaly:block; right:0px; background:url(../images/select_icon.gif) no-repeat 0px 0px; overflow:hidden; width:12px; bottom:0px; text-indent:-9999em; position:absolute; height:12px }
	
 .items-info dd ul.ul-color-pic li a {padding:0; width:32px! important; line-height:32px; height:32px }
 .items-info dd ul.ul-color-pic li.null a {padding:0 5px; width:28px }
 .items-info dd ul.ul-color-pic li span {display:block; text-indent:-9999em }
 .items-info dd ul.ul-color-pic li.null a {background:#fff }
 .items-info dd ul.ul-color-pic li.null a span {width:auto; text-indent:0px }
 .items-info dd ul li.selected I {display:block; right:0px; background:url(../images/select_icon.gif) no-repeat 0px 0px; overflow:hidden; width:12px; bottom:0px; text-indent:-9999em; position:absolute; height:12px }
 .items-info .number {clear:both; padding-top:5px }
 .items-info .number input {width:4em }
 .items-info .number option {padding:0 4px }
 .items-info .number .stock {margin:0px 0px 0px 10px; color:#999 }
 
 /*detail*/
  #ProductDes {overflow:hidden;width:100% }
 .ProductDesLeft {float:left; width:400px; border:1px solid #dddddd }
 .ProductDesRight {float:right; width:330px }
 
 .SmallImg {margin:2px 0 5px 8px; width:400px }
 .SmallImg ul {padding-right:0px; padding-left:0px; padding-bottom:0px; margin:0px; padding-top:0px }
 .SmallImg li {float:left; margin:2px 6px 2px 0px; list-style-type:none }
 .SmallImg a {display:block; border:#eaeaea 1px solid; padding:1px; float:left }
 .SmallImg a:hover {border:#ff0000 3px solid }
 .SmallImg a:hover img {border:0px; padding:0px; display:block; width:40px; height:40px }
 .SmallImg .down {border:#b6e000 3px solid; cursor:default }
 .SmallImg .down img {border:0px; padding:0px; display:block; width:40px; height:40px }
 .SmallImg img {border:0px; padding:0px; display:block; width:44px; height:44px }

 .items-info {margin:1px 0px 0px; padding:5px 15px 10px 15px; background:#fffee6 }
 .info-hx {padding-left:0px; font-weight:700; color:#666 }
 .info-hx strong {font-weight:700; color:#d80808 }
 dl {padding-bottom:4px; zoom:1 }
 dl dt {float:left; margin:0px; width:40px; padding-top:7px }
 dl dd {float:left; margin:0px; width:230px }
 dl dd a {color:#111; text-decoration:none }	
 dd ul {float:left; margin:0px 0px 2px }
 dd ul li {float:left; height:32px; padding:1px; margin:4px 4px 0px 0px; vertical-align:middle; line-height:20px; position:relative; background-color:#fff }
 dd ul li a {padding:0 6px; background-position:1px 1px; border:#36c 1px solid; display:block; width:10px; cursor:pointer; white-space:nowrap; background-color:#fff; text-align:center; min-width:10px }
 dd ul li a:hover {margin:0px; width:32px; border:#36c 2px solid }	
 dd ul li.selected a {margin:-1px; padding:0 5px; border:#d80808 2px solid; background:url(../images/select_icon.gif) no-repeat bottom right }
 dd ul li.selected a:hover {margin:-1px; padding:0 5px; border:#d80808 2px solid; position:static;width:32px }
 dd ul.ul-color-pic li a {padding:0 5px;  width:32px! important; line-height:32px; height:32px }
 dd ul.ul-color-pic li.null a {padding:0 5px; width:28px; background:#fff }
 dd ul.ul-color-pic li.null a span {width:auto; text-indent:0px }
 dd ul li.selected I {display:block; right:0px; background:url(../images/select_icon.gif) no-repeat 0px 0px; overflow:hidden; width:12px; bottom:0px; text-indent:-9999em; position:absolute; height:12px }
 .number {clear:both; padding-top:5px }
 
 .description {width:754px; word-break:break-all }
 
 /*description*/
 .detailtitle {margin-top:10px; text-indent:10px; width:754px; height:29px; background:url(../images/detailtitlebg.gif) }
 .parameter {margin:8px auto }
 
 /*commentary*/
 #camp ul {float:left; width:756px }
 #camp li {width:756px; text-indent:10px; list-style-type:none }
 #camp a:link {padding:5px; border-bottom:#cccccc 1px dashed; margin-top:5px; display:block; background:url(../images/ico.gif) no-repeat 5px 11px }
 #camp a:visited {padding:5px; border-bottom:#cccccc 1px dashed; margin-top:5px; display:block; background:url(../images/ico.gif) no-repeat 5px 11px }
 #camp a:hover {padding:5px; margin-top:5px; display:block; background:#f3f3f3 url(../images/ico.gif) no-repeat 5px 13px; text-decoration:none }
 #camp h3 {float:left }
 #camp span {display:block; padding:0 20px 0 0 } 
 #commentary {clear:both; margin:10px auto } 
 
 /*reg*/
 .regtitle {margin:10px auto; padding-top:6px; width:954px; height:26px; text-indent:10px; background:#f4fbbd url(../images/regtitle.gif); color:#f50 }
 .reghelp {margin:0 auto; width:865px; padding:5px 0 0 85px; height:62px; background:url(../images/reghelp.gif) no-repeat }
 .regprompt {margin:0 auto; width:954px; border-bottom:#cccccc 2px solid; text-align:right; color:#fc5804 }
 .reg {margin:20px auto; width:950px }
 .btn_regmain {width:217px; height:30px; border:none; background:url(../images/btn_regmain.gif) }

 /*login*/
 .login {margin:30px auto; width:954px; text-align:left }
 .loginleft {float:left; margin-right:10px; width:690px; background:url(../images/line.gif) no-repeat right top }
 .loginright {float:right; width:250px }  
 .logininput {margin:0; padding:20px; width:88%; height:150px; border-top:1px solid #ebb44a; border-bottom:1px solid #ebb44a; background:#fcfbee; font-size:14px;} 
 .inputleft {float:left; margin-right:10px; width:260px; height:150px;}
 .inputright {float:left; padding:25px 0 0 80px; width:220px; height:125px; background:url(../images/sign_lock.gif) no-repeat 0px 25px }  
 .password {padding:10px 40px 10px 20px; font-size:14px } 
 .help li {padding-left:20px; background:url(../images/circle.gif) no-repeat 5px 6px } 
 .reginput {margin:20px 0; padding:20px; width:88%; border-top:1px solid #7bd7f7; border-bottom:1px solid #7bd7f7; background:#e7f7ff; font-size:14px }  
 .promotword {margin:10px auto; padding-left:75px; font-size:12px } 
 
 /*patch*/
 .patch li {float:left; padding-top:1px; background:#e4e4e4 url(../images/patch-bg.gif) no-repeat; color:#999; text-indent:20px; line-height:19px; font-weight:bold; font-size:14px; list-style-type:none }
 .patch-5 li {width:20% }
 .step-1 .li-1 {background-position:-12px -20px; color:#fff }
 .step-2 .li-1 {background-position:-12px -40px; color:#a99263 }
 .step-3 .li-1 {background-position:-12px -40px; color:#a99263 }
 .step-4 .li-1 {background-position:-12px -40px; color:#a99263 }
 .step-5 .li-1 {background-position:-12px -40px; color:#a99263 }
 .step-1 .li-2 {background-color:#ff8801 } 
 .step-2 .li-2 {background-position:0px -20px; color:#fff; background-color:#e7e1d2 }
 .step-2 .li-3 {background-color:#ff8801 }
 .step-3 .li-3 {background-position:0px -20px; color:#fff; background-color:#e7e1d2 }
 .step-3 .li-4 {background-color:#ff8801}
 .step-4 .li-4 {background-position:0px -20px; color:#fff; background-color:#e7e1d2 }
 .step-4 .li-5 {background-color:#ff8801}
 .step-5 .li-5 {background-position:0px -20px; color:#fff; background-color:#e7e1d2 }
 
 /*cart*/
 .cart {float:left; margin:20px 0; width:130px; height:150px; background:url(../images/shoppingcart.gif) no-repeat }
 
 /*about
 .about {margin:2px auto }
 .about li {padding:0 10px 0 10px; height:22px; background:url(../images/allow.gif) no-repeat 0px 7px }*/
 .SubAboutTitle {padding-left:20px; background:#ffebfa url(../images/allow.gif) no-repeat 10px 8px; font-weight:bold; color:#333333 }
 .about {margin:3px auto; padding:0 }
 .about li {padding:0 10px 0 20px; height:22px; background:url(../images/ico.gif) no-repeat 10px 8px } 
 .about li:hover {background:#ffebfa url(../images/ico.gif) no-repeat 10px 8px }
 
 /*friendlink*/
 .wordlink {overflow:hidden; margin:10px 0 0 0 }
 .wordlink li {float:left; margin:0 20px 10px 0; padding:3px 10px; border:1px solid #f0f0f0; background:#fcfcfc; text-align:center; width:100px }	 
 .imglink {overflow:hidden; margin:10px 0 0 0 }
 .imglink li {float:left; margin:0 0 10px 0; width:15.8% }	 
 .imglink li img{padding:1px; border:1px solid #f0f0f0 }
 .input {width:15px; border:1px solid #dddddd }

/*footer*/
#about {margin:10px auto; width:960px; text-align:center; color:#666}
#footer {margin:10px auto; padding:10px 0; width:960px; border-top:1px solid #e098dc; text-align:center; font-family:Arial, Helvetica, sans-serif }

#tab1 {margin:0 auto; margin-top:50px; padding:2px 0 0 0px; width:754px; height:32px; background:url(../images/DetailTitleBgG.gif) no-repeat; border:1px solid #ffbde8; border-top:none; border-bottom:none }
#tab1 ul {margin:0; padding:0 }
#tab1 li {float:left; padding:0 30px; height:32px; font-size:14px; line-height:32px; text-align:center; cursor:pointer; font-weight:bold; border-right:1px solid #ffbde8; color:#444 }
#tab1 li.now {background:#fff; border-right:1px solid #ffbde8; color:#f60 }
.tablist{margin:0px auto; width:754px; padding:10px 0; display:none }
.block{display:block }
#scroll {overflow:hidden; height:520px }
