$head$
<!-- header end -->

<!-- content begin -->
<!--guidance-->
<div class="guidance">
您现在的位置：<a href="/">首页</a> >> <a href="/about">关于我们</a> >> <strong>用户反馈</strong>
</div>

<div id="content">
<!--left-->
<div class="PagesLeft">
<div class="column">
<div class="ColumnTitle">
<div class="title">
<h2>关于我们</h2>
</div>
</div>

<div class="about"> 
<ul>
$getAboutList$
<li><a href="links.asp">友情链接</a></li>
<li><a href="feedback.asp">用户反馈</a></li>
<li><a href="/server/">帮助中心</a></li>
</ul>
</div>

</div>
</div>
<!--right-->
<div class="PagesRight">
<div class="column">
<div class="ColumnTitle">
<div class="title">
<h2>用户反馈</h2>
</h2>
</div>
</div>
<ul class="ColumnNews">
  <div style="margin:20px auto; width:97%; line-height:180%">
<form action="$webvirtual$/about/saveMessage.asp" method="post" onsubmit="return Validator.Validate(this,2);">
<table cellspacing="0" cellpadding="2" width="100%" border="0">
  <tbody>
    <tr>
      <td height="32" colspan="2" valign="top" class="yellow">尊敬的客户：请在下面填写您的反馈信息，我们将会及时妥善地处理。谢谢！</td>
      </tr>
    <tr>
      <td width="10%">主 &nbsp;&nbsp;&nbsp;题： </td>
      <td width="90%"><select name="title" dataType="Require" msg="请选择留言标题">
        <option value="查询订单发货/配送情况" selected="selected">查询订单发货/配送情况</option>
        <option value="咨询制度">咨询制度</option>
        <option value="申请售后服务">申请售后服务</option>
        <option value="投诉与建议">投诉与建议</option>
        <option value="修改订单">修改订单</option>
      </select></td>
    </tr>
    <tr>
      <td>姓 &nbsp;&nbsp;&nbsp;名：
        
               </td>
      <td><input size="22" name="uname" dataType="LimitB" min="2" max="6" msg="请输入您的真实姓名(2-6个汉字)"/></td>
    </tr>
    <tr>
      <td>电 &nbsp;&nbsp;&nbsp;话：        </td>
      <td><input size="22" name="phone" dataType="Phone" msg="请输入您的联系电话" />
 <span class="gray">请正确填写，以便我们能第一时间联系到您(如：010-1234567)</span></td>
    </tr>
    <tr>
      <td>邮 &nbsp;&nbsp;&nbsp;箱：</td>
      <td><input size="22" name="Email" dataType="Email" msg="请填写您的Email地址" />
 <span class="gray">请正确填写，以便我们能第一时间联系到您(如：abc@163.com)</span></td>
    </tr>
    <tr>
      <td>订 单 号：        </td>
      <td><input size="22" name="order" /><span class="gray">选填 注意：如果是咨询与订单相关的信息，请务必填写您的订单号(订单号为18位数字)</span>
 </td>
    </tr>
    <tr>
      <td>来 &nbsp;&nbsp;&nbsp;自：</td>
      <td><input size="22" name="comf" />
 <span class="gray">选填，如：中国北京</span></td>
    </tr>
    <tr>
      <td valign="top">反馈信息：          </td>
      <td valign="top"><textarea name="content" cols="60" rows="6"></textarea></td>
    </tr>
    <tr>
      <td height="38">&nbsp;</td>
      <td><input type="submit" value="提交信息" name="Submit" /></td>
    </tr>
  </tbody>
</table>
</form>
 </div>
</ul>
</div>

</div>

</div>
<!--content end-->
  
<!--footer begin-->
$foot$
<!-- footer end -->

</body>
</html>