$head$

<!-- content begin -->
<!--guidance-->
<div class="guidance">
您现在的位置：<a href="/">首页</a> >> <a href="/server/?id=$id$">$bidName$</a> >> <strong>$name$</strong>
</div>


<div id="content">
<!--left-->
<div class="PagesLeft">
<div class="column">
<!--account-->
$helpfl$
</div>
</div>
<!--right-->
<div class="PagesRight">
<div class="column">
<div class="ColumnTitle">
<div class="title">
<h2>$name$</h2>
</div>
</div>
<ul class="ColumnNews">
$content$
</ul>
</div>

</div>

</div>
<!--content end-->
  
<!--footer begin-->
$foot$
<!-- footer end -->

</body>
</html>