﻿

 body{margin:0; padding:0; border:0px none; background:#fff; color:#000; font-size:12px; font-family:'宋体',arial,'Lucida Grande','Lucida Sans Unicode','新宋体',verdana,sans-serif; line-height:180% }
 p{margin:0 }
 ul {margin:0; padding:0; list-style-type:none }
 li {margin:0; padding:0; list-style-type:none }

 /*customerService*/
 #CustomerService {float:right; position:absolute; padding:2px; width:139px; visibility:hidden; z-index:999 }
 .OnlineList {float:left; padding:5px 0; width:107px; background:#fff; border:1px solid #bfe3aa }
 .OnlineList li {padding-left:8px; padding-bottom:4px !important; padding-bottom:8px }
 .ServiceContent {float:left }
