﻿$head$
<script type="text/javascript" src="$webvirtual$/js/index.js"></script>
<!-- header end -->

<!--announce begin-->
<div style="margin:0 auto; margin-top:10px; padding:0 10px 0 65px; width:883px; height:23px; line-height:23px; border:1px solid #eeeeee; background:url($skinpath$/images/anounce.gif) no-repeat; color:#555555">
<marquee scrollamount="3" onMouseOut="this.start()"  onmouseover="this.stop();">
$gonggao$
</marquee>
</div>
<!--announce end-->

<!--content begin-->
<div id="content">
<div class="ContentLeft">
<div class="column">

<!-- TabTitle begin -->
<div style="overflow:hidden; height:27px; background:url($skinpath$/images/ColumnTitle.gif)">
<div style="float:left; margin:3px 0 0 10px; width:74px; height:24px; background:#fff; border:1px solid #c6c6c6; border-bottom:none; text-align:center"><h2><a href="javascript:;">最新动态</a></h2></div>
<div style="float:right; padding:3px 10px 0 0"><a href="/news" class="white" target="_blank">更多>></a></div>
</div>
<!-- TabTitle end -->
<!-- TabContent begin -->
<ul class="ColumnNews">
$热点资讯$
</ul>
<!-- TabContent end -->
</div>

<div class="column">
<div class="ColumnTitle">
<div class="title">
<div class="TitleLeft"><h2>产品类别</h2></div>
<div class="TitleRight">新奇特、创意商品为主</div>
</div>
</div>
<ul class="ColumnCate">
$小额混批类别$
</ul>
</div>

<!--<div class="column2">
<div class="ColumnTitle">
<div class="title">
<div class="TitleLeft"><h2>热销排行</h2></div>
</div>
</div>
<ul class="ColumnCate">
$热销排行$
</ul>
</div>
-->

</div>
<SCRIPT type="text/javascript" src="$webvirtual$/js/scroll.js"></SCRIPT>
<div class="ContentRight">
<div id="slide">
<div id="slide_show_out">
<!--幻灯片展示开始-->
    <div id="slide_show">
      <div id="slide_img"></div>
      <div id="slide_btn">
        <div><a onClick="javascript:showImage(0);return false;" 
href="javascript:;" target="_self"><img height=13 alt="第1张" 
src="$skinpath$/images/slide/slide_btn_1.gif" width="13" border=0></a></div>
        <div><a onClick="javascript:showImage(1);return false;" 
href="javascript:;" target="_self"><img height=13 alt="第2张" 
src="$skinpath$/images/slide/slide_btn_2.gif" width="13" border=0></a></div>
        <div><a onClick="javascript:showImage(2);return false;" 
href="javascript:;" target="_self"><img height=13 alt="第3张" 
src="$skinpath$/images/slide/slide_btn_3.gif" width="13" border=0></a></div>
      </div>
    </div>
<!--幻灯片展示结束-->

<!--幻灯片展示控制开始-->
<div id="slide_show_ctl">
      <div id="slide_show_ctl_msg">
	  <span class="li_dot">4</span><a id="slide_title" href="javascript:;"></a> 
	  </div>
      <div><a id="img_prev_btn" 
onClick="showPrevImage();return false;" href="javascript:;" 
target="_self"><img height=12 alt=上一张 
src="$skinpath$/images/slide/slide_back.gif" width=11 border=0></a> <a 
id="img_next_btn" onClick="showNextImage();return false;" 
href="javascript:;" target="_self"><img height=12 alt=下一张 
src="$skinpath$/images/slide/slide_next.gif" width=11 border=0></a> </div>
</div>
<script language="javascript" type="text/javascript">
var fImgs = new Array();
$scroll$
imagePlay();
</script>
<!--幻灯片展示控制结束-->
</div>
</div>
<div id="login">
<div class="column">


<!-- TabTitle begin -->
    <div class="TabTitle">
      <ul id="myTab1" class="ColumnTitle">
        <li class="active" onMouseOver="nTabs(this,0);"><h2><a href="javascript:;">客服中心</a></h2></li>
        <li class="normal" onMouseOver="nTabs(this,1);"><h2><a href="javascript:;">会员登录</a></h2></li>
      </ul>
    </div>
<!-- TabTitle end -->

<!-- TabContent begin -->
    <div class="TabContent">
      <div id="myTab1_Content0">
	  <div class="clear"></div>
<div class="servers">
$servers$   
</div>
	  </div>
      <div id="myTab1_Content1" class="none">
	  <div class="clear"></div>
<div class="LoginP">
<form action="/reg/chkuser.asp" method="post" onsubmit="return Validator.Validate(this,3)">
<p>用户名：    <input type="text" name="username" />  </p>
<p>密  码：    <input type="password" name="password" />  </p>
<p>验证码：    <input type="text" style="width:28px" name="f_code" /> <script language="javascript" src="/reg/code.js"></script>  </p>
<p style="margin-top:5px; padding-left:54px"><input type="image" src="$skinpath$/images/hydl.gif" border="0" /></a> <a href="/reg/reguser.asp"><img src="$skinpath$/images/yhzc.gif" border="0" /></a> </p>
<p style="margin-bottom:18px; padding-left:50px">·<a href="/server/?id=57">付款方式？</a> ·<a href="/reg">忘记密码？</a> </p>
</form>
</div>  
	  </div>
    </div>
<!-- TabContent end -->


</div>
</div>
<div class="clear"></div>
<div class="HotPro">
<div class="HotProLeft">
<div class="column">
<div class="ColumnTitle">
<div class="ProTitle">
<div class="ProTitleLeft"><h2>最新商品</h2></div>
<div class="ProTitleCenter2">最新市场热销商品</div>
<div class="ProTitleRight"><a href="/products">更多></a></div>
</div>
</div>
<ul class="ColumnNews">
<div class="FeaturedPro2">
<ul>
$最新商品$
</ul>
</div>
</ul>
</div>
</div>

<div class="HotProJsk">
<!--<div class="column4">
<div class="ColumnTitle2">
<div class="title">
<div class="TitleLeft"><h2>热销排行</h2></div>
</div>
</div>
<a href="javascript:;"><img src="$skinpath$/images/jsk.gif" border="0" align="absmiddle" /></a>
<ul class="ColumnCate">
$热销排行$
</ul>
</div></div>-->
<script language=javascript src=/common/ad/adlist.asp?priceid=1&place=0></script></div>

</div>

<div class="column">
<div class="ColumnTitle">
<div class="ProTitle">
<div class="ProTitleLeft">
  <h2>热销产品</h2>
</div>
<div class="ProTitleCenter">推荐热销批发商品</div>
<div class="ProTitleRight"><a href="/hot/">更多></a></div>
</div>
</div>
<ul class="ColumnNews">
<div class="FeaturedPro">
<ul>
<!--<div id="scroll">-->
$热销产品$
<!--</div>-->
</ul>
</div>
</ul>
</div>




<!--<div><a href="http://www.xsp2.cn/products/?keyword=%E6%97%A5%E6%9C%AC&id=%E6%89%80%E6%9C%89%E5%88%86%E7%B1%BB" target="_blank"><img src="$skinpath$/images/adver.gif" border="0" class="img" /></a></div>-->

</div>

<div class="clear"></div>

<div class="content">

<div class="column">
<div class="ColumnTitle">
<div class="ProTitle">
<div class="ProTitleLeft"><h2>巧妙收纳</h2></div>
<div class="ProTitleCenter3"> <a href="/products/detail.asp?id=20381">上下抽收纳盒</a> | <a href="/products/detail.asp?id=19742">手提两件套</a> | <a href="/products/detail.asp?id=19741">内衣收纳盒</a> | <a href="/products/detail.asp?id=11472">浪漫樱花双层三抽</a> | <a href="/products/detail.asp?id=11531">玩具杂物收纳袋</a> | <a href="/products/detail.asp?id=12177">滚轮购物车</a> </div>
<div class="ProTitleRight"><a href="/products/?id=4353">更多></a></div>
</div>
</div>
<div style="overflow:hidden;height:100%">
<div class="columnLeft"><a href="/products/?id=3864,4438,4446"><img src="$skinpath$/images/columnLeft01.gif" border="0" /></a></div>
<div class="columnRight">
<ul class="ColumnNews">
<div class="FeaturedPro">
<ul>
$推荐分类产品1$
</ul>
</div>
</ul>
</div>
</div>
</div>
</div>

<div class="clear"></div>

<div class="content">
<div class="column">
<div class="ColumnTitle">
<div class="ProTitle">
<div class="ProTitleLeft"><h2>箱包衣袜</h2></div>
<div class="ProTitleCenter3"> <a href="/products/detail.asp?id=18488">欧版骷髅头女包</a> | <a href="/products/detail.asp?id=18467">韩版瑞丽钱包</a> | <a href="/products/detail.asp?id=18461">牛津真皮长款钱包</a> | <a href="/products/detail.asp?id=18465">学院淑女化妆包</a> | <a href="/products/detail.asp?id=18439">气质百搭包</a> | <a href="/products/detail.asp?id=18505">时尚潮人最IN成熟包</a> </div>
<div class="ProTitleRight"><a href="/products/?id=4318">更多></a></div>
</div>
</div>
<div style="overflow:hidden;height:100%">
<div class="columnLeft"><a href="/products/?id=3864,4252"><img src="$skinpath$/images/columnLeft02.gif" border="0" /></a></div>
<div class="columnRight">
<ul class="ColumnNews">
<div class="FeaturedPro">
<ul>
$推荐分类产品2$
</ul>
</div>
</ul>
</div>
</div>
</div>
</div>

<div class="clear"></div>

<div class="content">
<div class="column">
<div class="ColumnTitle">
<div class="ProTitle">
<div class="ProTitleLeft"><h2>创意家居</h2></div>
<div class="ProTitleCenter3"> <a href="/products/detail.asp?id=21532">催眠乌龟投影仪</a> | <a href="/products/detail.asp?id=13372">七彩牛奶杯灯</a> | <a href="/products/detail.asp?id=16763">七彩声控蜡烛灯</a> | <a href="/products/detail.asp?id=17562">七彩闪光可乐杯</a> | <a href="/products/detail.asp?id=17509">骨瓷浪漫发光杯</a> | <a href="/products/detail.asp?id=19109">白长颈兔纸巾座</a> </div>
<div class="ProTitleRight"><a href="/products/?id=3864,4438">更多></a></div>
</div>
</div>
<div style="overflow:hidden;height:100%">
<div class="columnLeft"><a href="/products/?id=3864,4462"><img src="$skinpath$/images/columnLeft03.gif" border="0" /></a></div>
<div class="columnRight">
<ul class="ColumnNews">
<div class="FeaturedPro">
<ul>
$推荐分类产品3$
</ul>
</div>
</ul>
</div>
</div>
</div>
</div>

<div class="clear"></div>
<p>
<script language=javascript src=/common/ad/adlist.asp?priceid=1&place=3></script>
</p>
<!--brand
<div class="brand">
<script language=javascript src=/common/ad/adlist.asp?priceid=1&place=1></script>
</div>-->

<div id="news">
<!--news 01-->
<div class="news">
<div class="column">
<div class="ColumnTitle2">
<div class="title">
<div class="TitleLeft"><h2>网商经验</h2></div>
<div class="TitleRight"><a href="/news/?id=4" target="_blank">更多></a></div>
</div>
</div>
<ul class="ColumnContent">
$新闻1$
</ul>
</div>
</div>
<!--news 02-->
<div class="news">
<div class="column">
<div class="ColumnTitle2">
<div class="title">
<div class="TitleLeft"><h2>创业学院</h2></div>
<div class="TitleRight"><a href="/news/?id=5" target="_blank">更多></a></div>
</div>
</div>
<ul class="ColumnContent">
$新闻2$
</ul>
</div>
</div>
<!--news 03-->
<div class="news">
<div class="column">

<div class="ColumnTitle2">
<div class="title">
<div class="TitleLeft"><h2>我爱团购</h2></div>
<div class="TitleRight"><a href="/news/?id=6" target="_blank">更多></a></div>
</div>
</div>
<ul class="ColumnContent">
$新闻3$
</ul>
</div>
</div>
<!--news 04-->
<div class="news2">
<div class="column">
<div class="ColumnTitle2">
<div class="title">
<div class="TitleLeft"><h2>市场动态</h2></div>
<div class="TitleRight"><a href="/news/?id=7" target="_blank">更多></a></div>
</div>
</div>
<ul class="ColumnContent">
$新闻4$
</ul>
</div>
</div>

</div>
<!--brand
<div id="brand">
品牌企业：<a href="javascript:;" target="_blank">苏泊尔厨具</a> <a href="javascript:;" target="_blank">爱仕达厨具</a> <a href="javascript:;" target="_blank">小助手厨具</a> <a href="javascript:;" target="_blank">三角电饭煲</a> <a href="javascript:;" target="_blank">双喜压力锅</a> <a href="javascript:;" target="_blank">新飞电饭煲</a> <a href="javascript:;" target="_blank">星箭电火锅</a> <a href="javascript:;" target="_blank">孚日大家纺</a> <a href="javascript:;" target="_blank">梦娜袜业</a> <a href="javascript:;" target="_blank">邦德袜业</a> <a href="javascript:;" target="_blank">金狐狸内衣</a> <a href="javascript:;" target="_blank">好家缘电水壶</a> <a href="javascript:;" target="_blank">芭比屋儿童家纺</a> <a href="javascript:;" target="_blank">新科剃须刀</a> <a href="javascript:;" target="_blank">星箭无烟锅</a> <a href="javascript:;" target="_blank">劳特斯紫砂锅</a> <a href="javascript:;" target="_blank">三角电池炉</a> 
</div>-->

<!--links-->
<div id="linksu">
合作链接：$txtLink$<br />$picLink$
</div>

<!--links-->
<!--<div id="links">
<ul>
<li><a href="http://qun.qq.com/air/#95327986" target="_blank">济南同城团购群95327986</a></li>
<li><a href="http://qun.qq.com/air/#95328251" target="_blank">昆明同城团购群95328251</a></li>
<li><a href="http://qun.qq.com/air/#95328509" target="_blank">南宁同城团购群95328509</a></li>
<li><a href="http://qun.qq.com/air/#95328348" target="_blank">郑州同城团购群95328348</a></li>
<li><a href="http://qun.qq.com/air/#95330462" target="_blank">武汉同城团购群95330462</a></li>
<li><a href="http://qun.qq.com/air/#95330772" target="_blank">兰州同城团购群95330772</a></li>
<li><a href="http://qun.qq.com/air/#95330923" target="_blank">长春同城团购群95330923</a></li>
<li><a href="http://qun.qq.com/air/#95331329" target="_blank">杭州同城团购群95331329</a></li>
<li><a href="http://qun.qq.com/air/#68081905" target="_blank">苏州同城团购群68081905</a></li>
<li><a href="http://qun.qq.com/air/#95379481" target="_blank">沈阳同城团购群95379481</a></li>
<li><a href="http://qun.qq.com/air/#95379429" target="_blank">天津同城团购群95379429</a></li>
<li><a href="http://qun.qq.com/air/#9504660" target="_blank">重庆同城团购群9504660</a></li>
<li><a href="http://qun.qq.com/air/#95337437" target="_blank">成都同城购物群95337437</a></li>
<li><a href="http://qun.qq.com/air/#67141075" target="_blank">合肥同城团购群67141075</a></li>
<li><a href="http://qun.qq.com/air/#68179197" target="_blank">南昌同城团购群68179197</a></li>
<li><a href="http://qun.qq.com/air/#12487283" target="_blank">南京同城团购群12487283</a></li>
</ul>
</div>-->

<div style="margin:15px 0"><img src="$skinpath$/images/process.gif" /></div>
</div>
<!--content end-->

<!--footer begin-->
$foot$
<!--footer end-->
</body>
</html>