$head$
<!--header end-->

<!--content begin-->
<script language="javascript" src="/js/products.js"></script>
<div id="guidance">
<a href="/">首页</a> >> 所以评论
</div>

<div id="content">
<!--price-->
<div class="objecttitle">
<h2>按价格分</h2>
<a href="$mtUrl$mt=6" class="red">六月份最新商品</a>&nbsp;&nbsp;<a href="$mtUrl$mt=5" class="red">五月份最新商品</a>&nbsp;&nbsp;<a href="$priceUrl$price=0,1">0-1元</a>&nbsp;&nbsp;<a href="$priceUrl$price=1,2" >1-2元</a>&nbsp;&nbsp;<a href="$priceUrl$price=2,3" >2-3元</a>&nbsp;&nbsp;<a href="$priceUrl$price=3,5" >3-5元</a>&nbsp;&nbsp;<a href="$priceUrl$price=5,8" >5-8元</a>&nbsp;&nbsp;<a href="$priceUrl$price=8,10" >8-10元</a>&nbsp;&nbsp;<a href="$priceUrl$price=10,15" >10-15元</a>&nbsp;&nbsp;<a href="$priceUrl$price=15,20" >15-20元</a>&nbsp;&nbsp;<a href="$priceUrl$price=20,30" >20-30元</a>&nbsp;&nbsp;<a href="$priceUrl$price=30,50" >30-50元</a>&nbsp;&nbsp;<a href="$priceUrl$price=50,80" >50-80元</a>&nbsp;&nbsp;<a href="$priceUrl$price=80,100" >80-100元</a>&nbsp;&nbsp;<a href="$priceUrl$price=100,500" >100-500元</a>&nbsp;&nbsp;<a href="$priceUrl$price=500,0" >500元以上</a>
</div>

<!--left-->
<div class="PagesLeft">
<div class="column">
<div class="ColumnTitle">
<div class="title">
<h2>$bidname$</h2>
</div>
</div>
<div class="RolinList" id="rolin">
<ul>
$getclass$
</ul>
</div>
</div>
<div class="column">
<div class="ColumnTitle">
<div class="title">
<h2>最新热卖</h2>
</div>
</div>
<ul class="ColumnCate" id="prolist2">
</ul>
</div>
<script language="javascript">
getHot($bid$);
</script>
<div class="column">
<div class="ColumnTitle">
<div class="title">
<h2>您浏览过的商品</h2>
</div>
</div>
<ul class="ColumnCate" id="prolist3">
</ul>
</div>
<script language="javascript">
getHistory($bid$);
</script>
</div>
<!--right-->
<div class="PagesRight">
<div class="column">
<div class="ColumnTitle">
<div class="ProTitle">
<div class="PagesProTitle">
<h2><a href="javascript:;">所有评论</a></h2>
</div>
</div>
</div>
<ul class="ColumnNews">
<div id="productsList">
	
	$pages$
	

	<!--wordlist-->
	<ul class="products">
		  $list$
		</ul>

	
	$pages$
	
	
	
</div>
</ul>
</div>

</div>

</div>
<!--content end-->

<!--footer begin-->
<div class="clear"></div>
$foot$
<!--footer end-->

</body>
</html>