* { margin: 0px; padding: 0px; word-break:break-all; }
body{margin:0px; font-size:12px; background-color: #ffffff; font-family:Verdana, Arial, Helvetica, sans-serif;}
input{ font-size: 12px; }
ul,li,ol{ list-style: none; color:#666;}
dl,dt,dd{ margin: 0px; padding: 0px;}
a:link,a:visited{color:#666; text-decoration:none;}
a:hover{color:#B70218; text-decoration:none;}
a.main:link,a.main:visited{color:#fff;font-size:14px; font-weight:bold; text-decoration:none;}
a.main:hover{color:#FFFB91;font-size:14px; font-weight:bold;  text-decoration:underline;}
.checkbox{vertical-align:middle; margin-bottom:4px!important; margin-top:0;}
.closediv,.clear{clear:both;}
.none{display:none;}
.l{float:left;}
.r{float:right;}
img {border-width:0;margin:0;padding:0;}

/*通用样式*/
.margin6{margin-top:6px;}
.margin8{margin-top:8px;}
.margin12{margin-top:12px;}
.height22{line-height:22px;}
.height25{line-height:25px;}
.font14{font-size:14px;}
.font20{font-size:20px;}
.write{color:#FFFFFF;}
.red{color:#B70218;}
.light_grey{ color:#999999;}
.pres{color:#a10101;font-family:'Verdana'}

/*广告*/
.banner_ad{width:1000px; margin:12px auto;}

/*首页*/
.top_nav{height:25px; background-color:#f0f0f0; border-bottom:1px #CCCCCC solid;}
.user_login{width:1000px; margin:auto; text-align:right;height:25px; line-height:25px; color:#666666;}
.user_login span{color:#B70218;}
.head_r_my,{background:url("../images/top_img1.gif")  no-repeat;padding-left:18px}
.head_r_fad{background:url("../images/top_img2.gif")  no-repeat;padding-left:18px}

.header{width:1000px; margin:auto;}
.logo{height:66px; margin:0px;}
.nav{ background-color:#B70218; height:32px;}
.nav_shop{ background-image:url(../images/index_1.gif);width:238px; height:25px; margin:3px 3px 0 0;}
.nav_shop1{width:30px; float:left;}
.nav_shop2{line-height:25px; width:142px; text-align:left; color:#CC0033; float:left;}
.nav_shop3{line-height:25px; width:45px; float:left;}

#search{background:#fff;  line-height:24px;padding-top:8px; height:24px;}
.searchtit{float:left;color:#7e001a;margin-top:4px}
#search .search_box{float:left;width:320px;}
#search .head_search{background:#fff url("../images/index_4.gif") no-repeat;border:1px solid #B70218;width:220px;height:22px;padding-left:15px;line-height:22px;float:left;margin-top:3px;color:#666;text-indent:5px;color:#999}
#search .but{background-color:#B70218;background:#fff url("../images/serch.gif");height:24px;border:none;width:65px;color:#fff;float:left;margin-top:3px}
#search .hotkey{float:left;width:605px;}
#search .hotkey li{float:left;margin:0 5px;margin-top:4px}

#banner{width:1000px; margin:auto; margin-top:12px; overflow:auto;}
#banner .ad_left{width:780px; float:left; margin-right:10px;}
#banner .four_ad li{float:left;width:185px;}
#banner .fout_w{width:185px; margin-right:13px;}

#banner .ad_right{width:210px; float:left;}
#banner .dazhe_box{border:1px solid #ccc;}
#banner .dazhe_text{font-weight:bold; color:#FFFFFF; font-size:14px; height:30px; line-height:30px; background-color:#B70218;}
#banner .dazhe_box span{font-size:14px; font-weight:bold; color:#B70218;}
#banner .dazhe_box font{font-size:16px; color:#FF0000; font-weight:bold;}
#banner .gonggai_main{height:25px;}
#banner .gonggai_main h1{ background-image:url(../images/index_5.gif);width:105px; height:25px; line-height:25px; text-align:center; font-size:12px; font-weight:bold; color:#B70218; float:left;}
#banner .gonggai_main h2{ background-image:url(../images/index_6.gif);width:105px; height:25px; line-height:25px; text-align:center; font-size:12px;  float:left; font-weight:normal;}
#banner .gonggai{width:196px; border:1px solid #ccc; border-top:none; padding:6px;}
#banner .gonggai li{line-height:21px; height:21px;}

.content{width:1000px; margin:auto; overflow:auto;}
#fenlei{background-image:url(../images/index_3.gif); border-right:1px solid #D3D3D3; height:28px;}
#feilei_text{background-image:url(../images/index_2.gif); width:129px; height:28px; color:#FFFFFF; font-weight:bold; padding-left:15px; font-size:14px; line-height:28px;}
#fenlei_line{padding:15px;}
#fenlei_line img{vertical-align:middle; margin-top:3px;}
#fenlei_line ul{ display:table; overflow:auto; width:970px; margin-bottom:5px;}
#fenlei_line li{float:left; line-height:20px;}
.fenlei_1{width:15px;}
.fenlei_2{width:108px; background-color:#E6E6E6; padding-left:5px; color:#000000; margin-right:10px;}

#news{ float:left; width:240px; margin:12px 10px 0 0; border:1px solid #DFDFDF;}
#news ul{ background-color:#F3F3F3; border:1px solid #fff; padding:8px;}
#news h1{ font-size:14px; font-weight:bold; color:#333333;}
#news p{margin:6px;}
#news li{ margin-left:4px; line-height:23px;}

#news_right{ float:left; width:240px; margin:12px 0 0 0; border:1px solid #DFDFDF;}
#news_right ul{ background-color:#F3F3F3; border:1px solid #fff; padding:8px;}
#news_right h1{ font-size:14px; font-weight:bold; color:#333333;}
#news_right p{margin:6px;}
#news_right li{ margin-left:4px; line-height:23px;}

/*==========首页商品展示=================*/
.goodsad {  overflow:hidden;}
.goodslist{padding-top:10px;}
.goodslist li{float:left;margin-right:18px;width:185px; line-height:20px;}
.goodslist li img{margin-bottom:5px;width:185px;height:185px;display:block}
.goodslist li span{color:#a10101; font-weight:bold;}
.goodslist li a{width:185px;}

/*==========内页商品展示=================*/
.pd_view{border-bottom:1px solid #ddd; width:1000px; margin:auto; padding-bottom:5px; margin-bottom:12px;}

.pd_one{ background-image:url(../images/index_7.gif); height:31px; line-height:31px;  padding-left:10px; }
.productList_left{width:220px; float:left; margin-right:10px;}
.pd_line{border:1px solid #ccc; border-top:none; padding:8px;}
.pd_line h1{font-weight:bold; font-size:14px; line-height:25px;}
.pd_line ul{ border-bottom:dashed 1px #ccc; margin-bottom:8px; padding-bottom:8px;}
.pd_line li{ line-height:25px;}

.pd_price{border:1px solid #ccc; border-top:none; padding:8px;}
.pd_price ul{ height:100%; display:table;}
.pd_price li{float:left; width:101px; height:25px; line-height:25px;}

.pd_liunan{border:1px solid #ccc; border-top:none; padding:8px; overflow:hidden;}
.pd_liunan ul{ border-bottom:dashed 1px #ccc; height:60px; margin-bottom:8px; padding-bottom:8px;}
.pd_liunan li{ line-height:18px;}
.pd_liunan dl{float:left; width:60px; margin-right:10px;}
.pd_liunan dd{float:left;width:132px;}

.productList_right{width:770px; float:left;}
.search_list {text-align:left}
.search_list li{float:left;width:185px;margin-right:10px;margin-bottom:10px; height:245px; line-height:22px;}
.search_list li img{margin-bottom:5px;width:185px;height:185px;display:block}
.search_list ul li h3{font-size:12px;font-weight:normal}
.search_list ul li em{font-style:normal;margin-right:10px}

.oby_box{padding:5px;border:1px solid #ccc;height:23px;line-height:23px; background-image:url(../images/searchNavBg.gif);color:#000}
.oby_box li{float:left;}

/*商品展示*/
.view_img{border:1px solid #ddd; width:400px; padding:4px; height:400px;}
.view_smallpd li{padding:1px; border:1px solid #ddd; float:left; margin:0 4px; width:62px; height:62px;}
.view_box{overflow:auto;}
.view_box ul{height:30px;}
.view_box il{ overflow:auto;}
.view_box h1{font-size:14px;border-bottom:1px dashed #bbbbbb;padding:2px 0 10px;line-height:1.6em; }
.view_box li{overflow:hidden; float:left; width:172px; line-height:30px;}

.div_choose{background:#fcf0f0; border:1px solid #fbd2d2;margin-top:12px;padding:10px;}
.div_choose ul{width:100%; margin-bottom:15px;}
.now{width:40px; height:40px; padding:1px; border:1px solid #B70218;}
.div_size{padding:4px; border:1px solid #B70218; background-color:#FFFFFF;}

/*产品详细*/
.recall_nav {width:770px;margin-top: 15px;height: 28px;	color: #000000;	background-image: url(../images/view_4.gif);}
.recall_nav li{float:left; margin-right:3px;}
.recall_line{padding:10px; border:1px solid #DFDFDF; border-top:none;}
.recall_nav a {
	float: left;
	font-size: 14px;
	width: 90px;
	height: 28px;
	text-decoration: none;
	background: url(../images/view_6.gif);
	background-repeat: no-repeat;
	text-align: center;
	line-height: 28px;
	color: #000000;
}
* html .recall_nav a {	display: inline;}
.recall_nav a:hover {color: #ff6600;}
.recall_nav a.on {	background: url(../images/view_5.gif); color:#B70218;	cursor: default;font-weight: bold;}

.recall_zixi{height:28px; margin-top:12px;background: url(../images/view_4.gif);}
.recall_zixi1{background: url(../images/view_5.gif); width:90px; font-size:14px; font-weight:bold; text-align:center; color:#B70218; height:28px; line-height:28px;}
.recall_text{padding:4px; background-color:#B70218; color:#fff; line-height:22px;}
.pinjia{border-bottom:1px dashed #bbb; margin-bottom:12px;}


/*页码*/
.pages{
	width:auto;
	height:30px;
	text-align:center;
	overflow:hidden;
}
.pages ul{
	float:left;
	position:relative;
	left:50%;
}
.pages ul li{
	float:left;
	position:relative;
	right:50%;
	white-space:nowrap;
	margin:1px;
	font-family:Tahoma, Geneva, sans-serif;
	line-height:18px;
}
.pages ul li a{
	float:left;
	height:18px;
	border:1px solid #CCCCCC;
	padding:0px 6px;
	color:#666;
	overflow:hidden;
}
.pages ul li a:hover{
	border:1px solid #B80219;
	color:#B80219;
	text-decoration:none;
}
.pages ul li span{
	float:left;
	height:19px;
	border:1px solid #DDD;
	padding:0px 6px;
	color:#BBB;
}
.pages ul li.thispage a,.pages ul li.thispage a:hover{
	border:1px solid #CCCCCC;
	background:#B80219;
	color:#FFF;
	font-weight:bold;
}


/*底部*/
#footer{width:1000px; margin:auto; background-image:url(../images/bottom_bg.gif);}
#footer .foot_copy{height:171px;}
#footer .foot_icomg{height:70px;}
#footer .foot_nav{height:32px; margin:8px 0; text-align:center; line-height:32px; background-color:#EDEDED;}
#footer .foot_nav a{color:#333;}
#footer .foot_nav a:hover{color:#B70218;}
#footer .foot_text{padding:55px 0 0 0px; line-height:22px; color:#666666;}