$head$
<!-- header end -->

<!--content begin-->
<div class="guidance">
<a href="/">首页</a> >> <strong>会员登陆</strong>
</div>

<div id="content">
<div class="regtitle"><h2>你目前进行的操作，需要“登录”后才能继续……</h2></div>

<!--login-->
<div class="login">
<div class="loginleft">
<div class="logininput">
<form action="chkuser.asp" method="post" onsubmit="return Validator.Validate(this,3)">
<div class="inputleft">
  <p>用户名：<br />
      <input name="username" type="text" class="inpcss" id="username" style="width:240px;" onmouseover="this.className='oninpcss'" onMouseOut="this.className='inpcss'" dataType="Email" msg="请输入正确的邮箱地址" require="True"/>
  </p> 
  <p>
    密 码：<br />
    <input name="password" type="password" class="inpcss" id="password" style="width:240px;" onmouseover="this.className='oninpcss'" onMouseOut="this.className='inpcss'" dataType="LimitB" max="20" min="6" msg="请输入6到20个字符的密码!"/>
	<input name="se" type="hidden" value="1" />
  </p>
  <p>
    验证码：<br />
    <input type="text" style="width:80px;" name="f_code" /> <script language="javascript" src="code.js"></script> 
  </p>
   <div style="margin-top:10px">
    <input type="submit"  name="Submit" value=" 登 录 " />
    <a href="reguser.asp">我要注册</a>
	</div>
</div>
</form>
<div class="inputright">
<ul>
  <li>·安全</li>
  <li>·快速又简便</li>
  <li>·管理您的账户</li>
  <li>·改变您的设置</li>
</ul>
</div>
</div>
<div class="password">
  <h2>您是否忘记了密码？</h2>
  <p>请在下面键入您的用户名、您首次注册时所用的邮箱地址，然后单击“获取密码”，我们将会给您邮寄新密码。</p>
  
  <div id="paddedContent">
  <form action="$webvirtual$/reg/getpassword.asp" method="post" target="_blank">
      <table width="525" border="0" cellpadding="0" cellspacing="0">
        <tbody>
          <tr>
            <td><label for="username">用户名：</label>
              <br />
              <input type="text" class="inpcss" onmouseover="this.className='oninpcss'" onMouseOut="this.className='inpcss'"  style="width:240px;" name="f_email2" /></td>
            <td><!--<label for="email">您的邮箱地址</label>
            :<br />
            <input type="text" class="inpcss" onmouseover="this.className='oninpcss'" onMouseOut="this.className='inpcss'"  style="width:240px;" name="textfield3" />--></td>
          </tr>
          <tr>
            <td height="60" colspan="2"><input tabindex="7" type="submit" value=" 获取密码 " name="submit" /></td>
            </tr>
        </tbody>
      </table>
	  </form>
 </div>
  <!-- #paddedContent -->
</div>

</div>
<div class="loginright">
<h1>我是新手？</h1>
<ul class="help">
<li><a href="javascript:;">什么是安全登录</a>。 </li>
<li><a href="javascript:;">如何填写登录名和密码</a>？ </li>
<li>保护您的密码，请阅读<a href="javascript:;">密码安全贴士</a>。 </li>
<li>防止病毒或者木马窃取您的账户信息，<a href="javascript:;">在线检查</a>您的电脑是否安全。</li>
</ul>
</div>
</div>

</div>

<!--content end-->
<div class="clear"></div>
<!--footer begin-->
$foot$
<!-- footer end -->
</body>
</html>