﻿$head$
<!-- header end -->
<!-- content begin -->
<!--guidance-->
<div class="guidance">
<a href="/">首页</a> >> <strong>激活会员</strong>
</div>
<!--regtitle-->
<div class="green" id="regtitle">
  <h2>注册$webname$会员，有更多优惠等着您哦</h2>
</div>
<div class="reghelp"><h2 style="color:#fff">注册第三步</h2><h2 style="margin-top:10px;color:#666">会员激活结果</h2>
</div>
<div class="regprompt"></div>
<div class="reg">
	
<b>亲爱的$truename$，</b>
<br><br>


<div>
<span class="yellow">
$message$
</span>
<br /><br />
-----------------------------------------------

<br><br>
<font style="font-size:12px"><b>为什么要激活$webname$账户？</b></font><br>
<font style="font-size:12px">$webname$是产品网络批发的平台，我们致力打造安全，快速，诚信的网络批发平台。您激活会员后，可以享受：
<ul>
  <li>我们提高的所有会员服务，如订单管理，在线收藏，目录订阅等功能。</li>
    <li>当您购买产品，我们更方便的与您取得联系</li>
    <li>产品交易成功后，我们会有积分回馈。</li>
    <li>您只须点击邮箱中激活信件内的链接，即可完成激活。</li></ul></font></td>
</div>

<font style="font-size:12px">如果您有任何疑问，请随时拨打服务热线：$webphone$<br>
或登录$webname$网站获取帮助：<a href="$weburl$/server" target="_blank">$weburl$/server</a></font><br>
<br>
</div>
$foot$
</body>
</html>
 
