$head$
<!-- header end -->
<script type="text/javascript" src="$webvirtual$/js/extend.js"></script>
<script language="JavaScript" type="text/JavaScript">
$(document).ready(function() {
		var selects1 = new linkSelect({
		el: 'area',
	url: '/xml/city.xml',
			root: 'list78',
			field: 'list',
			text: 'Text',
			value: 'ID'
			});
		});
</script>
<script language="javascript" type="text/javascript">
<!--

 var http = getHTTPObject();

//函数功能:提交成功后返回提示信息
//参数：elementID:用于显示信息的控件ID号
 function HttpResponse(){
　if(http.readyState == 4){ 
	 　if(http.status == 200){	 
	 　　	var xmlDocument = http.responseXML;
	 		var getInfo=new Array();
			var responseText=http.responseText;			
			getInfo=responseText.split("|");//得到用于显示信息的ID和要显示的信息		
	 		if(getInfo[1].indexOf("对不起")!=-1||getInfo[1].indexOf("无效")!=-1)	
	 		{
				document.getElementById(getInfo[0]).style.color= "#FF0000";
			}else{
				document.getElementById(getInfo[0]).style.color= "#339900";
			}
	 　　　　document.getElementById(getInfo[0]).innerText =getInfo[1];	 
	 　　}
	 　　else{
	 　　　alert("你所请求的页面发生异常，可能会影响你浏览该页的信息！");
	 　　　alert(http.status);
	 　　}
　	}
 }

//函数功能：提交要查询的信息
//参数：url--提交的网址   elmentId1--存储信息的控件ID elmentId2--显示提示信息的控件ID
 function chkInfo(url,elementId1,elementId2){
 　var getUrl = url;
 　var name = document.getElementById(elementId1).value; 
   if(name!=''){
 　getUrl += ("&st="+name+"&target="+elementId2); 

 　http.open("GET",getUrl,true);
 　http.onreadystatechange = HttpResponse;
 　http.send(null);
   }
 }
 
 //该函数可以创建我们需要的XMLHttpRequest对象
 function getHTTPObject(){
 　var xmlhttp = false;
 　if(window.XMLHttpRequest){
 　　xmlhttp = new XMLHttpRequest();
 　　if(xmlhttp.overrideMimeType){
 　　　xmlhttp.overrideMimeType('text/xml');
 　　}
　}
 　else{
 　　try{
 　　　xmlhttp = new ActiveXObject("Msxml2.XMLHTTP");
　　}catch(e){
 　　　try{
 　　　　xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
 　　　}catch(E){
 　　　　xmlhttp = false;
　　　}
 　　}
 　}
 　return xmlhttp;
}
//--> 
</script>
<!-- content begin -->
<!--guidance-->
<!--content begin-->

<div class="guidance">
<a href="/">首页</a> >> <strong>新会员注册</strong>
</div>

<div id="content">
<div class="regtitle"><h2>现在请填写您的注册信息</h2></div>
<div class="reghelp"><h2 style="color:#fff">注册第一步</h2><h2 style="margin-top:10px;color:#666">填写您的信息，您将可以参加$webname$的各项活动并赢得礼品</h2>
</div>
<div class="regprompt">* 为必填选项</div>
<div class="reg">
<!--reg-->
<form action="regsave.asp" name="regform" method="post" onsubmit="return Validator.Validate(this,2)">
<table width="950" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <th width="184" height="30" align="right" class="gray"><span class="yellow">*</span> 请输入E-mail地址：</th>
    <td width="200"><input type="text" style="width:180px" name="f_email" onblur="chkInfo('$webvirtual$/reg/chkinfo.asp?id=1','f_email','showStr')" dataType="Email" msg="请输入正确的邮箱地址" require="True"/></td>
    <td width="566"><span id="showStr">请填写有效的Email地址作为下次登录的用户名，同时我们也给这个地址发送账户信息、订单通知等</span></td>
  </tr> 
  <tr>
    <th height="30" align="right" class="gray"><span class="yellow">*</span> 您的真实姓名：</th>
    <td colspan="2"><input type="text" style="width:180px" name="f_name" DataType="LimitB" min="2" max="6" msg="请输入您的真实姓名,真实姓名必须为2-6个汉字"/>
      <input type="radio" name="f_sex" value="0" checked="checked" /> 先生 <input type="radio" name="f_sex" value="1"/>女士
      <br />
      提供您的真实姓名，以便我们跟您联系</td>
    </tr>
  <tr>
    <th height="30" align="right" class="gray"><span class="yellow">*</span> 您所在的省份城市：</th>
    <td colspan="2"><div id="area"></div>请选择您所在的城市省份地区</td>
    </tr>
  <tr>
    <th height="30" align="right" class="gray"><span class="yellow">*</span> 您所在的街道地址：</th>
    <td colspan="2"><input name="f_address" type="text" style="width:300px" maxlength="50" DataType="LimitB" min="4" max="50" msg="请输入您所在的街道地址(4-50字)"/>
      <br />
      请输入您所在的街道地址(<span class="yellow">注：这里请不要输入省份城市和地区</span>)</td>
    </tr>
    <tr>
    <th height="30" align="right" class="gray"><span class="yellow">*</span> 邮编地址：</th>
    <td><input type="text" style="width:180px" name="f_yb" DataType="LimitB" min="2" max="10" msg="请输入您所在地区的邮政编码(6位数字)"/></td>
    <td>请输入您所在地区的邮政编码</td>
  </tr>
  <tr>
    <th height="30" align="right" class="gray"><span class="yellow">*</span> 联系电话：</th>
    <td><input type="text" style="width:180px" name="f_tel" DataType="LimitB" min="6" max="20" Require="false" msg="请输入您正确的联系电话"/></td>
    <td>联系电话为固定电话 如0579-85367402 </td>
  </tr>
    <tr>
    <th height="30" align="right" class="gray"><span class="yellow">*</span> 联系手机：</th>
    <td><input type="text" style="width:180px" name="f_mobile" DataType="LimitB" min="6" max="20" Require="false"  msg="请输入您正确的联系手机"/></td>
    <td>请输入您的联系手机(注:<span class="yellow">联系电话和联系手机至少输入一个</span>)</td>
  </tr>
  <tr>
    <th height="30" align="right" class="gray"><span class="yellow">*</span> 请设置密码：</th>
    <td><input type="password" style="width:180px" name="f_pw1" dataType="LimitB" max="20" min="6" msg="请输入6到20个字符的密码!"/></td>
    <td>密码要求由英文字母(a-z大小写均可)、阿拉伯数字(0-9)</td>
  </tr>
  <tr>
    <th height="30" align="right" class="gray"><span class="yellow">*</span> 请再次确认密码：</th>
    <td><input type="password" style="width:180px" name="f_pw2" DataType="Repeat" To="f_pw1" msg="两次密码输入不一样" /></td>
    <td>请重新输入您刚才输入的密码</td>
  </tr>
  
  <tr>
    <th height="30" align="right" class="gray"><span class="yellow">*</span> 验证码：</th>
    <td colspan="2"><input type="text" style="width:60px" name="f_code" dataType="Require"  msg="验证码必须。请输入右边图片上的字母!"/> 
      <script language="javascript" src="code.js"></script>请输入图片中的字符</td>
    </tr>
  <tr>
    <td align="right">&nbsp;</td>
    <td height="80" colspan="2"><strong>我接受<a onclick="javascript:window.open ('agreement.asp','newwindow','height=702,width=700,top=0,left=0,toolbar=no,menubar=no,scrollbars=yes, resizable=no,location=no, status=no')" style="cursor:hand;">$webname$用户协议</a>及其相关的条款和条件，并承诺如下：<br />
    </strong>
      <ul>
        <li>在$webname$注册必须为年满18周岁的成年人。我在此声明我是个成年人，可以签署用户协议。 </li>
        <li>点击以下“继续”按钮，即表示我已阅读并接受用户协议。 </li>
      </ul>      </td>
    </tr>
  <tr>
    <td align="right">&nbsp;</td>    <td colspan="2"><input type="submit" class="btn_regmain" name="Submit" value="我已阅读并接受上述条款，继续" /></td>
    </tr>
</table>
</form>
</div>

</div>
<!--content end-->
  
<!--footer begin-->
$foot$
<!-- footer end -->
</body>
</html>