$head
<!--header end-->

<!--content begin-->
<script language="javascript" src="$webvirtual$/js/news.js"></script>
<div class="guidance">
<a href="/">首页</a> >> <a href="/news/?id=$bid">$newssort</a> >> <strong>详细信息</strong>
</div>

<div id="content">
<!--left-->
<div class="NewsLeft">

<div class="ColumnTitle4">
<div class="title">
<h2>热点资讯</h2>
</div>
</div>
<ul class="ColumnCate" id="hotNews">
</ul>




</div>
<!--right-->
<div class="NewsRight">

<div class="ColumnTitle3">
<div class="ProTitle">
<div class="ProTitleLeft"><h2>详细信息</h2></div>
<div class="ProTitleRight"></div>
</div>
</div>
<ul class="ColumnContent">
<div style="margin:5px 0; margin-top:15px; font-weight:bold; font-size:20px; text-align:center">$name</div>
<div style="margin-bottom:10px; padding-bottom:10px; border-bottom:1px solid #cccccc; text-align:center; color:#666666"><a href="$weburl$">$sweburl$</a> $createdon  来源：$ly</div>
<div style="padding:10px;font-size:14px;line-height:180%;word-wrap:break-word; overflow:hidden">
  $content
</div>
<div style="padding:10px 0; text-align:right">『<a href="javascript:window.clipboardData.setData('Text',location.href);alert('本文链接已经复制到剪贴板,您可以粘贴发送给好友');">发送给好友</a>』『<a href="javascript:window.scroll(0,0);">返回顶部</a>』『<a href="javascript:window.print(); ">打印本页</a>』『<a href="javascript:window.close(this);">关闭本页</a>』</div>
</ul>


<div class="ColumnTitle3">
<div class="ProTitle">
<div class="ProTitleLeft"><h2>相关文章</h2></div>
<div class="ProTitleRight"></div>
</div>
</div>
<ul class="ColumnCate">
<div class="related">
<ul id="relative">
</ul>
</div>
</ul>

<div class="detailtitle"><h3>相关产品</h3></div>
<div class="FeaturedPro3">
<ul id="prolist2">
</ul>
</div>

</div>

</div>
<!--content end-->
<div class="clear"></div>
<!--footer begin-->
<script language="javascript" src="/js/footdetail.js"></script>
<!--footer end-->
<script language="javascript">
var id=$id;
var k='$keyword';
var obj=new News(id,escape(k));
//调用
obj.getHotNews();
obj.getTjProducts();
obj.getRelativeNews();
//设置cookies的direct导航
//setDirect();	
</script>
<!--updatedate:$updatedate-->
</body>
</html>