$head$
<!-- header end -->

<!--content begin-->
<div id="content">
<!--patch-->
<div class="patch">
<ol class="patch-5 step-1">
  <li class=li-1><span>1.</span>购物车 </li>
  <li class=li-2><span>2.</span>结帐（确认订单） </li>
  <li class=li-3><span>3.</span>付款 </li>
  <li class=li-4><span>4.</span>收货 </li>
  <li class=li-5><span>5.</span>成功 </li>
</ol>
</div>
<div class="clear"></div>
<div style="margin-top:5px"><input type="button" class="inpcss" onmouseover="this.className='oninpcss'" onMouseOut="this.className='inpcss'" name="Submit2" value="继续购物" onclick="return getProPath();" /></div> 
$showShopCart$
$notice$
<div style="margin:10px 0;">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">   
    <tr>
      <td><input type="button" class="inpcss" onmouseover="this.className='oninpcss'" onMouseOut="this.className='inpcss'" name="Submit2" value="继续购物" onclick="return getProPath();" /></td>
      <td align="right"><input class="inpcss" onmouseover="this.className='oninpcss'" onMouseOut="this.className='inpcss'" type="button" name="Submit22" onclick="$txt$" value=" 结 账 " /></td>
    </tr>
  </table>
</div>
<div>
<hr />
<!--<iframe src="../gift/index.html" frameborder="0" scrolling="no" height="280" width="100%" marginwidth="0" marginheight="0" ></iframe>-->
</div>

</div>
<script language="javascript">
function getProPath()
{
	var p=cjx.GetCookies("propath");	
	if(p=="?") p="/products/";
	location.href=p;
	return false;
}
</script>
<!-- content end -->
  
<!--footer begin-->
$foot$
<!-- footer end -->


</body>
</html>