$head$

<!-- content begin -->
<!--guidance-->
<div class="guidance">
您现在的位置：<a href="/">首页</a> >> <a href="/server/?id=$id$">$bidName$</a> >> <strong>$name$</strong>
</div>


<div id="content">
<!--left-->
<div class="PagesLeft">

<!--account-->
$helpfl$

</div>
<!--right-->
<div class="PagesRight">

<div class="ColumnTitle3">
<div class="ProTitle">
<div class="ProTitleLeft"><h2>$name$</h2></div>
<div class="ProTitleCenter"></div>
<div class="ProTitleRight"></div>
</div>
</div>
$content$
</ul>
</div>



</div>
<!--content end-->
  
<!--footer begin-->
$foot$
<!-- footer end -->

</body>
</html>