$head$
<!--header end-->

<!--content begin-->
<div class="guidance">
<a href="/">首页</a> >> <strong>$sortname$</strong>
</div>

<div id="content">
<!--left-->
<div class="NewsLeft">
<div class="column">
<div class="ColumnTitle">
<div class="title">
<h2>热点资讯</h2>
</div>
</div>
<ul class="ColumnCate">
$hotNews$
</ul>
</div>
<div class="column">
<div class="ColumnTitle">
<div class="title">
<h2>推荐产品</h2>
</div>
</div>
<ul class="ColumnCate" id="prolist2">
$tjproducts$
</ul>
</div>
</div>
<!--right-->
<div class="NewsRight">
<div class="column">
<div class="ColumnTitle">
<div class="ProTitle">
<div class="PagesSubTitle"><h2>信息列表</h2></div>
<!--<div class="PagesSubTitle"><a href="/news/?id=3858">大批发网新闻</a></div>
<div class="PagesSubTitle"><a href="/news/?id=3860">义乌国际商贸城</a></div>
<div class="PagesSubTitle"><a href="/news/?id=3859">内地市场资讯</a></div>
<div class="PagesSubTitle"><a href="/news/?id=3861">新奇特创意</a></div>-->
</div>
</div>
<ul class="ColumnContent">
<div class="NewsList">
$newslist$
</div>
<div style="overflow:hidden;width:100%">
$pages$
</div>
</ul>
</div>

</div>

</div>
<!--content end-->

<!--footer begin-->
$foot$
<!--footer end-->
<script language="javascript">
//增加鼠标事件
function addMouseover(listid,obj)
{	
	 $("#"+listid+" li").each(function(i){	
					  if(this!=obj)
					  $("#"+this.id+i).hide("fast");
					  else
					  $("#"+this.id+i).show("fast");
			})
}
$(document).ready(function(){						 				  
						   $("#prolist2 li").bind("mouseover",function(){addMouseover("prolist2",this);});	
						   })
</script>
</body>
</html>