﻿<div id="about">
	<a href="/about/" target="_blank" class="red">关于$webname$</a> | <a href="/about/?id=34" target="_blank" class="red">服务条款</a> | <a href="/about/?id=38" target="_blank" class="red">供应商加盟</a> | <a href="/about/?id=39" target="_blank" class="red">代理采购</a> | <a href="/about/?id=40" target="_blank" class="red">加盟代理</a> | <a href="/server/?id=14" target="_blank" class="red">付款方式</a> | <a href="/about/feedback.asp" target="_blank" class="red">意见反馈</a> | <a href="/server" target="_blank" class="red">购物帮助</a> | <a href="/about/?id=33" target="_blank" class="red">联系我们</a></div>
	<div id="footer">
	  版权所有 © 2007 - 2009 [ $webname$ ] $webtitle$ All Rights Reserved.<br />
	客服：86-0579-85367402/403   传真：86-0579-85365602/85177399 E-mail：root@xsp2.com<br />
	<a href="http://www.miibeian.gov.cn/" target="_blank">浙ICP备08000706号</a>	
 	<script src="http://s6.cnzz.com/stat.php?id=1394561&web_id=1394561" language="JavaScript" charset="gb2312"></script>
        </div>
