﻿$head$
<script type="text/javascript" src="$webvirtual$/js/index.js"></script>
<!-- header end -->

<!--announce begin-->
<!--<div style="margin:0 auto; margin-top:10px; padding:0 10px 0 65px; width:883px; height:23px; line-height:23px; border:1px solid #eeeeee; background:url($skinpath$/images/anounce.gif) no-repeat; color:#555555">
<marquee scrollamount="3" onMouseOut="this.start()"  onmouseover="this.stop();">
$gonggao$
</marquee>
</div>-->
<!--announce end-->

<!--content begin-->
<div id="content">
<div class="ContentLeft">
<div class="column">

<!-- TabTitle begin -->
<div style="overflow:hidden; height:27px; background:url($skinpath$/images/ColumnTitle.gif)">
<div style="float:left; margin:3px 0 0 10px; width:74px; height:24px; background:#fff; border:1px solid #c6c6c6; border-bottom:none; text-align:center"><h2><a href="javascript:;">网站公告</a></h2></div>
<div style="float:right; padding:3px 10px 0 0"><a href="/news/?id=3" class="white" target="_blank">更多>></a></div>
</div>
<!-- TabTitle end -->
<!-- TabContent begin -->
<ul class="ColumnNews">
$推荐信息$
</ul>
<!-- TabContent end -->
</div>

<div class="column">
<div class="ColumnTitle">
<div class="title">
<div class="TitleLeft"><h2>产品类别</h2></div>
<div class="TitleRight">新奇特、创意商品为主</div>
</div>
</div>
<ul class="ColumnCateuser1">
$小额混批类别$
</ul>
</div>

<!--<div class="column2">
<div class="ColumnTitle">
<div class="title">
<div class="TitleLeft"><h2>热销排行</h2></div>
</div>
</div>
<ul class="ColumnCate">
$热销排行$
</ul>
</div>-->


</div>
<SCRIPT type="text/javascript" src="$webvirtual$/js/scroll.js"></SCRIPT>
<div class="ContentRight">
<div id="slide">
<div id="slide_show_out">
<!--幻灯片展示开始-->
    <div id="slide_show">
      <div id="slide_img"></div>
      <div id="slide_btn">
        <div><a onClick="javascript:showImage(0);return false;" 
href="javascript:;" target="_self"><img height=13 alt="第1张" 
src="$skinpath$/images/slide/slide_btn_1.gif" width="13" border=0></a></div>
        <div><a onClick="javascript:showImage(1);return false;" 
href="javascript:;" target="_self"><img height=13 alt="第2张" 
src="$skinpath$/images/slide/slide_btn_2.gif" width="13" border=0></a></div>
        <div><a onClick="javascript:showImage(2);return false;" 
href="javascript:;" target="_self"><img height=13 alt="第3张" 
src="$skinpath$/images/slide/slide_btn_3.gif" width="13" border=0></a></div>
      </div>
    </div>
<!--幻灯片展示结束-->

<!--幻灯片展示控制开始-->
<div id="slide_show_ctl">
      <div id="slide_show_ctl_msg">
	  <span class="li_dot">4</span><a id="slide_title" href="javascript:;"></a> 
	  </div>
      <div><a id="img_prev_btn" 
onClick="showPrevImage();return false;" href="javascript:;" 
target="_self"><img height=12 alt=上一张 
src="$skinpath$/images/slide/slide_back.gif" width=11 border=0></a> <a 
id="img_next_btn" onClick="showNextImage();return false;" 
href="javascript:;" target="_self"><img height=12 alt=下一张 
src="$skinpath$/images/slide/slide_next.gif" width=11 border=0></a> </div>
</div>
<script language="javascript" type="text/javascript">
var fImgs = new Array();
$scroll$
imagePlay();
</script>
<!--幻灯片展示控制结束-->
</div>
</div>
<div id="login">
<div class="column">
<!-- TabTitle begin -->
    <div class="TabTitle">
      <ul id="myTab1" class="ColumnTitle">
        <li class="active" onMouseOver="nTabs(this,0);"><h2><a href="javascript:;">会员登录</a></h2></li>
      </ul>
    </div>
<!-- TabTitle end -->

<!-- TabContent begin -->
    <div class="TabContent">
      <div id="myTab1_Content0">
	  <div class="clear"></div>
<div class="LoginP">
<form action="/reg/chkuser.asp" method="post" onsubmit="return Validator.Validate(this,3)">
<p>用户名：    <input type="text" name="username" />  </p>
<p>密   码：    <input type="password" name="password" />  </p>
<p>验证码：    <input type="text" style="width:28px" name="f_code" /> <script language="javascript" src="/reg/code.js"></script>  </p>
<p style="margin-top:5px; padding-left:54px"><input type="image" src="$skinpath$/images/hydl.gif" border="0" /></a> <a href="/reg/reguser.asp"><img src="$skinpath$/images/yhzc.gif" border="0" /></a> </p>
<p style="margin-bottom:18px; padding-left:50px">·<a href="/server/?id=57">付款方式？</a> ·<a href="/reg">忘记密码？</a> </p>
</form>
</div>  
	  </div>
  
    </div>
<!-- TabContent end -->

</div>
</div>
<div class="clear"></div>
<div class="HotPro">
<div class="HotProLeft">
<div class="column">
<div class="ColumnTitle">
<div class="ProTitle">
<div class="ProTitleLeft"><h2>最新包包</h2></div>
<div class="ProTitleCenter2">最新市场热销包包</div>
<div class="ProTitleRight"><a href="/products">更多></a></div>
</div>
</div>
<ul class="ColumnNews">
<div class="FeaturedPro2">
<ul>
$最新商品$
</ul>
</div>
</ul>
</div>
</div>

<div class="HotProJsk">
<div class="column4">
<div class="ColumnTitle2">
<div class="title">
<div class="TitleLeft"><h2>热销排行</h2></div>
</div>
</div>
<!--<a href="javascript:;"><img src="$skinpath$/images/jsk.gif" border="0" align="absmiddle" /></a>-->
<ul class="ColumnCate">
$热销排行$
</ul>
</div></div>
<!--<div class="HotProJsk"><script language=javascript src=/common/ad/adlist.asp?priceid=1&place=0></script></div>
-->
</div>




<!--<div><a href="http://www.xsp2.cn/products/?keyword=%E6%97%A5%E6%9C%AC&id=%E6%89%80%E6%9C%89%E5%88%86%E7%B1%BB" target="_blank"><img src="$skinpath$/images/adver.gif" border="0" class="img" /></a></div>-->

</div>

<div class="clear"></div>

<div class="content">
<div class="column">
<div class="ColumnTitle">
<div class="ProTitle">
<div class="ProTitleLeft"><h2>流行包包</h2></div>
<div class="ProTitleCenter3"> <a href="/products/detail.asp?id=507">袋鼠牌竹纤维美体</a> | <a href="/products/detail.asp?id=495">邦德抗菌防臭女袜</a> | <a href="/products/detail.asp?id=493">梦娜牌时尚女袜</a> | <a href="/products/detail.asp?id=471">欧思时尚女棉袜</a> | <a href="/products/detail.asp?id=469">金丝花经典薄棉女袜</a> | <a href="/products/detail.asp?id=457">谷风车舒适健康袜</a> </div>
<div class="ProTitleRight"><a href="/products/?id=3864,4317">更多></a></div>
</div>
</div>
<div style="overflow:hidden;height:100%">
<div class="columnLeft"><a href="/products/?id=3864,4317"><img src="$skinpath$/images/columnLeft01.gif" border="0" /></a></div>
<div class="columnRight">
<ul class="ColumnNews">
<div class="FeaturedPro">
<ul>
$家居装饰$
</ul>
</div>
</ul>
</div>
</div>
</div>
</div>

<div class="clear"></div>

<div class="content">
<div class="column">
<div class="ColumnTitle">
<div class="ProTitle">
<div class="ProTitleLeft"><h2>日韩包包</h2></div>
<div class="ProTitleCenter3"> <a href="/products/detail.asp?id=5890">马桶回形针座</a> | <a href="/products/detail.asp?id=5891">摇头小和尚洗澡针盘</a> | <a href="/products/detail.asp?id=5889">小P孩回形针盘</a> | <a href="/products/detail.asp?id=5888">豆豆回形针盘</a> | <a href="/products/detail.asp?id=5825">时代良品牛族风情卡包</a> | <a href="/products/detail.asp?id=5824">时代良品花花世界系列卡包</a> </div>
<div class="ProTitleRight"><a href="/products/?id=3864,4325">更多></a></div>
</div>
</div>
<div style="overflow:hidden;height:100%">
<div class="columnLeft"><a href="/products/?id=3864,4325"><img src="$skinpath$/images/columnLeft02.gif" border="0" /></a></div>
<div class="columnRight">
<ul class="ColumnNews">
<div class="FeaturedPro">
<ul>
$办公室装饰$
</ul>
</div>
</ul>
</div>
</div>
</div>
</div>

<div class="clear"></div>

<div class="content">
<div class="column">
<div class="ColumnTitle">
<div class="ProTitle">
<div class="ProTitleLeft"><h2>品牌包包</h2></div>
<div class="ProTitleCenter3"> <a href="/products/detail.asp?id=4588">鸡形微波蒸蛋器</a> | <a href="/products/detail.asp?id=4584">青蛙隔热手套</a> | <a href="/products/detail.asp?id=4579">心形微波炉蒸蛋盘</a> | <a href="/products/detail.asp?id=4557">菠萝削皮器</a> | <a href="/products/detail.asp?id=4558">酷派无私奉献削皮器</a> | <a href="/products/detail.asp?id=4527">白领小子悠闲调味瓶</a> </div>
<div class="ProTitleRight"><a href="/products/?id=3864,4323">更多></a></div>
</div>
</div>
<div style="overflow:hidden;height:100%">
<div class="columnLeft"><a href="/products/?id=3864,4323"><img src="$skinpath$/images/columnLeft03.gif" border="0" /></a></div>
<div class="columnRight">
<ul class="ColumnNews">
<div class="FeaturedPro">
<ul>
$高档礼品$
</ul>
</div>
</ul>
</div>
</div>
</div>
</div>

<div class="clear"></div>
<!--brand-->
<div class="brand">
<script language=javascript src=/common/ad/adlist.asp?priceid=1&place=1></script>
</div>

<div id="news">
<!--news 01-->
<div class="news">
<div class="column">
<div class="ColumnTitle2">
<div class="title">
<div class="TitleLeft"><h2>快乐购物</h2></div>
<div class="TitleRight"><a href="/news/?id=4" target="_blank">更多></a></div>
</div>
</div>
<ul class="ColumnContent">
$新闻1$
</ul>
</div>
</div>
<!--news 02-->
<div class="news">
<div class="column">
<div class="ColumnTitle2">
<div class="title">
<div class="TitleLeft"><h2>我爱我家</h2></div>
<div class="TitleRight"><a href="/news/?id=5" target="_blank">更多></a></div>
</div>
</div>
<ul class="ColumnContent">
$新闻2$
</ul>
</div>
</div>
<!--news 03-->
<div class="news">
<div class="column">

<div class="ColumnTitle2">
<div class="title">
<div class="TitleLeft"><h2>流行时尚</h2></div>
<div class="TitleRight"><a href="/news/?id=6" target="_blank">更多></a></div>
</div>
</div>
<ul class="ColumnContent">
$新闻3$
</ul>
</div>
</div>
<!--news 04-->
<div class="news2">
<div class="column">
<div class="ColumnTitle2">
<div class="title">
<div class="TitleLeft"><h2>明显八卦</h2></div>
<div class="TitleRight"><a href="/news/?id=7" target="_blank">更多></a></div>
</div>
</div>
<ul class="ColumnContent">
$新闻4$
</ul>
</div>
</div>

</div>
<!--brand-->
<div id="brand">
品牌企业：<a href="javascript:;" target="_blank">苏泊尔厨具</a> <a href="javascript:;" target="_blank">爱仕达厨具</a> <a href="javascript:;" target="_blank">小助手厨具</a> <a href="javascript:;" target="_blank">三角电饭煲</a> <a href="javascript:;" target="_blank">双喜压力锅</a> <a href="javascript:;" target="_blank">新飞电饭煲</a> <a href="javascript:;" target="_blank">星箭电火锅</a> <a href="javascript:;" target="_blank">孚日大家纺</a> <a href="javascript:;" target="_blank">梦娜袜业</a> <a href="javascript:;" target="_blank">邦德袜业</a> <a href="javascript:;" target="_blank">金狐狸内衣</a> <a href="javascript:;" target="_blank">好家缘电水壶</a> <a href="javascript:;" target="_blank">芭比屋儿童家纺</a> <a href="javascript:;" target="_blank">新科剃须刀</a> <a href="javascript:;" target="_blank">星箭无烟锅</a> <a href="javascript:;" target="_blank">劳特斯紫砂锅</a> <a href="javascript:;" target="_blank">三角电池炉</a> 
</div>

<!--links-->
<!--<div id="links">
<ul>
<li><a href="http://qun.qq.com/air/#95327986" target="_blank">济南同城团购群95327986</a></li>
<li><a href="http://qun.qq.com/air/#95328251" target="_blank">昆明同城团购群95328251</a></li>
<li><a href="http://qun.qq.com/air/#95328509" target="_blank">南宁同城团购群95328509</a></li>
<li><a href="http://qun.qq.com/air/#95328348" target="_blank">郑州同城团购群95328348</a></li>
<li><a href="http://qun.qq.com/air/#95330462" target="_blank">武汉同城团购群95330462</a></li>
<li><a href="http://qun.qq.com/air/#95330772" target="_blank">兰州同城团购群95330772</a></li>
<li><a href="http://qun.qq.com/air/#95330923" target="_blank">长春同城团购群95330923</a></li>
<li><a href="http://qun.qq.com/air/#95331329" target="_blank">杭州同城团购群95331329</a></li>
<li><a href="http://qun.qq.com/air/#68081905" target="_blank">苏州同城团购群68081905</a></li>
<li><a href="http://qun.qq.com/air/#95379481" target="_blank">沈阳同城团购群95379481</a></li>
<li><a href="http://qun.qq.com/air/#95379429" target="_blank">天津同城团购群95379429</a></li>
<li><a href="http://qun.qq.com/air/#9504660" target="_blank">重庆同城团购群9504660</a></li>
<li><a href="http://qun.qq.com/air/#95337437" target="_blank">成都同城购物群95337437</a></li>
<li><a href="http://qun.qq.com/air/#67141075" target="_blank">合肥同城团购群67141075</a></li>
<li><a href="http://qun.qq.com/air/#68179197" target="_blank">南昌同城团购群68179197</a></li>
<li><a href="http://qun.qq.com/air/#12487283" target="_blank">南京同城团购群12487283</a></li>
</ul>
</div>-->

<div style="margin:15px 0"><img src="$skinpath$/images/process.gif" /></div>
</div>
<!--content end-->

<!--footer begin-->
$foot$
<!--footer end-->
</body>
</html>