$head$
<!-- header end -->

<!-- content begin -->
<!--guidance-->
<div class="guidance">
您现在的位置：<a href="/">首页</a> >> <a href="/about">关于我们</a> >> <strong>友情链接</strong>
</div>

<div id="content">
<!--left-->
<div class="PagesLeft">
<div class="column">
<div class="ColumnTitle">
<div class="title">
<h2>关于我们</h2>
</div>
</div>

<div class="about"> 
<ul>
$getAboutList$
<li><a href="links.asp">友情链接</a></li>
<li><a href="feedback.asp">用户反馈</a></li>
<li><a href="/server/">帮助中心</a></li>
</ul>
</div>

</div>
</div>
<!--right-->
<div class="PagesRight">
<div class="column">
<div class="ColumnTitle">
<div class="title">
<h2>友情链接<</h2>
</div>
</div>
<ul class="ColumnNews">
  <div style="margin:20px auto; width:97%">
  <h1 style="padding:5px 0; font-size:18px; color:#a79057">文字链接</h1>
  <img src="$skinpath$/images/linkline.gif" />
  <ul class="wordlink">
  $txtLink$
  </ul>  
  <h1 style="clear:both; margin-top:10px; padding:5px 0; font-size:18px; color:#a79057">LOGO链接</h1>
  <img src="$skinpath$/images/linkline.gif" />
  <ul class="imglink">
  $picLink$
 </ul>
  </div>
</ul>
</div>

</div>

</div>
<!--content end-->
  
<!--footer begin-->
$foot$
<!-- footer end -->

</body>
</html>