$head$
<!--guidance-->
<div class="guidance">
<a href="/">首页</a> >> 注册会员 >> <strong>成功注册</strong>
</div>
<!--regtitle-->
<div class="green" id="regtitle">
  <h2>激活会员</h2>
</div>
<div class="reghelp"><h2 style="color:#fff">注册第二步</h2><h2 style="margin-top:10px;color:#666">激活您的会员</h2>
</div>
<div class="reg">
恭喜，您的注册信息已经提交，系统已经发送一封确认邮件到 <span class="yellow">$email$</span> 请您登陆您的邮箱查收！点击 <a href="/">这里</a> 返回首页
</div>

<!-- content end -->
  
<!--footer begin-->
$foot$
<!-- footer end -->
</body>
</html>