﻿$head$
<!-- header end -->
<!-- content begin -->
<!--guidance-->
<div class="guidance">
<a href="/">首页</a> >> <strong>重置会员密码</strong>
</div>
<!--regtitle-->
<div class="reghelp"><h2 style="color:#fff">重置密码</h2><h2 style="margin-top:10px;color:#666">请输入您的新密码</h2>
</div>
<div class="regprompt"></div>
<div class="reg">
<form action="?act=save&id=$id$&num=$num$" method="post" onsubmit="return Validator.Validate(this,2)">
请输入您的新密码：<input type="password" maxlength="20" name="p1" dataType="limitB" min="6" max="20" msg="密码长度为6-20位" /><br />
请确认您的新密码：<input type="password" maxlength="20" name="p2"  DataType="Repeat" To="p1" msg="两次密码输入不一样" /><br />
<input type="submit" value="提交" />&nbsp;<input type="reset" />
</form>	

<br><br>


<div>
<br /><br />
-----------------------------------------------

<br><br>
<font style="font-size:12px"><b>关于$webname$</b></font><br>
<font style="font-size:12px">&nbsp;   $webname$是专门面对全球小商品采购商的网上小商品。新奇特工艺品、饰品、日用消费品、玩具礼品、小家电、数码电子、化妆品、服饰、针织内衣、鞋袜、装潢装饰、床上用品、钟表、陶瓷、水暖、五金工具、体育休闲、汽车用品、雨具箱包，童车和文化用品等批发配送中心.<br />
&nbsp;   $webname$立足于义乌这个全球最大的小商品集散中心，物流中心，将竭诚为广大小商品生产经销商提供代理、销售，采购和物流等一系列服务。
</font></td>
</div>

<font style="font-size:12px">如果您有任何疑问，请随时拨打服务热线：$webphone$<br>
或登录$webname$网站获取帮助：<a href="$weburl$/server" target="_blank">$weburl$/server</a></font><br>
<br>
</div>
$foot$
</body>
</html>
 
