﻿$head$
<script type="text/javascript" src="$webvirtual$/js/index.js"></script>
<script type="text/javascript" src="$webvirtual$/js/marquee.js"></script>
<!-- header end -->

<!--announce begin-->
<div style="margin:0 auto; margin-top:10px; padding:0 10px 0 65px; width:883px; height:23px; line-height:23px; border:1px solid #eeeeee; background:url($skinpath$/images/anounce.gif) no-repeat; color:#555555">
<marquee scrollamount="3" onMouseOut="this.start()"  onmouseover="this.stop();">
$gonggao$
</marquee>
</div>
<!--announce end-->

<!--content begin-->
<div id="content">
<div class="ContentLeft">
<div class="column">

<!-- TabTitle begin -->
<div style="overflow:hidden; height:27px; background:url($skinpath$/images/ColumnTitle.gif)">
<div style="float:left; margin:3px 0 0 10px; width:74px; height:24px; background:#fff; border:1px solid #c6c6c6; border-bottom:none; text-align:center"><h2><a href="javascript:;">最新评论</a></h2></div>
<div style="float:right; padding:3px 10px 0 0"><a href="products/comment.asp" class="white">更多>></a></div>
</div>
<!-- TabTitle end -->
<!-- TabContent begin -->
<ul class="ColumnNews">
$最新评论$
</ul>
<!-- TabContent end -->
</div>

<div class="column">
<div class="ColumnTitle">
<div class="title">
<div class="TitleLeft"><h2>产品类别</h2></div>
<div class="TitleRight">新奇特、创意商品为主</div>
</div>
</div>
<ul class="ColumnCate">
$小额混批类别$
</ul>
</div>
<script language=javascript src=/common/ad/adlist.asp?priceid=1&place=2></script>
<div class="column">
<div class="ColumnTitle">
<div class="title">
<div class="TitleLeft"><h2>热销排行</h2></div>
</div>
</div>
<ul class="ColumnCate">
$热销排行$
</ul>
</div>
</div>
<SCRIPT type="text/javascript" src="$webvirtual$/js/scroll.js"></SCRIPT>
<div class="ContentRight">
<div id="slide">
<div id="slide_show_out">
<!--幻灯片展示开始-->
    <div id="slide_show">
      <div id="slide_img"></div>
      <div id="slide_btn">
        <div><a onClick="javascript:showImage(0);return false;" 
href="javascript:;" target="_self"><img height=13 alt="第1张" 
src="$skinpath$/images/slide/slide_btn_1.gif" width="13" border=0></a></div>
        <div><a onClick="javascript:showImage(1);return false;" 
href="javascript:;" target="_self"><img height=13 alt="第2张" 
src="$skinpath$/images/slide/slide_btn_2.gif" width="13" border=0></a></div>
        <div><a onClick="javascript:showImage(2);return false;" 
href="javascript:;" target="_self"><img height=13 alt="第3张" 
src="$skinpath$/images/slide/slide_btn_3.gif" width="13" border=0></a></div>
      </div>
    </div>
<!--幻灯片展示结束-->

<!--幻灯片展示控制开始-->
<div id="slide_show_ctl">
      <div id="slide_show_ctl_msg">
	  <span class="li_dot">4</span><a id="slide_title" href="javascript:;"></a> 
	  </div>
      <div><a id="img_prev_btn" 
onClick="showPrevImage();return false;" href="javascript:;" 
target="_self"><img height=12 alt=上一张 
src="$skinpath$/images/slide/slide_back.gif" width=11 border=0></a> <a 
id="img_next_btn" onClick="showNextImage();return false;" 
href="javascript:;" target="_self"><img height=12 alt=下一张 
src="$skinpath$/images/slide/slide_next.gif" width=11 border=0></a> </div>
</div>
<script language="javascript" type="text/javascript">
var fImgs = new Array();
$scroll$
imagePlay();
</script>
<!--幻灯片展示控制结束-->
</div>
</div>
<div id="login">
<div class="column">
<!-- TabTitle begin -->
    <div class="TabTitle">
      <ul id="myTab1" class="ColumnTitle">
        <li class="active" onMouseOver="nTabs(this,0);"><h2><a href="javascript:;">客服中心</a></h2></li>
        <li class="normal" onMouseOver="nTabs(this,1);"><h2><a href="javascript:;">会员登录</a></h2></li>
      </ul>
    </div>
<!-- TabTitle end -->

<!-- TabContent begin -->
    <div class="TabContent">
      <div id="myTab1_Content0">
	  <div class="clear"></div>
<div class="servers">
$servers$   
</div>
	  </div>
      <div id="myTab1_Content1" class="none">
	  <div class="clear"></div>
<div class="LoginP">
<form action="/reg/chkuser.asp" method="post" onsubmit="return Validator.Validate(this,3)">
<p>用户名：    <input type="text" name="username" />  </p>
<p>密  码：    <input type="password" name="password" />  </p>
<p>验证码：    <input type="text" style="width:28px" name="f_code" /> <script language="javascript" src="/reg/code.js"></script>  </p>
<p style="margin-top:5px; padding-left:54px"><input type="image" src="$skinpath$/images/hydl.gif" border="0" /></a> <a href="/reg/reguser.asp"><img src="$skinpath$/images/yhzc.gif" border="0" /></a> </p>
<p style="margin-bottom:18px; padding-left:50px">·<a href="/server/?id=57">付款方式？</a> ·<a href="/reg">忘记密码？</a> </p>
</form>
</div>  
	  </div>
    </div>
<!-- TabContent end -->

</div>
</div>
<div class="clear"></div>
<div class="HotPro">
<div class="HotProLeft">
<div class="column">
<div class="ColumnTitle">
<div class="ProTitle">
<div class="ProTitleLeft"><h2>最新商品</h2></div>
<div class="ProTitleCenter2">最新市场热销商品</div>
<div class="ProTitleRight"><a href="/products">更多></a></div>
</div>
</div>
<ul class="ColumnNews">
<div class="FeaturedPro2">
<ul>
$最新商品$
</ul>
</div>
</ul>
</div>
</div>
<div class="HotProJsk"><script language=javascript src=/common/ad/adlist.asp?priceid=1&place=0></script></div>
</div>

<div class="column">
<div class="ColumnTitle">
<div class="ProTitle">
<div class="ProTitleLeft">
  <h2>热销产品</h2>
</div>
<div class="ProTitleCenter">推荐热销批发商品</div>
<div class="ProTitleRight"><a href="/hot/">更多></a></div>
</div>
</div>
<ul class="ColumnNews">
<div class="FeaturedPro">
<ul>
<div id="scroll">
$热销产品$
</div>
</ul>
</div>
</ul>
</div>
<script language="javascript">
    var _m = new Marquee("_m","scroll","up",1,1);//向上滚屏
</script>

<div class="column">
<div class="ColumnTitle">
<div class="ProTitle">
<div class="ProTitleLeft">
  <h2>特价产品</h2>
</div>
<div class="ProTitleCenter">最新特价商品</div>
<div class="ProTitleRight"><a href="/tejia/">更多></a></div>
</div>
</div>
<ul class="ColumnNews">
<div class="FeaturedPro">
<ul>
$特价产品$
</ul>
</div>
</ul>
</div>


<!--<div><a href="http://www.xsp2.cn/products/?keyword=%E6%97%A5%E6%9C%AC&id=%E6%89%80%E6%9C%89%E5%88%86%E7%B1%BB" target="_blank"><img src="$skinpath$/images/adver.gif" border="0" class="img" /></a></div>-->

</div>
<div class="clear"></div>
<!--brand-->
<div class="brand">
<script language=javascript src=/common/ad/adlist.asp?priceid=1&place=1></script>
</div>

<div id="news">
<!--news 01-->
<div class="news">
<div class="column">
<div class="ColumnTitle2">
<div class="title">
<div class="TitleLeft"><h2>新闻动态</h2></div>
<div class="TitleRight"><a href="/news/?id=3858">更多></a></div>
</div>
</div>
<ul class="ColumnContent">
$新闻1$
</ul>
</div>
</div>
<!--news 02-->
<div class="news">
<div class="column">
<div class="ColumnTitle2">
<div class="title">
<div class="TitleLeft"><h2>营销心得</h2></div>
<div class="TitleRight"><a href="/news/?id=3859">更多></a></div>
</div>
</div>
<ul class="ColumnContent">
$新闻2$
</ul>
</div>
</div>
<!--news 03-->
<div class="news">
<div class="column">

<div class="ColumnTitle2">
<div class="title">
<div class="TitleLeft"><h2>市场分析</h2></div>
<div class="TitleRight"><a href="/news/?id=3860">更多></a></div>
</div>
</div>
<ul class="ColumnContent">
$新闻3$
</ul>
</div>
</div>
<!--news 04-->
<div class="news2">
<div class="column">
<div class="ColumnTitle2">
<div class="title">
<div class="TitleLeft"><h2>新奇创意</h2></div>
<div class="TitleRight"><a href="/news/?id=3861">更多></a></div>
</div>
</div>
<ul class="ColumnContent">
$新闻4$
</ul>
</div>
</div>

</div>
<!--links-->
<div id="links">
合作链接：$txtLink$<br />$picLink$
</div>
<div style="margin:15px 0"><img src="$skinpath$/images/process.gif" /></div>
</div>
<!--content end-->

<!--footer begin-->
$foot$
<!--footer end-->
</body>
</html>