$head$
<!-- header end -->
<script type="text/javascript" src="$webvirtual$/js/extend.js"></script>
<script language="JavaScript" type="text/JavaScript">
$(document).ready(function() {
		var selects1 = new linkSelect({
		el: 'area',
	url: '/xml/city.xml',
			root: 'list78',
			field: 'list',
			text: 'Text',
			value: 'ID'
			});
		});
</script>
<script language="javascript" type="text/javascript">
<!--

 var http = getHTTPObject();

//函数功能:提交成功后返回提示信息
//参数：elementID:用于显示信息的控件ID号
 function HttpResponse(){
　if(http.readyState == 4){ 
	 　if(http.status == 200){	 
	 　　	var xmlDocument = http.responseXML;
	 		var getInfo=new Array();
			var responseText=http.responseText;			
			getInfo=responseText.split("|");//得到用于显示信息的ID和要显示的信息		
	 		if(getInfo[1].indexOf("对不起")!=-1||getInfo[1].indexOf("无效")!=-1)	
	 		{
				document.getElementById(getInfo[0]).style.color= "#FF0000";
			}else{
				document.getElementById(getInfo[0]).style.color= "#339900";
			}
	 　　　　document.getElementById(getInfo[0]).innerText =getInfo[1];	 
	 　　}
	 　　else{
	 　　　alert("你所请求的页面发生异常，可能会影响你浏览该页的信息！");
	 　　　alert(http.status);
	 　　}
　	}
 }

//函数功能：提交要查询的信息
//参数：url--提交的网址   elmentId1--存储信息的控件ID elmentId2--显示提示信息的控件ID
 function chkInfo(url,elementId1,elementId2){
 　var getUrl = url;
 　var name = document.getElementById(elementId1).value; 
   if(name!=''){
 　getUrl += ("&st="+name+"&target="+elementId2); 

 　http.open("GET",getUrl,true);
 　http.onreadystatechange = HttpResponse;
 　http.send(null);
   }
 }
 
 //该函数可以创建我们需要的XMLHttpRequest对象
 function getHTTPObject(){
 　var xmlhttp = false;
 　if(window.XMLHttpRequest){
 　　xmlhttp = new XMLHttpRequest();
 　　if(xmlhttp.overrideMimeType){
 　　　xmlhttp.overrideMimeType('text/xml');
 　　}
　}
 　else{
 　　try{
 　　　xmlhttp = new ActiveXObject("Msxml2.XMLHTTP");
　　}catch(e){
 　　　try{
 　　　　xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
 　　　}catch(E){
 　　　　xmlhttp = false;
　　　}
 　　}
 　}
 　return xmlhttp;
}
//--> 
</script>
<!-- content begin -->
<!--guidance-->
<!--content begin-->

<div class="guidance">
<a href="/">首页</a> >> <strong>参赛报名</strong>
</div>

<div id="content">
<div class="regtitle"><h2>现在请填写您的注册信息</h2></div>

<div class="regprompt">* 为必填选项</div>
<div class="reg">
<!--reg-->
<form action="regsave_baoming.asp" name="regform" method="post" onsubmit="return Validator.Validate(this,2)">
<table width="950" border="0" align="center" cellpadding="0" cellspacing="0">

  <tr>
    <th height="30" align="right" class="gray"><span class="yellow">*</span> 姓名：</th>
    <td colspan="2"><input type="text" style="width:180px" name="f_name" DataType="LimitB" min="2" max="6" msg="请输入您的真实姓名,真实姓名必须为2-6个汉字"/>
     
      <br />
      提供您的真实姓名，以便我们跟您联系</td>
    </tr>
     <tr>
    <th height="30" align="right" class="gray"><span class="yellow">*</span> 年龄：</th>
    <td colspan="2"><input type="text" style="width:180px" name="f_age" DataType="Range" min="10" max="60" msg="请输入您的正确的年龄(10-50的数字)"/>
     
      <br />
      请输入您的正确的年龄(10-50之内的数字)</td>
    </tr>
    <tr>
    <th height="30" align="right" class="gray"><span class="yellow">*</span> 职业：</th>
    <td colspan="2"><input type="text" style="width:180px" name="f_zhiye" DataType="LimitB" min="1" max="20" msg="请输入您的正确的职业(1-20的字)"/>
     
      <br />
      请输入您的正确的职业(1-20个字符)</td>
    </tr>
    <tr>
    <th height="30" align="right" class="gray"><span class="yellow">*</span> 三围：</th>
    <td colspan="2"><input type="text" style="width:180px" name="f_sanwei" DataType="LimitB" min="1" max="20" msg="请输入您的正确的三围(1-20的字)"/>
     
      <br />
      请输入您的正确的三围(1-20个字符)</td>
    </tr>
    <tr>
    <th height="30" align="right" class="gray"><span class="yellow">*</span> 星座：</th>
    <td colspan="2"><input type="text" style="width:180px" name="f_xingzuo" DataType="Require"  msg="请输入您的正确的星座(1-5的字)" />
     
      <br />
      请输入您的正确的星座(1-5个字符)</td>
    </tr>
    <tr>
    <th height="30" align="right" class="gray"><span class="yellow">*</span> 您的特长：</th>
    <td colspan="2"><textarea name="f_techang" cols="30" rows="2"  datatype="LimitB" min="1" max="300" msg="请输入您的特长(1-300字)"></textarea>
     
      <br />
      请输入您的特长(1-300字)</td>
    </tr>
     <tr>
    <th height="30" align="right" class="gray"><span class="yellow">*</span> 您的爱好：</th>
    <td colspan="2"><textarea name="f_aihao" cols="30" rows="2"  datatype="LimitB" min="1" max="300" msg="请输入您的爱好(1-300字)"></textarea>
     
      <br />
      请输入您的爱好(1-300字)</td>
    </tr>
    <tr>
    <th height="30" align="right" class="gray">座右铭：</th>
    <td colspan="2"><textarea name="f_zuoyouming" cols="30" rows="2" ></textarea>
     
      <br />
     </td>
    </tr>
  <tr>
    <th height="30" align="right" class="gray"><span class="yellow">*</span> 您所在的省份城市：</th>
    <td colspan="2"><div id="area"></div>请选择您所在的城市省份地区</td>
    </tr>
  <tr>
    <th height="30" align="right" class="gray"><span class="yellow">*</span> 您所在的具体地址：</th>
    <td colspan="2"><input name="f_address" type="text" style="width:300px" maxlength="50" DataType="LimitB" min="4" max="50" msg="请输入您所在的具体地址(4-50字)"/>
      <br />
      请输入您所在具体道地址(<span class="yellow">注：这里请不要输入省份城市和地区</span>)</td>
    </tr>
   
  <tr>
    <th height="30" align="right" class="gray"><span class="yellow">*</span> 联系电话：</th>
    <td><input type="text" style="width:180px" name="f_tel" DataType="LimitB" min="6" max="20" Require="false" msg="请输入您正确的联系电话"/></td>
    <td>联系电话为固定电话 如0579-85367402 </td>
  </tr>
    <tr>
    <th height="30" align="right" class="gray"><span class="yellow">*</span> 联系手机：</th>
    <td><input type="text" style="width:180px" name="f_mobile" DataType="LimitB" min="6" max="20" Require="false"  msg="请输入您正确的联系手机"/></td>
    <td>请输入您的联系手机(注:<span class="yellow">联系电话和联系手机至少输入一个</span>)</td>
  </tr>
  
  
  <tr>
    <th height="30" align="right" class="gray"><span class="yellow">*</span> 验证码：</th>
    <td colspan="2"><input type="text" style="width:60px" name="f_code" dataType="Require"  msg="验证码必须。请输入右边图片上的字母!"/> 
      <script language="javascript" src="code.js"></script>请输入图片中的字符</td>
    </tr>
 
  <tr>
    <td align="right">&nbsp;</td>    <td colspan="2"><input type="submit" class="btn_regmain" name="Submit" value="立即报名" /></td>
    </tr>
</table>
</form>
</div>

</div>
<!--content end-->
  
<!--footer begin-->
$foot$
<!-- footer end -->
</body>
</html>