$head$

<!--content begin-->
<div class="guidance">
<strong class="red">所有商品批发报价，请选择商品分类！</strong>
</div>

<div id="content">
<div>
  $getpriceclass$
</div>
<form action="$webvirtual$/products/allpricesave.asp" method="post">
  <table width="100%" border="0" cellpadding="1" cellspacing="1" bgcolor="#dddddd">
    <tr>
      <td width="11%" align="center" bgcolor="#f7f7f7">商品略图</td>
      <td width="17%" align="center" bgcolor="#f7f7f7">商品编号</td>
      <td width="*%" align="center" bgcolor="#f7f7f7">商品名称</td>
      <td width="14%" align="center" bgcolor="#f7f7f7">您的价格</td>
      <td width="10%" align="center" bgcolor="#f7f7f7">库存</td>
	  <td width="10%" align="center" bgcolor="#f7f7f7">起批量</td>
      <td width="10%" align="center" bgcolor="#f7f7f7">购买数量</td>
    </tr>
    $getProducts$
    <tr>
      <td height="36" colspan="7" align="right" bgcolor="#ffffff"><input type="submit" name="Submit2" value="批量购买" /> <input type="button" name="Submit22" value="数量归零" onClick="setzero();"/>        
      &nbsp;</td>
    </tr>
    <tr>
      <td height="30" colspan="7" align="left" bgcolor="#ffffff">&nbsp;<span class="red">1、不购买某商品，数量请保留为0</span></td>
    </tr>
    <tr>
      <td height="30" colspan="7" align="left" bgcolor="#ffffff">&nbsp;<span class="red">2、单个商品订购数量不能超过现货数量</span></td>
    </tr>
    <tr>
      <td height="30" colspan="7" align="left" bgcolor="#ffffff">&nbsp;<span class="red">3、购物车内已经存在的商品，再次提交数量会累加，请提交订单时详细检查您的订购数量！</span></td>
    </tr>
  </table>
</form>
$pages$
</div>
<!--content end-->
<script language="javascript">
function setzero()
{
	$("input[@name='num']").each(function(){
		$(this).attr("value",$(this).attr("defaultValue"));
	});
}
</script>
<!--footer begin-->
$foot$
<!--footer end-->


</body>
</html>