$head$
<!-- header end -->
<script language="javascript" src="$webvirtual$/js/products.js"></script>
<div class="banner_ad"><!--<img src="$skinpath$/images/banner02.jpg">--></div>
<!--banner end-->
<div class="pd_view">首页 -> 投票</div>
<div class="content">
	
	<!--右边商品开始-->
	<div class="productList_right_2">
		<div class="oby_box">
			<!--排序方式-->
			<ul class="l">
				<li><!--排序方式：-->
				 </li>
				  <li><!--<img src="$skinpath$/images/jiege.gif" align="absmiddle" >--></li>
			</ul>
			<!--翻页-->
			<ul class="r">
				<div class="pages">
					<ul>$getshowpage$</ul>
				</div>
			</ul>
	  </div>
		<!--产品开始-->
		<div class="search_list margin6">
			<ul>
				$list$
			</ul>
		</div>
		<!--产品结束-->
		
		<!--翻页开始-->
			<!--翻页-->
            <div class="clear"></div>
				<div class="pages r">
					<ul>
                    $getshowpage$
                    </ul>
				</div>
		<!--翻页结束-->
		
	</div>
</div>
<br>
<!--footer begin-->
$foot$
<!--footer end-->
</body>
</html>