$head
<!-- header end -->
<script language="javascript" src="$webvirtual$/js/products.js"></script>
<script language="javascript" src="$webvirtual$/jquery/jquery.LoadImage2.js"></script>
<!-- content begin -->
<!--guidance-->
<div class="clear"></div>
<div id="guidance">
<a href="/">首页</a> 在线投票
</div>

<div id="content">

<!--right-->
<div class="PagesRight">
<!--detail-->
<div id="ProductDes">
<div class="ProductDesLeft">
<p style="width:400px;height:480px;line-height:480px; background:url($webvirtual$/jquery/images/loading.gif) no-repeat center"><img src="$bigpic1" width="400" height="480" id="p7ssm_im" /></p>
<div class="SmallImg">
<ul>
$修改内容开始
</ul>
</div>

</div>
<script language="javascript">
initImage('$bigpic1');
</script>
<div class="ProductDesRight">
<h2><A href="javascript:;">$名称</A></h2>
<span></span>
<span></span>
<ul>
 <li>编号：$编号</li>  
  <li>当前票数： $票数</li>  
  <li>年龄： $年龄</li> 
  <li>星座： $星座</li>  
  <li>特长： $特长</li> 
  <li>职业： $职业</li>  
  <li>爱好： $爱好</li> 
  <li>座右铭： $座右铭</li> 

<p style="margin:10px 0">
<a href="/products/save_baoming.asp?id=$id"><img src="$skinpath$/images/toupiao.gif" border="0" /></a> </a>
</p>
  
</div>




</div>

<!--Description-->




</div>
<div class="clear"></div>
<div class="detailtitle_2"><h3>其它投票</h3></div>
<div class="FeaturedPro3">
<ul>
$其它投票
</ul>
</div>
<!--content end-->

<!--footer begin-->
<div class="clear"></div>
<!--servers-->
  
<!--footer begin-->
<script language="javascript" src="/js/footdetail.js"></script>
<!-- footer end -->
<!--$updatetime-->
</body>
</html>