$head$
<!-- header end -->
<script language="javascript" src="$webvirtual$/js/products.js"></script>
<div class="banner_ad"><!--<img src="$skinpath$/images/banner02.jpg">--></div>
<!--banner end-->
<div class="pd_view">首页 -> $sortpath$</div>
<div class="content">
	<!--左边分类开始-->
	<div class="productList_left">
		<div class="pd_one write font14"><b>全部商品分类</b></div>
		<div class="pd_line">
			$getclass$
		</div>
		
		<!--价格区间开始-->
		<div class="pd_one margin12 write font14"><b>价格区间查看</b></div>
		<div class="pd_price">
			<ul>
				<li><img src="$skinpath$/images/gonggao_ico.gif" align="absmiddle"> <a href="$priceUrl$price=10">10元以上</a></li>
				<li><img src="$skinpath$/images/gonggao_ico.gif" align="absmiddle"> <a href="$priceUrl$price=10,50">10-50元</a></li>
				<li><img src="$skinpath$/images/gonggao_ico.gif" align="absmiddle"> <a href="$priceUrl$price=50,80">50-80元</a></li>
				<li><img src="$skinpath$/images/gonggao_ico.gif" align="absmiddle"> <a href="$priceUrl$price=80,100">80-100元</a></li>
				<li><img src="$skinpath$/images/gonggao_ico.gif" align="absmiddle"> <a href="$priceUrl$price=100,120">100-120元</a></li>
				<li><img src="$skinpath$/images/gonggao_ico.gif" align="absmiddle"> <a href="$priceUrl$price=120">120元以上</a></li>
			</ul>
		</div>
		
		<!--商品品牌开始-->
		<div class="pd_one margin12 write font14"><b>商品品牌查看</b></div>
		<div class="pd_price">
			<ul>
				<li><img src="$skinpath$/images/la.gif"></li>
				<li><img src="$skinpath$/images/ml.gif"></li>
			</ul>
		</div>
		
		<!--浏览过的商品开始-->
		<div class="pd_one margin12">
			<ul>
				<li class="l write font14"><b>最近看过的商品</b></li>
				<li class="r"><a href="#">清除..</a>&nbsp;&nbsp;</li>
			</ul>
		</div>
		<div class="pd_liunan" id="prolist3">
			<script language="javascript">
			getHistory($bid$);
			</script>
		</div>
	</div>
	<!--左边分类结束-->
	
	<!--右边商品开始-->
	<div class="productList_right">
		<div class="oby_box">
			<!--排序方式-->
			<ul class="l">
				<li>排序方式：
				  <select name="sort" onchange="location.href='$sortUrl$sort='+this.value;">
    <option value="0">选择排序方式</option>
    <option value="1">价格低的商品</option>
    <option value="2">价格高的商品</option>
  </select> </li>
				  <li><img src="$skinpath$/images/jiege.gif" align="absmiddle" ></li>
			</ul>
			<!--翻页-->
			<ul class="r">
				<div class="pages">
					<ul>$getshowpage$</ul>
				</div>
			</ul>
	  </div>
		<!--产品开始-->
		<div class="search_list margin6">
			<ul>
				$getProductList$
			</ul>
		</div>
		<!--产品结束-->
		
		<!--翻页开始-->
			<!--翻页-->
            <div class="clear"></div>
				<div class="pages r">
					<ul>
                    $getshowpage$
                    </ul>
				</div>
		<!--翻页结束-->
		
	</div>
</div>
<br>
<!--footer begin-->
$foot$
<!--footer end-->
</body>
</html>