$head$
<style type="text/css">
.nTab{float:left;width:650px;height:36px;margin:0 auto;margin-bottom:2px;}
.nTab .TabTitle2{clear:both;background:url($skinpath$/images/tabbg.gif) no-repeat;width:650px;height:36px;overflow:hidden;}
.nTab .TabTitle2 ul{border:0;margin:0;padding:0;}
.nTab .TabTitle2 li{float:left;width:70px;cursor:pointer;padding:4px 0 2px 0;list-style-type: none;}
.nTab .TabTitle2 .active{padding:12px 0 0 5px;background:url($skinpath$/images/tabonbg.gif) no-repeat 6px 6px;text-align:center;width:122px;height:24px}
.nTab .TabTitle2 .normal{padding:10px 0 0 5px;width:116px;height:20px;text-align:center;color:#fff}
.nTab .TabContent{width:608px;background:#fff;margin:0px auto;padding:20px;border:1px #c9c9c9 solid;border-top:none;}
.none {display:none;}
</style>
<script type="text/javascript">
function changeframe(url)
{
document.getElementById("paysrc").src=url;
}
</script>
<!-- content begin -->
<!--patch-->
<!--content begin-->
<!--content begin-->
<div id="content">
<!--patch-->
<div class="patch">
<ol class="patch-5 step-3">
  <li class=li-1><span>1.</span>购物车 </li>
  <li class=li-2><span>2.</span>结帐（确认订单） </li>
  <li class=li-3><span>3.</span>付款 </li>
  <li class=li-4><span>4.</span>收货 </li>
  <li class=li-5><span>5.</span>成功 </li>
</ol>
</div>
<div class="clear"></div>
<div style="margin:10px 0; padding-left:12px; line-height:240%">
您的订单已经成功提交，我们会在第一时间进行处理，请记清您的订单号以备查询。<br />
您是通过预存款支付的，我们会尽快地给您发货！
</div>

<div style="margin:20px 0">
<div style="float:left; margin-right:20px; width:283px">
<div style="padding:6px 0 0 18px;height:28px;background:url($skinpath$/images/paylefttitle.gif) no-repeat"><h2>您的订单信息</h2></div>
<div style="padding:8px 0 45px 6px;line-height:220%;border-right:1px solid #cbcbcb">
  您的订单号：<span class="yellow"><strong>$number$</strong></span><br />
  订单总金额：<span class="yellow"><strong>$total$</strong></span> 元<br />
  运     费：<span class="yellow"><strong>$yunfei$</strong></span> 元&nbsp;<span class="yellow">(注：该运费只供参考，具体请咨询客服)</span><br />
  收货人姓名：$truename$<br />
  收货地址：$address1$<br />
  邮政编码：$postcode$<br />
  手机号码：$mobile$<br />
  运送方式：$shname$
  </div>
</div>
<div style="float:left">

  <div class="nTab">
    <!-- 标题开始 -->
    <div class="TabTitle2">
      <ul id="myTab1">
        <li class="active" onClick="nTabs(this,0);"><h2>支付方式</h2></li>     
      </ul>
    </div>
    <!-- 内容开始 -->   
    <div class="TabContent">
      <div id="myTab1_Content0">	
	  <div style="margin:10px 0; padding:3px 0; background:#fefbeb">
	   $zhifu$
	  </div>	   
      <div id="myTab1_Content1">
	  	<iframe src="$zhifuurl$" width="600" height="180" scrolling="no" frameborder="0" id="paysrc"></iframe>       
	   </div>	  
    </div>
  </div>

</div>
</div>

</div>
<!--content end-->
  
<!--footer begin-->
$foot$
<!-- footer end -->
</body>
</html>