$head$
<!-- header end -->
<!--categories-->
<!--content begin-->
<div class="guidance">
<a href="/">首页</a> >> <strong>所有商品分类</strong>
</div>

<div id="content">
$getCateories$
</div>

<!-- content end -->
  
<!--footer begin-->
$foot$
<!-- footer end -->
</body>
</html>