﻿<div id="about">
	<a href="/about/" target="_blank" class="red">关于众邻</a> | <a href="/about/?id=34" target="_blank" class="red">服务条款</a> | <a href="/about/?id=38" target="_blank" class="red">合作商加盟</a> | <a href="/server/?id=17" target="_blank" class="red">加盟条件</a> | <a href="/server/?id=58" target="_blank" class="red">广告报价</a> | <a href="/server/?id=22" target="_blank" class="red">常见问题</a> | <a href="/server" target="_blank" class="red">支付方式</a> | <a href="/server/?id=69" target="_blank" class="red">联系我们</a></div>
	<div id="footer">
	  版权所有 © 2007 - 2009 [ 浙ICP备08000706号 ]众邻网 All Rights Reserved.<br />
	<br />
	<a href="http://www.miibeian.gov.cn/" target="_blank"></a>	
 	<script src="http://s9.cnzz.com/stat.php?id=2166542&web_id=2166542" language="JavaScript"></script>
        </div>
<div align="center">
<a href="http://www.miibeian.gov.cn/CX/main.jsp?3826183516=1925889545" title="备案公共信息查询"><img src="$skinpath$/images/f/1194792476.gif" width="38" height="43" /></a> <a href="http://net.china.cn/chinese/index.htm"><img src="$skinpath$/images/f/1194792484.gif" width="47" height="47" /></a> <a href="http://www.xsp88.com.cn" target="_blank"><img src="$skinpath$/images/f/cxt.jpg" width="149" height="50" /></a> <a href="http://www.zj.cyberpolice.cn/" title="浙江省公安厅网监总队"><img src="$skinpath$/images/f/cyber_police_station_2.gif" width="53" height="53" /></a> <a href="https://www.alipay.com/aip/aip_validate_list.htm?trust_id=AIP09056307" target="_blank"><img src="$skinpath$/images/f/tysj.jpg"></a><a href="http://alipay.xsp2.cn" target="_blank" title="向我付款"><img src="$skinpath$/images/f/zfb.jpg" width="111" height="50" /></a><script>var caid="17566";</script><script src="http://ca.315safe.com/ca.js"></script><br /></div>
